Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Fix gradle warning.
  platform/android/export/export_plugin.cpp
  platform/android/java/app/assetPacksInstallTime/build.gradle
  platform/android/java/app/build.gradle
  platform/android/java/app/settings.gradle
  platform/android/java/settings.gradle
Owners: @godotengine/android

Backported from godot4: [Android] Store native libraries uncompressed in APK.
  platform/android/export/export_plugin.cpp
Owners: @godotengine/android

Added 16kb padding to .so files when packing them to apks in android.
  platform/android/export/export_plugin.cpp
Owners: @godotengine/android

Mark last backported commit.
  CHANGELOG.md
Owners: none

Update android versions in the build container.
  misc/build_containers/Dockerfile.android
Owners: @godotengine/buildsystem

Disable werror for the android workflows, as the slCreateEngine() method got deprecated.
  .github/workflows/android_builds.yml
  .github/workflows/android_editor_builds.yml
Owners: @godotengine/buildsystem

Added compare exchange weak and strong to SafeNumeric.
  core/os/safe_refcount.h
Owners: @godotengine/core

Set version to stable.
  version.py
Owners: @godotengine/buildsystem

Add changes to the changelog.
  CHANGELOG.md
Owners: none

Added highlights, deprectaions and breaking changes to the changelog.
  CHANGELOG.md
Owners: none

Fix typo.
  CHANGELOG.md
Owners: none

Styling improvements to the changelog.
  CHANGELOG.md
Owners: none

Small fixes to the changelog.
  CHANGELOG.md
Owners: none

Bump version.
  version.py
Owners: @godotengine/buildsystem

Deprecated to_json() member methods engine wide. Added as_json() instead.
  modules/totp/doc_classes/TOTP.xml
  modules/totp/totp.cpp
  modules/totp/totp.h
  modules/users/doc_classes/User.xml
  modules/users/managers/user_manager_file.cpp
  modules/users/users/user.cpp
  modules/users/users/user.h
  modules/web/doc_classes/HTTPSession.xml
  modules/web/http/http_session.cpp
  modules/web/http/http_session.h
  modules/web/http/http_session_manager_file.cpp
Owners: none

Removed to_json() member methods instead of deprecating them.
  modules/totp/doc_classes/TOTP.xml
  modules/totp/totp.cpp
  modules/totp/totp.h
  modules/users/doc_classes/User.xml
  modules/users/users/user.cpp
  modules/users/users/user.h
  modules/web/doc_classes/HTTPSession.xml
  modules/web/http/http_session.cpp
  modules/web/http/http_session.h
Owners: none

Added RWReference and RWResource classes.
  core/object/rw_reference.cpp
  core/object/rw_reference.h
  core/object/rw_resource.cpp
  core/object/rw_resource.h
  core/register_core_types.cpp
  doc/classes/RWReference.xml
  doc/classes/RWResource.xml
Owners: @godotengine/core, @godotengine/documentation

Now User and UserModule inherits from RWResource.
  modules/users/doc_classes/User.xml
  modules/users/doc_classes/UserModule.xml
  modules/users/users/user.cpp
  modules/users/users/user.h
  modules/users/users/user_module.cpp
  modules/users/users/user_module.h
Owners: none

Fix Open Editor Data/Settings Folder menu in self-contained mode
  editor/editor_node.cpp
Owners: none

Address API 35 UI changes
  platform/android/java/lib/src/org/pandemoniumengine/pandemonium/FullScreenPandemoniumApp.java
  platform/android/java/lib/src/org/pandemoniumengine/pandemonium/Pandemonium.java
Owners: @godotengine/android

Fix names.
  platform/android/java/lib/src/org/pandemoniumengine/pandemonium/FullScreenPandemoniumApp.java
Owners: @godotengine/android

DDS: Backport fixes from 4.x branch
  modules/dds/texture_loader_dds.cpp
Owners: @godotengine/import

The remaining fixes for the previous patch.
  modules/mbedtls/SCsub
  modules/mbedtls/register_types.cpp
  modules/mbedtls/ssl_context_mbedtls.cpp
  thirdparty/mbedtls/include/godot_module_mbedtls_config.h
  thirdparty/mbedtls/include/pandemonium_module_mbedtls_config.h
Owners: @godotengine/network, @godotengine/buildsystem

Fix build on macOS 26 by removing AGL framework link
  platform/osx/detect.py
Owners: @godotengine/macos

Fast child iteration in `Node`, `Spatial`, `CanvasItem`
  core/containers/local_vector.h
  scene/main/canvas_item.cpp
  scene/main/node.cpp
  scene/main/spatial.cpp
  scene/main/spatial.h
Owners: @godotengine/core

Switch window creation to UIScene.
  misc/dist/ios_xcode/pandemonium_ios/pandemonium_ios-Info.plist
  platform/iphone/SCsub
  platform/iphone/app_delegate.h
  platform/iphone/app_delegate.mm
  platform/iphone/godot_scene_delegate.h
  platform/iphone/godot_scene_delegate.m
  platform/iphone/pandemonium_app_delegate.m
Owners: @godotengine/buildsystem, @godotengine/ios

Fixups for the previous backport.
  platform/iphone/godot_scene_delegate.h
  platform/iphone/godot_scene_delegate.m
  platform/iphone/pandemonium_app_delegate.m
  platform/iphone/pandemonium_scene_delegate.h
  platform/iphone/pandemonium_scene_delegate.m
Owners: @godotengine/ios

Fix `mbedtls` readme duplicated text
  thirdparty/README.md
Owners: @godotengine/buildsystem

FTI - Fix `SceneTreeFTI` depth limit behaviour
  scene/main/scene_tree_fti.cpp
  scene/main/scene_tree_fti.h
Owners: @godotengine/core

VisualServer -> RenderingServer.
  doc/classes/Resource.xml
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/blend_shape.glsl
  drivers/gles3/shaders/scene.glsl
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
  scene/3d/blob_focus.cpp
  scene/3d/blob_shadow.cpp
  scene/3d/light.cpp
  scene/main/scene_tree_fti.cpp
  servers/rendering/rendering_server_blob_shadows.cpp
  servers/rendering/rendering_server_blob_shadows.h
  servers/rendering/rendering_server_constants.h
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_scene.cpp
  servers/rendering/rendering_server_scene.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.h
Owners: @godotengine/documentation, @godotengine/rendering, @godotengine/uwp, @godotengine/3d-nodes, @godotengine/core

Fix some includes and update class name.
  servers/rendering/rendering_server_blob_shadows.cpp
  servers/rendering/rendering_server_blob_shadows.h
Owners: none

Update gizmo virtual method parameters,
  editor/spatial_editor_gizmos.cpp
  editor/spatial_editor_gizmos.h
Owners: none

VSG -> RSG.
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/rendering/rendering_server_scene.cpp
Owners: @godotengine/rendering

Fix includes.
  scene/3d/blob_focus.h
  scene/3d/blob_shadow.h
  scene/main/scene_tree_fti_tests.cpp
Owners: @godotengine/3d-nodes, @godotengine/core

Fix includes.
  scene/3d/blob_focus.cpp
  scene/3d/blob_shadow.cpp
  servers/rendering/rendering_server_blob_shadows.cpp
Owners: @godotengine/3d-nodes

Update BlobShadow gizmo logic.
  editor/spatial_editor_gizmos.cpp
Owners: none

Include and macro fixes.
  scene/3d/blob_focus.cpp
  scene/3d/blob_shadow.cpp
  scene/3d/light.cpp
  servers/rendering/rendering_server_blob_shadows.cpp
  servers/rendering/rendering_server_scene.cpp
Owners: @godotengine/3d-nodes

Removed duplicate methods.
  core/math/projection.cpp
  servers/rendering/rendering_server_scene.cpp
Owners: @godotengine/core

Copyright header update.
  scene/3d/blob_focus.cpp
  scene/3d/blob_focus.h
  scene/3d/blob_shadow.cpp
  scene/3d/blob_shadow.h
  servers/rendering/rendering_server_blob_shadows.cpp
  servers/rendering/rendering_server_blob_shadows.h
Owners: @godotengine/3d-nodes

Update include guard.
  servers/rendering/rendering_server_blob_shadows.h
Owners: none
