Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Enable pdscript by default.
  modules/pdscript/config.py
Owners: @godotengine/buildsystem

Rename the pdscript module to pscript instead.
  modules/pscript/SCsub
  modules/pscript/config.py
  modules/pscript/doc_classes/@PDScript.xml
  modules/pscript/doc_classes/PDScript.xml
  modules/pscript/doc_classes/PDScriptFunctionState.xml
  modules/pscript/editor/pdscript_highlighter.cpp
  modules/pscript/editor/pdscript_highlighter.h
  modules/pscript/icons/icon_p_d_script.svg
  modules/pscript/language_server/lsp.hpp
  modules/pscript/language_server/pdscript_extend_parser.cpp
  modules/pscript/language_server/pdscript_extend_parser.h
  modules/pscript/language_server/pdscript_language_protocol.cpp
  modules/pscript/language_server/pdscript_language_protocol.h
  modules/pscript/language_server/pdscript_language_server.cpp
  modules/pscript/language_server/pdscript_language_server.h
  modules/pscript/language_server/pdscript_text_document.cpp
  modules/pscript/language_server/pdscript_text_document.h
  modules/pscript/language_server/pdscript_workspace.cpp
  modules/pscript/language_server/pdscript_workspace.h
  modules/pscript/pdscript.cpp
  modules/pscript/pdscript.h
  modules/pscript/pdscript_compiler.cpp
  modules/pscript/pdscript_compiler.h
  modules/pscript/pdscript_editor.cpp
  modules/pscript/pdscript_function.cpp
  modules/pscript/pdscript_function.h
  modules/pscript/pdscript_functions.cpp
  modules/pscript/pdscript_functions.h
  modules/pscript/pdscript_parser.cpp
  modules/pscript/pdscript_parser.h
  modules/pscript/pdscript_tokenizer.cpp
  modules/pscript/pdscript_tokenizer.h
  modules/pscript/register_types.cpp
  modules/pscript/register_types.h
Owners: @godotengine/buildsystem

Rename the files.
  modules/pscript/doc_classes/@PScript.xml
  modules/pscript/doc_classes/PScript.xml
  modules/pscript/doc_classes/PScriptFunctionState.xml
  modules/pscript/editor/pscript_highlighter.cpp
  modules/pscript/editor/pscript_highlighter.h
  modules/pscript/icons/icon_p_script.svg
  modules/pscript/language_server/pscript_extend_parser.cpp
  modules/pscript/language_server/pscript_extend_parser.h
  modules/pscript/language_server/pscript_language_protocol.cpp
  modules/pscript/language_server/pscript_language_protocol.h
  modules/pscript/language_server/pscript_language_server.cpp
  modules/pscript/language_server/pscript_language_server.h
  modules/pscript/language_server/pscript_text_document.cpp
  modules/pscript/language_server/pscript_text_document.h
  modules/pscript/language_server/pscript_workspace.cpp
  modules/pscript/language_server/pscript_workspace.h
  modules/pscript/pscript.cpp
  modules/pscript/pscript.h
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_compiler.h
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_function.cpp
  modules/pscript/pscript_function.h
  modules/pscript/pscript_functions.cpp
  modules/pscript/pscript_functions.h
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Rename everything.
  modules/pscript/SCsub
  modules/pscript/config.py
  modules/pscript/doc_classes/@PScript.xml
  modules/pscript/doc_classes/PScript.xml
  modules/pscript/doc_classes/PScriptFunctionState.xml
  modules/pscript/editor/pscript_highlighter.cpp
  modules/pscript/editor/pscript_highlighter.h
  modules/pscript/language_server/lsp.hpp
  modules/pscript/language_server/pscript_extend_parser.cpp
  modules/pscript/language_server/pscript_extend_parser.h
  modules/pscript/language_server/pscript_language_protocol.cpp
  modules/pscript/language_server/pscript_language_protocol.h
  modules/pscript/language_server/pscript_language_server.cpp
  modules/pscript/language_server/pscript_language_server.h
  modules/pscript/language_server/pscript_text_document.cpp
  modules/pscript/language_server/pscript_text_document.h
  modules/pscript/language_server/pscript_workspace.cpp
  modules/pscript/language_server/pscript_workspace.h
  modules/pscript/pscript.cpp
  modules/pscript/pscript.h
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_compiler.h
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_function.cpp
  modules/pscript/pscript_function.h
  modules/pscript/pscript_functions.cpp
  modules/pscript/pscript_functions.h
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
  modules/pscript/register_types.cpp
  modules/pscript/register_types.h
Owners: @godotengine/buildsystem

Update pscript in main. Also fix setting port.
  main/main.cpp
Owners: @godotengine/core

Fix typo.
  modules/pscript/editor/pscript_highlighter.cpp
  modules/pscript/editor/pscript_highlighter.h
  modules/pscript/language_server/lsp.hpp
  modules/pscript/language_server/pscript_extend_parser.cpp
  modules/pscript/language_server/pscript_extend_parser.h
  modules/pscript/language_server/pscript_text_document.cpp
  modules/pscript/pscript.cpp
  modules/pscript/pscript.h
  modules/pscript/pscript_functions.cpp
Owners: none

Only allow ; as the end statement.
  modules/pscript/pscript_parser.cpp
Owners: none

Reword error.
  modules/pscript/pscript_parser.cpp
Owners: none

Remove type inference (:= operator) from pscript.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

Removed yield from pscript.
  modules/pscript/doc_classes/PScriptFunctionState.xml
  modules/pscript/pscript.cpp
  modules/pscript/pscript.h
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_function.cpp
  modules/pscript/pscript_function.h
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
  modules/pscript/register_types.cpp
Owners: none

Added a new dictinary literal to pscript, as the plain curly brace is going to be used for scopes.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Change GDScript text to just Script in ProjectExportDialog.
  editor/project_export.cpp
Owners: none

Fix crash.
  modules/pscript/pscript_function.h
Owners: none

Fix dev assert being triggered.
  modules/gdscript/gdscript.cpp
  modules/pscript/pscript.cpp
Owners: @godotengine/gdscript

PScript now uses {} instead of indents.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

Fix parsing if.
  modules/pscript/pscript_parser.cpp
Owners: none

Removed the pass keyword from pscript.
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Rename the self keyword to this in PScript.
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_tokenizer.cpp
Owners: none

Udpated the keyword list in PScriptLanguage::get_reserved_words().
  modules/pscript/pscript.cpp
Owners: none

Added Variant as a usable type to PScript.
  modules/pscript/pscript.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Implement c-like function definition syntax for PScript.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

Implement c-like syntax for class variables in PScript..
  modules/pscript/pscript_parser.cpp
Owners: none

Allow a single ; and newline after the export keyword in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Removed old function definition style from PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Removed old class variable definition type from PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Implement c-like class constant declaration for PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Note.
  modules/pscript/pscript_parser.cpp
Owners: none

Note.
  modules/pscript/pscript_parser.cpp
Owners: none

Remove unneeded code.
  modules/pscript/pscript_parser.cpp
Owners: none

Use else if instead of elif in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Fix parsing inner classes in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Allow a ; after an inner class declaration in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Implement c-like variable declaration syntax for built in variables in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Removed _parse_type_identifier as it did not handle subclasses directly.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

Notes.
  modules/pscript/pscript_parser.cpp
Owners: none

Added :: as a token, classes inside classes now use this as their type. (Similar to how c++ does it.)
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Remove note, as the :: syntax seems better.
  modules/pscript/pscript_parser.cpp
Owners: none

Allow indexing in expressions using :: aswell.
  modules/pscript/pscript_parser.cpp
Owners: none

Tweak errors.
  modules/pscript/pscript_parser.cpp
Owners: none

Remove the now unused elif token from PScript.
  modules/pscript/pscript.cpp
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none
