Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Fix include.
  editor_modules/fbx/data/fbx_material.cpp
Owners: none

Quat was renamed to Quaternion.
  editor_modules/fbx/data/pivot_transform.cpp
  editor_modules/fbx/data/pivot_transform.h
Owners: none

SpatialMaterial was not renamed in Pandemonium.
  editor_modules/fbx/data/fbx_material.cpp
  editor_modules/fbx/data/fbx_material.h
  editor_modules/fbx/data/fbx_mesh_data.cpp
  editor_modules/fbx/data/import_state.h
  editor_modules/fbx/editor_scene_importer_fbx.cpp
Owners: none

Fix more Quat-s.
  editor_modules/fbx/tools/import_utils.cpp
  editor_modules/fbx/tools/import_utils.h
Owners: none

Map was renamed.
  editor_modules/fbx/data/fbx_mesh_data.cpp
Owners: none

Include ordered hash map.
  editor_modules/fbx/data/fbx_mesh_data.cpp
Owners: none

VS was renamed.
  editor_modules/fbx/data/fbx_mesh_data.cpp
Owners: none

Include skin.
  editor_modules/fbx/data/import_state.h
Owners: none

Fbx parser needs dynamic cast.
  editor_modules/fbx/SCsub
Owners: @godotengine/buildsystem

get_rotation_quat was renamed get_rotation_quaternion.
  editor_modules/fbx/data/pivot_transform.cpp
Owners: none

Map is now RBMap.
  editor_modules/fbx/data/fbx_skeleton.cpp
Owners: none

Fix include.
  editor_modules/fbx/fbx_parser/FBXParser.cpp
Owners: none

Fix includes.
  editor_modules/fbx/editor_scene_importer_fbx.cpp
  editor_modules/fbx/editor_scene_importer_fbx.h
Owners: none

Fix search and replace issue.
  editor_modules/fbx/data/pivot_transform.cpp
Owners: none

set_quat was renamed.
  editor_modules/fbx/data/pivot_transform.cpp
Owners: none

Map is now RBMap.
  editor_modules/fbx/editor_scene_importer_fbx.cpp
Owners: none

Fix Quat more errors due to renames.
  editor_modules/fbx/editor_scene_importer_fbx.cpp
Owners: none

Fix GLOBAL_GET_CACHED call.
  editor_modules/fbx/editor_scene_importer_fbx.cpp
Owners: none

Transform tracks were removed.
  editor_modules/fbx/editor_scene_importer_fbx.cpp
Owners: none

Added the skeleton_3d module as a hard dependency for the fbx module.
  editor_modules/fbx/config.py
Owners: @godotengine/buildsystem

Set up copyright.txt for the fbx module.
  editor_modules/fbx/COPYRIGHT.txt
  editor_modules/fbx/config.py
Owners: @godotengine/buildsystem

Apparently the rtti setting need to match the engine's for the fbx module as some of the code uses core classes.
  editor_modules/fbx/SCsub
Owners: @godotengine/buildsystem

Added custom rtti implementation for the fbx module's Object.
  editor_modules/fbx/fbx_parser/FBXDocument.h
Owners: none

Added FBXClass macro the the fbx modules's geometry classes.
  editor_modules/fbx/fbx_parser/FBXMeshGeometry.h
Owners: none

Add missing const.
  editor_modules/fbx/fbx_parser/FBXDocument.h
Owners: none

Custom rtti implementation for FBXProperties.
  editor_modules/fbx/fbx_parser/FBXProperties.h
Owners: none

Now the fbx module supports disabled rtti.
  editor_modules/fbx/data/fbx_material.cpp
  editor_modules/fbx/editor_scene_importer_fbx.cpp
  editor_modules/fbx/editor_scene_importer_fbx.h
  editor_modules/fbx/fbx_parser/FBXAnimation.cpp
  editor_modules/fbx/fbx_parser/FBXDocument.h
  editor_modules/fbx/fbx_parser/FBXDocumentUtil.h
  editor_modules/fbx/fbx_parser/FBXMaterial.cpp
  editor_modules/fbx/fbx_parser/FBXModel.cpp
Owners: none

Added the fbx module to the sample module config file.
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

Rename godot to pandemonium in the fbx module.
  editor_modules/fbx/data/fbx_bone.h
  editor_modules/fbx/data/fbx_material.cpp
  editor_modules/fbx/data/fbx_material.h
  editor_modules/fbx/data/fbx_mesh_data.cpp
  editor_modules/fbx/data/fbx_mesh_data.h
  editor_modules/fbx/data/fbx_node.h
  editor_modules/fbx/data/fbx_skeleton.cpp
  editor_modules/fbx/editor_scene_importer_fbx.cpp
  editor_modules/fbx/readme.md
  editor_modules/fbx/tools/import_utils.cpp
  editor_modules/fbx/tools/import_utils.h
Owners: none

Added get_class virtual to the FBX loader's Object.
  editor_modules/fbx/fbx_parser/FBXDocument.h
Owners: none

Improve casting logic for the fbx module in 2 helper methods.
  editor_modules/fbx/fbx_parser/FBXDocument.h
Owners: none

Added get_class virtual to FBXProperties.
  editor_modules/fbx/fbx_parser/FBXProperties.h
Owners: none

Fix casting in the fbx module.
  editor_modules/fbx/fbx_parser/FBXDocument.h
  editor_modules/fbx/fbx_parser/FBXProperties.h
Owners: none

Add back old error message.
  editor_modules/fbx/data/fbx_material.cpp
Owners: none

Added missing GDClass declaration.
  editor_modules/fbx/data/fbx_mesh_data.h
Owners: none

Set name for meshes in FBXMeshData::create_fbx_mesh(), as the editor uses this name when saving them as external.
  editor_modules/fbx/data/fbx_mesh_data.cpp
Owners: none

Added missing default parameter.
  editor_modules/fbx/editor_scene_importer_fbx.h
Owners: none

Fix ResourceFormatBinary being unable to load internal resources properly.
  core/io/resource_format_binary.cpp
Owners: @godotengine/core

Fix build when gles3 is disabled.
  platform/windows/platform_config.h
  platform/x11/platform_config.h
Owners: @godotengine/windows, @godotengine/linux-bsd

Fix build for the rest of the platforms when gles3 is disabled.
  platform/frt/platform_config.h
  platform/frt_sdl/platform_config.h
  platform/iphone/platform_config.h
  platform/javascript/platform_config.h
  platform/osx/platform_config.h
Owners: @godotengine/ios, @godotengine/html5, @godotengine/macos
