Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Require ; after class_name aswell in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Allow : to be used as extend aswell in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Implement // style comments for PScript.
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_tokenizer.cpp
Owners: none

Remove var keyword from PScript.
  modules/pscript/editor/pscript_highlighter.cpp
  modules/pscript/pscript.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Fix Instanting inner classes inside their outer classes.
  modules/pscript/pscript_parser.cpp
Owners: none

Fix PScriptLanguage::find_function().
  modules/pscript/pscript_editor.cpp
Owners: none

Remove now unused func keyword from PScript.
  modules/pscript/editor/pscript_highlighter.cpp
  modules/pscript/pscript.cpp
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Implement raw (no beginning statement, like if while, etc.) control flow blocks to PScript.
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

Add PScripts to the default rearch extension list.
  core/config/project_settings.cpp
Owners: @godotengine/core

Rename the current for to foreach in PScript.
  modules/pscript/pscript.cpp
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Fix up templates for PScript.
  modules/pscript/pscript_editor.cpp
Owners: none

Keyword list udpates.
  modules/pscript/pscript.cpp
  modules/pscript/pscript_editor.cpp
Owners: none

Update method auto complete hints for PScript.
  modules/pscript/pscript_editor.cpp
Owners: none

Also ignore // in PScriptLanguage::auto_indent_code().
  modules/pscript/pscript_editor.cpp
Owners: none

Update 2 more autocomplete argument hints for PScript.
  modules/pscript/pscript_editor.cpp
Owners: none

Don't print error in TypedArray and PackedTypedArray when setting types.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core

Fix marshalling TypedArray and PackedTypedArray.
  core/io/marshalls.cpp
Owners: @godotengine/core

Fix debug print.
  core/io/marshalls.cpp
Owners: @godotengine/core

Fix compile.
  core/io/marshalls.cpp
Owners: @godotengine/core

Added a new type + virtuals completion type for in-class completion.
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

Rename the wildcard token to "default".
  modules/pscript/pscript.cpp
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_tokenizer.cpp
Owners: none

Simplified and fixed up match in PScript.
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Renamed match to switch.
  modules/pscript/pscript.cpp
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Fix default label and tweak error messages.
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Rework the switch statement, now it's make it more c-like.
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_parser.cpp
Owners: none

Cleanups.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

More cleanups.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

Fix the switch statement's codegen. Also set line numbers, so it also looks nice in the in-engine debugger.
  modules/pscript/pscript_compiler.cpp
Owners: none

Rename nodes and variables from match to switch.
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

Foreach now requires an explicit type, also now it supports having parentheses around the iteration variables.
  modules/pscript/pscript_parser.cpp
Owners: none

Re-enable the range optimization for foreach.
  modules/pscript/pscript_parser.cpp
Owners: none

Add type support for signals in PScript.
  modules/pscript/pscript.cpp
  modules/pscript/pscript.h
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

For loop for PScript pt1.
  modules/pscript/pscript.cpp
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

For loop for PScript pt2.
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_parser.cpp
Owners: none

Cleanups.
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_parser.cpp
Owners: none

Fix some for loops exiting early.
  modules/pscript/pscript_parser.cpp
Owners: none

Allow multiple statements, separated by ',' in the for loop post iteration condition.
  modules/pscript/pscript_parser.cpp
Owners: none

Update the core type list in ScriptLanguage.
  core/object/script_language.cpp
Owners: @godotengine/core

Split LSP settings for pscript and gdscript.
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_language_server.cpp
  modules/pscript/language_server/pscript_language_protocol.cpp
  modules/pscript/language_server/pscript_language_server.cpp
Owners: @godotengine/gdscript

Require a ; after the tool keyword.
  modules/pscript/pscript_parser.cpp
Owners: none
