Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Use Math::is_inf() instead of including stdlib.
  scene/gui/texture_progress.cpp
Owners: @godotengine/gui-nodes

Fix mouse_over not dropped when mouse leaves window
  scene/main/viewport.cpp
  scene/main/viewport.h
Owners: @godotengine/core

Cancel tooltips when mouse leaves window
  scene/main/viewport.cpp
Owners: @godotengine/core

Improve Class display in Create dialog
  editor/create_dialog.cpp
  editor/create_dialog.h
Owners: none

Fix double TOOLS_ENABLED checks from NO_EDITOR_SPLASH.
  main/main.cpp
Owners: @godotengine/core

Expose some helper methods on Viewport
  doc/classes/Viewport.xml
  scene/main/control.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Owners: @godotengine/documentation, @godotengine/core

FTI - Optimize `SceneTree` traversal
  doc/classes/ProjectSettings.xml
  scene/main/node.h
  scene/main/scene_tree_fti.cpp
  scene/main/scene_tree_fti.h
  scene/main/scene_tree_fti_tests.cpp
  scene/main/scene_tree_fti_tests.h
  scene/main/spatial.cpp
  scene/main/spatial.h
Owners: @godotengine/documentation, @godotengine/core

Fix unzSeekCurrentFile not resetting total_out_64.
  thirdparty/minizip/patches/godot-seek.patch
  thirdparty/minizip/unzip.c
Owners: @godotengine/buildsystem

`SceneTreeFTI` - fix identity_xform flag getting out of sync
  scene/main/spatial.cpp
Owners: @godotengine/core

Show TextureProgress radial cross only when editing the scene
  scene/gui/texture_progress.cpp
Owners: @godotengine/gui-nodes

`SceneTreeFTI` - Fix `force_update` flag for invisible nodes
  scene/main/scene_tree_fti.cpp
Owners: @godotengine/core

FTI - `global_transform_interpolated()` on demand for invisible nodes
  scene/main/spatial.cpp
Owners: @godotengine/core

Pre-calculate `is_visible_in_tree()`
  scene/main/spatial.cpp
  scene/main/spatial.h
Owners: @godotengine/core

FTI - Reduce `VisualInstance` xform notifications
  scene/3d/camera.cpp
  scene/3d/visual_instance.cpp
  scene/main/spatial.cpp
  scene/main/spatial.h
Owners: @godotengine/3d-nodes, @godotengine/core

certs: Sync with upstream as of Apr 8 2025
  thirdparty/README.md
  thirdparty/certs/ca-certificates.crt
Owners: @godotengine/buildsystem

mbedTLS: Update to version 2.28.10
  thirdparty/README.md
  thirdparty/mbedtls/include/mbedtls/config.h
  thirdparty/mbedtls/include/mbedtls/debug.h
  thirdparty/mbedtls/include/mbedtls/error.h
  thirdparty/mbedtls/include/mbedtls/gcm.h
  thirdparty/mbedtls/include/mbedtls/net_sockets.h
  thirdparty/mbedtls/include/mbedtls/ssl.h
  thirdparty/mbedtls/include/mbedtls/ssl_internal.h
  thirdparty/mbedtls/include/mbedtls/version.h
  thirdparty/mbedtls/library/aesni.c
  thirdparty/mbedtls/library/ecp.c
  thirdparty/mbedtls/library/error.c
  thirdparty/mbedtls/library/net_sockets.c
  thirdparty/mbedtls/library/ssl_cli.c
  thirdparty/mbedtls/library/ssl_tls.c
  thirdparty/mbedtls/library/version_features.c
Owners: @godotengine/buildsystem

Initialize pa_buffer_attr.maxlength to -1
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
Owners: @godotengine/audio

Disable Nahimic code injection.
  platform/windows/os_windows.cpp
Owners: @godotengine/windows

Fix Xbox Controller on Android
  core/input/pandemoniumcontrollerdb.txt
  platform/android/java/lib/src/org/pandemoniumengine/pandemonium/input/PandemoniumInputHandler.java
Owners: @godotengine/core, @godotengine/android

Remove implicit conversion from `LocalVector` to `Vector`
  core/containers/local_vector.h
  editor_modules/lightmapper_cpu/lightmapper_cpu.cpp
  modules/fbx/data/fbx_mesh_data.cpp
  scene/3d/room_manager.cpp
  scene/resources/mesh/merging_tool.cpp
  scene/resources/mesh/merging_tool.h
  servers/rendering/portals/portal_renderer.h
  servers/rendering/portals/portal_types.cpp
Owners: @godotengine/core, @godotengine/import, @godotengine/3d-nodes

Remove implicit conversion from `LocalVector` to `PoolVector`
  core/containers/local_vector.h
  core/math/vertex_cache_optimizer.cpp
  scene/resources/mesh/merging_tool.cpp
  scene/resources/mesh/merging_tool.h
Owners: @godotengine/core

Update VisualServer call.
  editor/editor_node.cpp
Owners: none

Make conversions explicit.
  modules/layered_tile_map/layered_tile_set.cpp
  modules/skeleton_3d/editor/skeleton_editor_plugin.cpp
Owners: none

Update method call.
  scene/main/control.cpp
Owners: @godotengine/core

Add missing include.
  scene/main/scene_tree_fti.cpp
Owners: @godotengine/core

Mark last backported commit.
  CHANGELOG.md
Owners: none

Updated build containers from upstream godot.
  misc/build_containers/Dockerfile.android
  misc/build_containers/Dockerfile.appleembedded
  misc/build_containers/Dockerfile.base
  misc/build_containers/Dockerfile.ios
  misc/build_containers/Dockerfile.javascript
  misc/build_containers/Dockerfile.linux
  misc/build_containers/Dockerfile.osx
  misc/build_containers/Dockerfile.windows
  misc/build_containers/Dockerfile.xcode
  misc/build_containers/build_all.sh
  misc/build_containers/build_containers.sh
  misc/build_containers/engine_build_scripts/ios.sh
  misc/build_containers/extract_xcode_sdks.sh
  misc/build_containers/files/appleembedded/build.sh
  misc/build_containers/files/appleembedded/check-arm.sh
  misc/build_containers/files/appleembedded/wrapper.c
  misc/build_containers/files/patches/osxcross-fix-visionos.patch
  misc/build_containers/files/patches/osxcross-pr284-compiler-rt.patch
Owners: @godotengine/buildsystem

Update toolchain links in the linux build container.
  misc/build_containers/Dockerfile.linux
Owners: @godotengine/buildsystem

Fix the osx build container.
  misc/build_containers/Dockerfile.osx
Owners: @godotengine/buildsystem

Fix the new apple embedded build container.
  misc/build_containers/Dockerfile.appleembedded
Owners: @godotengine/buildsystem

Build the new apple embedded container.
  misc/build_containers/build_containers.sh
Owners: @godotengine/buildsystem

Update copyright information in main.
  main/main.cpp
Owners: @godotengine/core

Removed unneeded file.
  modules/fbx/data/fbx_mesh_data.cpp
Owners: @godotengine/import

Remove stray rset and rpc mode variables from gdnative.
  modules/gdnative/include/pluginscript/pandemonium_pluginscript.h
  modules/gdnative/nativescript/nativescript.h
  modules/gdnative/nativescript/pandemonium_nativescript.cpp
  modules/gdnative/pluginscript/pluginscript_script.cpp
  modules/gdnative/pluginscript/pluginscript_script.h
Owners: @godotengine/gdnative

Removed stray rset_mode and multiplayer keywords from the docs.
  doc/classes/Node.xml
Owners: @godotengine/documentation

Removed more stray old multiplayer keywords from the docs.
  doc/classes/MultiplayerAPI.xml
  doc/classes/Node.xml
Owners: @godotengine/documentation

`Spatial` and `CanvasItem` children change to `LocalVector`
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/main/spatial.cpp
  scene/main/spatial.h
Owners: @godotengine/core

Allow constructing Quat from two Vector3s
  core/math/quaternion.h
  core/variant/variant_call.cpp
  doc/classes/Quaternion.xml
Owners: @godotengine/core, @godotengine/documentation

Move set_shortest_arc to it's proper place.
  core/math/quaternion.h
Owners: @godotengine/core

Fix build.
  core/math/quaternion.h
Owners: @godotengine/core

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
