Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Docs for PDFDocument pt2.
  modules/pdf_generator/doc_classes/PDFDocument.xml
Owners: none

Docs for PDFDate.
  modules/pdf_generator/doc_classes/PDFDate.xml
Owners: none

Re-extracted class docs.
  modules/pdf_generator/doc_classes/PDFDocument.xml
Owners: none

Bind permission constants in PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Docs for PDFFont.
  modules/pdf_generator/doc_classes/PDFFont.xml
Owners: none

Added GraphicsMode enum to PDFPage.
  modules/pdf_generator/pdf_page.cpp
  modules/pdf_generator/pdf_page.h
Owners: none

Initial docs for PDFPage.
  modules/pdf_generator/doc_classes/PDFPage.xml
Owners: none

Initial docs for PDFPage.
  modules/pdf_generator/doc_classes/PDFPage.xml
Owners: none

Docs for PDFEncoder.
  modules/pdf_generator/doc_classes/PDFEncoder.xml
Owners: none

Initial docs for some of the annotations.
  modules/pdf_generator/doc_classes/PDFAnnotation.xml
  modules/pdf_generator/doc_classes/PDFAnnotationLink.xml
  modules/pdf_generator/doc_classes/PDFAnnotationText.xml
Owners: none

Docs for PDFDestination.
  modules/pdf_generator/doc_classes/PDFDestination.xml
Owners: none

Docs for PDFOutline.
  modules/pdf_generator/doc_classes/PDFOutline.xml
Owners: none

Initial docs for PDFImage.
  modules/pdf_generator/doc_classes/PDFImage.xml
Owners: none

Re-extracted class docs.
  modules/pdf_generator/doc_classes/PDFDestination.xml
  modules/pdf_generator/doc_classes/PDFPage.xml
Owners: none

Small tweaks.
  modules/pdf_generator/doc_classes/PDFDestination.xml
  modules/pdf_generator/doc_classes/PDFPage.xml
Owners: none

Rect positions are used as the bottom left point now in the pdf_generator module.
  modules/pdf_generator/doc_classes/PDFDocument.xml
  modules/pdf_generator/pdf_annotation.cpp
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_font.cpp
  modules/pdf_generator/pdf_page.cpp
Owners: none

Fix PDFDocument::save_to_mem().
  modules/pdf_generator/pdf_document.cpp
Owners: none

Added send_raw_data() helper method to WebServerRequest.
  modules/http_server_simple/http_server_simple.cpp
  modules/http_server_simple/http_server_simple.h
  modules/http_server_simple/simple_web_server_request.cpp
  modules/http_server_simple/simple_web_server_request.h
  modules/web/http/web_server_request.cpp
  modules/web/http/web_server_request.h
  modules/web/http/web_server_request_scriptable.cpp
  modules/web/http/web_server_request_scriptable.h
Owners: none

Added missing virtual declarations to WebServerRequestScriptable.
  modules/web/http/web_server_request_scriptable.h
Owners: none

Added helper methods to easily set the Content-Disposition header in WebServerRequest. Also added custom_response_header_erase() helper method.
  modules/web/http/web_server_request.cpp
  modules/web/http/web_server_request.h
Owners: none

Tweak the content_disposition helper methods in WebServerRequest.
  modules/web/http/web_server_request.cpp
  modules/web/http/web_server_request.h
Owners: none

Added automatic Content-Type header setup when sending raw data in HTTPServerConnection.
  modules/http_server_simple/http_server_simple.cpp
Owners: none

Added content_disposition_set() helper method to WebServerRequest. And also a small tweak.
  modules/web/http/web_server_request.cpp
  modules/web/http/web_server_request.h
Owners: none

Add docs for the new methods.
  modules/web/doc_classes/WebServerRequest.xml
  modules/web/doc_classes/WebServerRequestScriptable.xml
Owners: none

Small doc tweak.
  modules/web/doc_classes/WebServerRequest.xml
Owners: none

Note.
  README.md
Owners: none

Added a binder class for StringBuilder.
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/register_core_types.cpp
  doc/classes/StringBuilder.xml
  editor/icons/icon_string_builder.svg
Owners: @godotengine/core, @godotengine/documentation, @godotengine/usability

Get rid of the temp folder.
  temp/mutex.cpp
  temp/mutex.h
  temp/mutex_posix.cpp
  temp/mutex_posix.h
  temp/mutex_windows.cpp
  temp/mutex_windows.h
  temp/rw_lock.cpp
  temp/rw_lock.h
  temp/rw_lock_posix.cpp
  temp/rw_lock_posix.h
  temp/rw_lock_windows.cpp
  temp/rw_lock_windows.h
  temp/safe_refcount.cpp
  temp/safe_refcount.h
  temp/semaphore.cpp
  temp/semaphore.h
  temp/semaphore_iphone.cpp
  temp/semaphore_iphone.h
  temp/semaphore_osx.cpp
  temp/semaphore_osx.h
  temp/semaphore_posix.cpp
  temp/semaphore_posix.h
  temp/semaphore_windows.cpp
  temp/semaphore_windows.h
  temp/thread.cpp
  temp/thread.h
  temp/thread_jandroid.cpp
  temp/thread_jandroid.h
  temp/thread_posix.cpp
  temp/thread_posix.h
  temp/thread_uwp.cpp
  temp/thread_uwp.h
  temp/thread_windows.cpp
  temp/thread_windows.h
Owners: none

Amit changed signals in HTMLTemplateData.
  modules/web/html/html_template_data.cpp
Owners: none

HTMLTemplaterenderer class setup.
  modules/web/SCsub
  modules/web/config.py
  modules/web/html/html_template_renderer.cpp
  modules/web/html/html_template_renderer.h
  modules/web/register_types.cpp
Owners: @godotengine/buildsystem

Initial HTMLTemplaterenderer setup.
  modules/web/html/html_template_renderer.cpp
  modules/web/html/html_template_renderer.h
Owners: none

Notes.
  modules/web/html/html_template_renderer.cpp
Owners: none

More initial tweaks to HTMLTemplaterenderer.
  modules/web/html/html_template_renderer.cpp
  modules/web/html/html_template_renderer.h
Owners: none

More initial tweaks to HTMLTemplaterenderer.
  modules/web/html/html_template_renderer.cpp
  modules/web/html/html_template_renderer.h
Owners: none

Initial tokenization setup for HTMLTemplaterenderer.
  modules/web/html/html_template_renderer.cpp
  modules/web/html/html_template_renderer.h
Owners: none

Constructor and destructor for HTMLTemplaterenderer.
  modules/web/html/html_template_renderer.cpp
Owners: none

HTML Data tokenization.
  modules/web/html/html_template_renderer.cpp
  modules/web/html/html_template_renderer.h
Owners: none

Also handle double curly brace open in non-html data mode.
  modules/web/html/html_template_renderer.cpp
Owners: none

More tweaks.
  modules/web/html/html_template_renderer.cpp
  modules/web/html/html_template_renderer.h
Owners: none

Added more methods to HTMLTemplaterenderer (from Expression).
  modules/web/html/html_template_renderer.cpp
  modules/web/html/html_template_renderer.h
Owners: none
