Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Docs for the new methods.
  modules/users/doc_classes/User.xml
  modules/users/doc_classes/UserManager.xml
Owners: none

Store the owner UserManager in User as an ObjectID.
  modules/users/users/user.cpp
  modules/users/users/user.h
Owners: none

Use the owner UserManager when saving Users.
  modules/users/users/user.cpp
Owners: none

Added internal user name and email support for Users.
  modules/users/users/user.cpp
  modules/users/users/user.h
Owners: none

Updated the UserManagers to use the new internal name and email. Also made sure to call the base _create_user in all UserManagers.
  modules/users/managers/user_manager_db.cpp
  modules/users/managers/user_manager_db.h
  modules/users/managers/user_manager_file.cpp
  modules/users/managers/user_manager_file.h
  modules/users/managers/user_manager_static.cpp
  modules/users/managers/user_manager_static.h
Owners: none

Docs for the new methods.
  modules/users/doc_classes/User.xml
Owners: none

Remove unneeded #if. Also comment.
  modules/users/managers/user_manager_db.cpp
Owners: none

Docs for the UserManager implementations.
  modules/users/doc_classes/UserManagerDB.xml
  modules/users/doc_classes/UserManagerFile.xml
  modules/users/doc_classes/UserManagerStatic.xml
Owners: none

Docs for UserModule.
  modules/users/doc_classes/UserModule.xml
Owners: none

Docs for the UserWebPages.
  modules/users/doc_classes/UserDeleteWebPage.xml
  modules/users/doc_classes/UserLoginWebPage.xml
  modules/users/doc_classes/UserLogoutWebPage.xml
  modules/users/doc_classes/UserPasswordResetWebPage.xml
  modules/users/doc_classes/UserRegisterWebPage.xml
  modules/users/doc_classes/UserSessionSetupWebServerMiddleware.xml
  modules/users/doc_classes/UserSettingsWebPage.xml
  modules/users/doc_classes/UserStatsWebPage.xml
  modules/users/doc_classes/UserWebPage.xml
Owners: none

Set maximum password length in UserRegisterWebPage just for good measure (256).
  modules/users/web/web_nodes/user_register_web_page.cpp
Owners: none

Remove now unneeded comment.
  modules/users/web/web_nodes/user_register_web_page.cpp
Owners: none

Also set a maximum password length of 256 in UserLoginWebPage.
  modules/users/web/web_nodes/user_login_web_page.cpp
Owners: none

Remove unneeded comments in UserLoginWebPage.
  modules/users/web/web_nodes/user_login_web_page.cpp
Owners: none

Set maximum password length of 256 in UserSettingsWebPage aswell.
  modules/users/web/web_nodes/user_settings_web_page.cpp
Owners: none

Remove unneeded comments in UserSettingsWebPage.
  modules/users/web/web_nodes/user_settings_web_page.cpp
Owners: none

Include cleanups in UserWebPages.
  modules/users/web/web_nodes/user_delete_web_page.cpp
  modules/users/web/web_nodes/user_logout_web_page.cpp
  modules/users/web/web_nodes/user_password_reset_web_page.cpp
  modules/users/web/web_nodes/user_register_web_page.cpp
  modules/users/web/web_nodes/user_settings_web_page.cpp
Owners: none

Added missing user locks.
  modules/users/managers/user_manager_db.cpp
  modules/users/web/web_nodes/user_settings_web_page.cpp
Owners: none

Implemented table version support for SQLite3DatabaseConnection.
  modules/database/database_connection.cpp
  modules/database_sqlite/sqlite3_connection.cpp
  modules/database_sqlite/sqlite3_connection.h
Owners: none

Removed unused include.
  modules/database_sqlite/sqlite3_connection.cpp
Owners: none

Removed unnecessary overloads from QueryBuilder.
  modules/database/query_builder.cpp
  modules/database/query_builder.h
  modules/database_sqlite/sqlite3_query_builder.cpp
  modules/database_sqlite/sqlite3_query_builder.h
Owners: none

Removed unused include.
  modules/database_sqlite/sqlite3_query_builder.cpp
Owners: none

Removed unnecessary #if.
  modules/web/database/http_session_manager_db.cpp
Owners: none

Added alter table helper methods to TableBuilder.
  modules/database/table_builder.cpp
  modules/database/table_builder.h
  modules/database_sqlite/sqlite3_table_builder.cpp
  modules/database_sqlite/sqlite3_table_builder.h
Owners: none

UserManagerDB now can update it's tables to the newer format.
  modules/users/managers/user_manager_db.cpp
Owners: none

Re-extracted class docs.
  modules/users/doc_classes/UserLoginWebPage.xml
  modules/users/doc_classes/UserRegisterWebPage.xml
  modules/users/doc_classes/UserSettingsWebPage.xml
Owners: none

Fix missing tag in UserPasswordResetWebPage's docs.
  modules/users/doc_classes/UserPasswordResetWebPage.xml
Owners: none

Fix method bind name.
  modules/database/table_builder.cpp
Owners: none

Docs for the new TableBuilder methods.
  modules/database/doc_classes/TableBuilder.xml
Owners: none

Re-extracted class docs.
  modules/users/doc_classes/UserPasswordResetWebPage.xml
Owners: none

Split concatenations into multiple lines in SQLite3TableBuilder, since now TableBuilders use a StringBuilder this saves a little bit on concatenating strings.
  modules/database_sqlite/sqlite3_table_builder.cpp
Owners: none

Added recommandations to PreparedStatement and QueryBuilder's docs.
  modules/database/doc_classes/PreparedStatement.xml
  modules/database/doc_classes/QueryBuilder.xml
Owners: none

Added Database::get_backend_name() virtual method.
  modules/database/database.cpp
  modules/database/database.h
  modules/database_sqlite/sqlite3_database.cpp
  modules/database_sqlite/sqlite3_database.h
Owners: none

Doc for the new method.
  modules/database/doc_classes/Database.xml
Owners: none

Document set_table_version() being able to remove entries.
  modules/database/doc_classes/DatabaseConnection.xml
Owners: none

Update links in the docs. Pt. 4.
  CHANGELOG.md
  doc/classes/Basis.xml
  doc/classes/CharFXTransform.xml
  doc/classes/Environment3D.xml
  doc/classes/Joint.xml
  doc/classes/NetworkedMultiplayerPeer.xml
  doc/classes/Node2D.xml
  doc/classes/Object.xml
  doc/classes/Panel.xml
  doc/classes/Plane.xml
  doc/classes/QuadMesh.xml
  doc/classes/RandomNumberGenerator.xml
  doc/classes/Rect2.xml
  doc/classes/Reference.xml
  doc/classes/Resource.xml
  doc/classes/RichTextEffect.xml
  doc/classes/RichTextLabel.xml
  doc/classes/RigidBody.xml
  doc/classes/Spatial.xml
  doc/classes/String.xml
  doc/classes/Transform.xml
  doc/classes/Transform2D.xml
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  doc/classes/VehicleBody.xml
  doc/classes/VehicleWheel.xml
  doc/classes/Viewport.xml
  doc/classes/ViewportTexture.xml
  doc/classes/WorldEnvironment3D.xml
  modules/enet/doc_classes/NetworkedMultiplayerENet.xml
  modules/skeleton_3d/doc_classes/Skeleton.xml
  modules/skeleton_3d/doc_classes/SkeletonIK.xml
  modules/users/doc_classes/User.xml
  modules/users/doc_classes/UserLoginWebPage.xml
  modules/users/doc_classes/UserRegisterWebPage.xml
  modules/users/doc_classes/UserSessionSetupWebServerMiddleware.xml
  modules/users/doc_classes/UserSettingsWebPage.xml
Owners: @godotengine/documentation, @godotengine/network

Update links in the docs. Pt. 5.
  doc/classes/GPUParticles2D.xml
  doc/classes/Image.xml
  doc/classes/ImageTexture.xml
  doc/classes/InputEvent.xml
  doc/classes/InputEventJoypadButton.xml
  doc/classes/InputEventJoypadMotion.xml
  doc/classes/InputEventKey.xml
  doc/classes/InputEventMouse.xml
  doc/classes/InputEventMouseButton.xml
  doc/classes/InputEventMouseMotion.xml
  doc/classes/InputEventScreenDrag.xml
  doc/classes/InputEventScreenTouch.xml
  doc/classes/InputEventWithModifiers.xml
  doc/classes/JNISingleton.xml
  doc/classes/KinematicBody.xml
  doc/classes/KinematicBody2D.xml
  doc/classes/Panel.xml
  doc/classes/Physics2DDirectBodyState.xml
  doc/classes/Physics2DDirectSpaceState.xml
  doc/classes/PhysicsDirectBodyState.xml
  doc/classes/PhysicsDirectSpaceState.xml
  doc/classes/RayCast.xml
  doc/classes/RayCast2D.xml
  doc/classes/RigidBody2D.xml
  doc/classes/World2D.xml
  doc/classes/World3D.xml
  modules/layered_tile_map/doc_classes/LayeredTileMap.xml
  modules/layered_tile_map/doc_classes/LayeredTileSet.xml
Owners: @godotengine/documentation

Update links in the docs. Pt. 8.
  doc/classes/DirectionalLight.xml
  doc/classes/EditorImportPlugin.xml
  doc/classes/EditorPlugin.xml
  doc/classes/EditorScenePostImport.xml
  doc/classes/EditorSpatialGizmoPlugin.xml
  doc/classes/GIProbe.xml
  doc/classes/GPUParticles.xml
  doc/classes/HTTPClient.xml
  doc/classes/HTTPRequest.xml
  doc/classes/OmniLight.xml
  modules/gdscript/doc_classes/GDScript.xml
  modules/gridmap/doc_classes/GridMap.xml
Owners: @godotengine/documentation, @godotengine/gdscript, @godotengine/3d-nodes

Update links in the docs. Pt. 11.
  doc/classes/Quaternion.xml
  doc/classes/ReflectionProbe.xml
  doc/classes/RenderingServer.xml
  doc/classes/ResourceImporter.xml
  doc/classes/RootMotionView.xml
  doc/classes/SceneTree.xml
  doc/classes/Script.xml
  doc/classes/Semaphore.xml
  doc/classes/Shader.xml
  doc/classes/ShaderMaterial.xml
  doc/classes/SoftBody.xml
  doc/classes/Spatial.xml
  doc/classes/SpatialMaterial.xml
  doc/classes/StreamPeerSSL.xml
  doc/classes/Theme.xml
  doc/classes/Thread.xml
  doc/classes/Translation.xml
  doc/classes/TranslationServer.xml
  modules/skeleton_2d/doc_classes/Skeleton2D.xml
Owners: @godotengine/documentation

Update links in the docs. Pt. 12.
  doc/translations/ar.po
  doc/translations/ca.po
  doc/translations/classes.pot
  doc/translations/cs.po
  doc/translations/de.po
  doc/translations/el.po
  doc/translations/es.po
  doc/translations/et.po
  doc/translations/fa.po
  doc/translations/fi.po
  doc/translations/fil.po
  doc/translations/fr.po
  doc/translations/gl.po
  doc/translations/hi.po
  doc/translations/hu.po
  doc/translations/id.po
  doc/translations/is.po
  doc/translations/it.po
  doc/translations/ja.po
  doc/translations/ko.po
  doc/translations/lt.po
  doc/translations/lv.po
  doc/translations/mr.po
  doc/translations/nb.po
  doc/translations/ne.po
  doc/translations/nl.po
  doc/translations/pl.po
  doc/translations/pt.po
  doc/translations/pt_BR.po
  doc/translations/ro.po
  doc/translations/ru.po
  doc/translations/sk.po
  doc/translations/sr_Cyrl.po
  doc/translations/sv.po
  doc/translations/th.po
  doc/translations/tl.po
  doc/translations/tr.po
  doc/translations/uk.po
  doc/translations/vi.po
  doc/translations/zh_TW.po
Owners: @godotengine/documentation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
