Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Added note and recommendation on implementing 2FA to UserLoginWebPage's docs.
  modules/users/doc_classes/UserLoginWebPage.xml
Owners: none

Remove todo.
  README.md
Owners: none

Indicate done state with ERR_FILE_EOF in PreparedStatement::step().
  modules/database/doc_classes/PreparedStatement.xml
  modules/database_sqlite/sqlite3_prepared_statement.cpp
Owners: none

Improve docs for PreparedStatement's column_count() and data_count().
  modules/database/doc_classes/PreparedStatement.xml
Owners: none

Make SQLite3PreparedStatement's bind functions to be indexed from 0 instead of from 1.
  modules/database/doc_classes/PreparedStatement.xml
  modules/database_sqlite/sqlite3_prepared_statement.cpp
Owners: none

Added an auto advancing bind api for PreparedStatement.
  modules/database/prepared_statement.cpp
  modules/database/prepared_statement.h
Owners: none

Added next_column helper method to PreparedStatement.
  modules/database/prepared_statement.cpp
  modules/database/prepared_statement.h
Owners: none

Added more column info helper methods to PreparedStatement.
  modules/database/prepared_statement.cpp
  modules/database/prepared_statement.h
Owners: none

Re-extracted class docs.
  doc/classes/PackedTypedArray.xml
  doc/classes/String.xml
  modules/database/doc_classes/PreparedStatement.xml
  modules/skeleton_3d/doc_classes/Skeleton.xml
Owners: @godotengine/documentation

Update indexing in PreparedStatement's docs.
  modules/database/doc_classes/PreparedStatement.xml
Owners: none

Added has_data() helper method to PreparedStatement.
  modules/database/doc_classes/PreparedStatement.xml
  modules/database/prepared_statement.cpp
  modules/database/prepared_statement.h
Owners: none

Added more usage examples to PreparedStatement's docs.
  modules/database/doc_classes/PreparedStatement.xml
Owners: none

Added docs for PreparedStatement's new methods.
  modules/database/doc_classes/PreparedStatement.xml
Owners: none

Don't increment index twice when using bind_float().
  modules/database_sqlite/sqlite3_prepared_statement.cpp
Owners: none

Also add a description to current_column_index in PreparedStatement's docs.
  modules/database/doc_classes/PreparedStatement.xml
Owners: none

Renamed the next* and current* helper methods in PreparedStatement to be more similar to QueryResult's api.
  modules/database/doc_classes/PreparedStatement.xml
  modules/database/prepared_statement.cpp
  modules/database/prepared_statement.h
Owners: none

Added an another usage example to PreparedStatement.
  modules/database/doc_classes/PreparedStatement.xml
Owners: none

Tweak getter names in PreparedStatement.
  modules/database/doc_classes/PreparedStatement.xml
  modules/database/prepared_statement.cpp
  modules/database/prepared_statement.h
  modules/database_sqlite/sqlite3_prepared_statement.cpp
  modules/database_sqlite/sqlite3_prepared_statement.h
Owners: none

Moved some of the get prefixes to postfixes in PreparedStatement.
  modules/database/doc_classes/PreparedStatement.xml
  modules/database/prepared_statement.cpp
  modules/database/prepared_statement.h
  modules/database_sqlite/sqlite3_prepared_statement.cpp
  modules/database_sqlite/sqlite3_prepared_statement.h
Owners: none

Moved more of the get prefixes to postfixes in PreparedStatement.
  modules/database/doc_classes/PreparedStatement.xml
  modules/database/prepared_statement.cpp
  modules/database/prepared_statement.h
Owners: none

Update PreparedStatement's docs.
  modules/database/doc_classes/PreparedStatement.xml
Owners: none

Android versions bump for 2026
  platform/android/detect.py
  platform/android/export/export_plugin.cpp
  platform/android/java/app/config.gradle
  platform/android/java/lib/src/org/pandemoniumengine/pandemonium/FullScreenPandemoniumApp.java
Owners: @godotengine/android

Fix typo.
  platform/android/java/app/config.gradle
Owners: @godotengine/android

Update android build container.
  misc/build_containers/Dockerfile.android
Owners: @godotengine/buildsystem

`BlobShadows` - Ensure blob shadow is hidden when light exits tree
  scene/3d/light.cpp
Owners: @godotengine/3d-nodes

Fix previous commit.
  scene/3d/light.cpp
Owners: @godotengine/3d-nodes

Blob Shadows - Fade is frame rate independent, and configurable
  doc/classes/ProjectSettings.xml
  servers/rendering/rendering_server_blob_shadows.cpp
  servers/rendering/rendering_server_blob_shadows.h
Owners: @godotengine/documentation

core: Backport OS::get_entropy from 4.x
  core/os/os.h
  platform/android/os_android.cpp
  platform/android/os_android.h
  platform/iphone/os_iphone.h
  platform/iphone/os_iphone.mm
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
  platform/osx/detect.py
  platform/osx/os_osx.h
  platform/osx/os_osx.mm
  platform/server/os_server.cpp
  platform/server/os_server.h
  platform/uwp/os_uwp.cpp
  platform/uwp/os_uwp.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/x11/os_x11.cpp
  platform/x11/os_x11.h
Owners: @godotengine/core, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/macos, @godotengine/uwp, @godotengine/windows, @godotengine/linux-bsd

mbedTLS: Always use Godot's OS as entropy source
  core/crypto/crypto_core.cpp
  thirdparty/mbedtls/include/pandemonium_core_mbedtls_config.h
  thirdparty/mbedtls/include/pandemonium_module_mbedtls_config.h
Owners: @godotengine/network, @godotengine/buildsystem

Fix audio crackling issues due to incorrect WASAPI buffer size
  drivers/wasapi/audio_driver_wasapi.cpp
Owners: @godotengine/audio

Added a todos section to the readme.
  README.md
Owners: none

Added a breaking changes policy.
  README.md
Owners: none

Simplified and explicitly spelled out things in the Use of AI content generators readme section.
  README.md
Owners: none

Small tweaks to the readme.
  README.md
Owners: none

Added more todos.
  README.md
Owners: none

Remove unneeded todo.
  README.md
Owners: none

Added get_entropy() to the frt backends.
  platform/frt/os_frt.cpp
  platform/frt_sdl/frt_godot3.cc
Owners: none

Fix control reaches end of non-void function warning in OS_Windows::get_stdin_string().
  platform/windows/os_windows.cpp
Owners: @godotengine/windows

Bump min. version to 15.0, remove 32-bit code, add min. target export option.
  misc/dist/ios_xcode/pandemonium_ios.xcodeproj/project.pbxproj
  platform/iphone/app_delegate.mm
  platform/iphone/detect.py
  platform/iphone/export/export.cpp
  platform/iphone/ios.mm
  platform/iphone/joypad_iphone.mm
  platform/iphone/os_iphone.mm
  platform/iphone/pandemonium_app_delegate.m
  platform/iphone/pandemonium_scene_delegate.m
  platform/iphone/pandemonium_view.mm
  platform/iphone/view_controller.mm
Owners: @godotengine/buildsystem, @godotengine/ios

Minor BVH correctness fixes
  core/math/bvh.h
  core/math/bvh_abb.h
  core/math/bvh_tree.h
Owners: @godotengine/core
