Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Enable lto for all javascript builds.
  misc/build_containers/engine_build_scripts/javascript.sh
Owners: @godotengine/buildsystem

Updated the changelog.
  CHANGELOG.md
Owners: none

Disabled lto for the gdnative only export templates in the build scripts.
  CHANGELOG.md
  misc/build_containers/engine_build_scripts/javascript.sh
Owners: @godotengine/buildsystem

Updated pre_release_check_files_present.sh file list.
  misc/scripts/pre_release_check_files_present.sh
Owners: @godotengine/buildsystem

Bump version.
  version.py
Owners: @godotengine/buildsystem

Cleanups to the Documentation and demos section in the readme.
  README.md
Owners: none

Added some long term plans to the readme.
  README.md
Owners: none

Small tweak to the readme.
  README.md
Owners: none

Added proper website to the long term plans.
  README.md
Owners: none

Use StringBuilder in HTMLTemplate where applicable.
  modules/web/html/html_template.cpp
Owners: none

Fix unused variable warning if gles3 is disabled.
  editor/project_manager.cpp
Owners: none

Update the sample app side module config, so it has all modules. Also added some comments to it.
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

Fix Exact checkbox in the ProjectSettingsEditor's input tab.
  editor/project_settings_editor.cpp
Owners: none

Improved text conversion for InputEventAction-s.
  core/input/input_event.cpp
Owners: @godotengine/core

Don't write "(Physical)" after the keycodes in InputEventKey, even it they are physical.
  core/input/input_event.cpp
Owners: @godotengine/core

Use RTR instead of TTR in InputEventAction::as_text().
  core/input/input_event.cpp
Owners: @godotengine/core

Use , instead of a newline as a separator in InputEventAction::as_text().
  core/input/input_event.cpp
Owners: @godotengine/core

Fix occasional errors printed in TextEdit.
  scene/gui/text_edit.cpp
Owners: @godotengine/gui-nodes

Fix String::to_uint() to be able to parse to full uint length.
  core/string/ustring.cpp
Owners: @godotengine/core

Added String::to_uint64() helper method.
  core/string/ustring.cpp
  core/string/ustring.h
Owners: @godotengine/core

Move int64_t to_int64() const; helper method in the files.
  core/string/ustring.cpp
  core/string/ustring.h
Owners: @godotengine/core

Move things around more.
  core/string/ustring.cpp
  core/string/ustring.h
Owners: @godotengine/core

Added static to_uint helper methods to String.
  core/string/ustring.cpp
  core/string/ustring.h
Owners: @godotengine/core

Added a PRINT_NUMERIC_CONVERSION_ERRORS define into String and wrapped all numerical conversion warning / error prints into it.
  core/string/ustring.cpp
Owners: @godotengine/core

Set the new PRINT_NUMERIC_CONVERSION_ERRORS define to 0 by default.
  core/string/ustring.cpp
Owners: @godotengine/core

Bind new methods in String.
  core/variant/variant_call.cpp
Owners: @godotengine/core

Re-extracted class docs.
  doc/classes/ProjectSettings.xml
  doc/classes/String.xml
  doc/classes/Viewport.xml
Owners: @godotengine/documentation

Fix description in the wrong place.
  doc/classes/Viewport.xml
Owners: @godotengine/documentation

Tiny improvements to String's docs.
  doc/classes/String.xml
Owners: @godotengine/documentation

Fix to_bool()'s bind in String.
  core/variant/variant_call.cpp
Owners: @godotengine/core

Docs for to_bool() in String.
  doc/classes/String.xml
Owners: @godotengine/documentation

Docs for the new methods in String.
  doc/classes/String.xml
Owners: @godotengine/documentation

Added the new methods in String to the gdnative api.
  modules/gdnative/gdnative/string.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdn/string.h
Owners: @godotengine/gdnative

Added Quaternion::set_shortest_arc() to the gdnative api.
  core/math/quaternion.h
  modules/gdnative/gdnative/quaternion.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdn/quaternion.h
Owners: @godotengine/core, @godotengine/gdnative

Added the REAL_T_IS_DOUBLE define to the gdnative headers.
  modules/gdnative/include/gdn/gdnative.h
Owners: @godotengine/gdnative

Respect the scene name casting setting even with the Save Branch as Scene option.
  editor/editor_node.h
  editor/scene_tree_dock.cpp
Owners: @godotengine/docks

Added get_sizei() helper method to Image.
  core/io/image.cpp
  core/io/image.h
Owners: @godotengine/core

Run header guards move script.
  core/interpolated_property.h
  editor_modules/fbx/data/fbx_anim_container.h
  editor_modules/fbx/data/fbx_bone.h
  editor_modules/fbx/data/fbx_material.h
  editor_modules/fbx/data/fbx_mesh_data.h
  editor_modules/fbx/data/fbx_node.h
  editor_modules/fbx/data/fbx_skeleton.h
  editor_modules/fbx/data/import_state.h
  editor_modules/fbx/data/model_abstraction.h
  editor_modules/fbx/data/pivot_transform.h
  editor_modules/fbx/editor_scene_importer_fbx.h
  editor_modules/fbx/fbx_parser/ByteSwapper.h
  editor_modules/fbx/fbx_parser/FBXCommon.h
  editor_modules/fbx/fbx_parser/FBXDocument.h
  editor_modules/fbx/fbx_parser/FBXDocumentUtil.h
  editor_modules/fbx/fbx_parser/FBXImportSettings.h
  editor_modules/fbx/fbx_parser/FBXMeshGeometry.h
  editor_modules/fbx/fbx_parser/FBXParseTools.h
  editor_modules/fbx/fbx_parser/FBXParser.h
  editor_modules/fbx/fbx_parser/FBXProperties.h
  editor_modules/fbx/fbx_parser/FBXTokenizer.h
  editor_modules/fbx/fbx_parser/FBXUtil.h
  editor_modules/fbx/register_types.h
  editor_modules/fbx/tools/import_utils.h
  editor_modules/fbx/tools/validation_tools.h
  main/tests/test_expression.h
  platform/android/tts_android.h
  platform/iphone/platform_config.h
  platform/iphone/tts_ios.h
  platform/javascript/platform_config.h
  platform/osx/platform_config.h
  platform/osx/tts_osx.h
  platform/windows/platform_config.h
  platform/windows/tts_windows.h
  platform/x11/platform_config.h
  platform/x11/tts_linux.h
  scene/main/scene_tree_fti.h
  scene/main/scene_tree_fti_tests.h
Owners: @godotengine/core, @godotengine/tests, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/macos, @godotengine/windows, @godotengine/linux-bsd

Update fbx's register types files.
  editor_modules/fbx/register_types.cpp
  editor_modules/fbx/register_types.h
Owners: none

Update includes in the fbx module.
  editor_modules/fbx/data/fbx_anim_container.h
  editor_modules/fbx/data/fbx_bone.h
  editor_modules/fbx/data/fbx_material.cpp
  editor_modules/fbx/data/fbx_material.h
  editor_modules/fbx/data/fbx_mesh_data.cpp
  editor_modules/fbx/data/fbx_mesh_data.h
  editor_modules/fbx/data/fbx_node.h
  editor_modules/fbx/data/fbx_skeleton.cpp
  editor_modules/fbx/data/fbx_skeleton.h
  editor_modules/fbx/data/import_state.h
  editor_modules/fbx/data/model_abstraction.h
  editor_modules/fbx/data/pivot_transform.cpp
  editor_modules/fbx/data/pivot_transform.h
  editor_modules/fbx/editor_scene_importer_fbx.h
  editor_modules/fbx/fbx_parser/FBXBinaryTokenizer.cpp
  editor_modules/fbx/fbx_parser/FBXDocument.h
  editor_modules/fbx/fbx_parser/FBXDocumentUtil.cpp
  editor_modules/fbx/fbx_parser/FBXMeshGeometry.h
  editor_modules/fbx/fbx_parser/FBXParseTools.h
  editor_modules/fbx/fbx_parser/FBXParser.h
  editor_modules/fbx/fbx_parser/FBXTokenizer.cpp
  editor_modules/fbx/fbx_parser/FBXTokenizer.h
  editor_modules/fbx/tools/import_utils.h
  editor_modules/fbx/tools/validation_tools.cpp
  editor_modules/fbx/tools/validation_tools.h
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
