Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Set up baking tools page in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Call emit_changed() in TerrainChunk setters. Also a setter fix.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Make sure the prop meshes are cleared from previous runs before returning early in TerrainPropJob.
  modules/terraman/world/jobs/terrain_prop_job.cpp
Owners: none

Rebuild chunks in TerrainWorld::prop_add().
  modules/terraman/world/terrain_world.cpp
Owners: none

Implemented Bake Props tool for TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Now props added to TerrainWorld can also have a name. The prop bake editor tool uses it to save and restore node names.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Added tooltips for the bake props tool's buttons in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Fix typo.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Implement setting a name to scenes in TerrainChunk.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Return and set the name with the props property in TerrainChunk.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Fix typo.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Fix logic in TerrainChunk::scenes_set() and TerrainChunk::props_set().
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Added a scene baking tool to TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Don't create prop baking tool buttons if the Props module is disabled.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Now TerrainChunks can also store a name and material for MeshDataResources.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
Owners: none

Added mesh_data_resource_add() helper method to TerrainWorld.
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Added MeshDataInstance baking tool to TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Fix method call in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Small tweaks to the info outputs in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Removed OWNER_TYPE_VERTEX_LIGHT_3D from TerrainLight.
  modules/terraman/data/terrain_light.cpp
  modules/terraman/data/terrain_light.h
Owners: none

Added light_mode property to TerrainLight.
  modules/terraman/data/terrain_light.cpp
  modules/terraman/data/terrain_light.h
Owners: none

Added item_cull_mask property to TerrainLight.
  modules/terraman/data/terrain_light.cpp
  modules/terraman/data/terrain_light.h
Owners: none

Added more helper methods to TerrainWorld.
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Fix TerrainChunk::light_remove_index() not actually remoing lights.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Added VertexLight3D baking tool to TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Added use_vertex_lights_3d property to TerrainWorld.
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Make use of the VertexLights3DServer in TerrainChunkDefault::_bake_lights() if enabled.
  modules/terraman/world/default/terrain_chunk_default.cpp
Owners: none

Now TerrainChunks will register their lights into the VertexLights3DServer if use_vertex_lights_3d is enabled in world.
  modules/terraman/data/terrain_light.cpp
  modules/terraman/data/terrain_light.h
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Set version to stable.
  version.py
Owners: @godotengine/buildsystem

Re-extracted class docs.
  doc/classes/MainLoop.xml
  modules/database/doc_classes/PreparedStatement.xml
  modules/database/doc_classes/QueryResult.xml
  modules/terraman/doc_classes/TerrainChunk.xml
  modules/terraman/doc_classes/TerrainChunkBlocky.xml
  modules/terraman/doc_classes/TerrainLight.xml
  modules/terraman/doc_classes/TerrainWorld.xml
Owners: @godotengine/documentation

Updated changelog.md. Trying a different style.
  CHANGELOG.md
Owners: none

Bump version.
  version.py
Owners: @godotengine/buildsystem

Return the actual AABB in TiledWall::get_aabb().
  modules/props/tiled_wall/tiled_wall.cpp
Owners: none

Now PropInstance inherits from VisualInstance. Set up it's AABB calculation.
  modules/props/prop_instance.cpp
  modules/props/prop_instance.h
  modules/props/prop_instance_merger.cpp
Owners: none

Added a simple gizmo for PropInstances. This makes PropInstances selectable with the mouse in the Spatial editor.
  modules/props/editor/prop_editor_plugin.cpp
  modules/props/editor/prop_editor_plugin.h
  modules/props/register_types.cpp
Owners: none

Re-extracted class doc for PropInstance.
  modules/props/doc_classes/PropInstance.xml
Owners: none

Added TerrainWorldChunkDataManager class to support loading and saving TerrainWorld chunks dynamically to and from disk.
  modules/terraman/SCsub
  modules/terraman/chunk_data_managers/terrain_world_chunk_data_manager.cpp
  modules/terraman/chunk_data_managers/terrain_world_chunk_data_manager.h
  modules/terraman/chunk_data_managers/terrain_world_chunk_data_manager_static_folder_resources.cpp
  modules/terraman/chunk_data_managers/terrain_world_chunk_data_manager_static_folder_resources.h
  modules/terraman/config.py
  modules/terraman/doc_classes/TerrainWorldChunkDataManager.xml
  modules/terraman/doc_classes/TerrainWorldChunkDataManagerStaticFolderResources.xml
  modules/terraman/register_types.cpp
Owners: @godotengine/buildsystem

Now TerrainWorld uses TerrainWorldChunkDataManagers if they are available.
  modules/terraman/doc_classes/TerrainWorld.xml
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Now TerrainWorld won't save it's chunks into scenes in the editor anymore if a TerrainWorldChunkDataManager is set.
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Added chunk saving api to TerrainWorldChunkDataManager.
  modules/terraman/chunk_data_managers/terrain_world_chunk_data_manager.cpp
  modules/terraman/chunk_data_managers/terrain_world_chunk_data_manager.h
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
