Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Don't skip compiling the last template section.
  modules/web/html/html_template_data.cpp
Owners: none

Re-extract and update docs.
  modules/web/doc_classes/HTMLTemplate.xml
  modules/web/doc_classes/HTMLTemplateData.xml
  modules/web/doc_classes/HTMLTemplateRenderer.xml
Owners: none

Better error message when rendering a template in HTMLTemplate.
  modules/web/html/html_template.cpp
Owners: none

Render the menu in UserLogoutWebPage delayed. Also unset user meta.
  modules/users/web/web_nodes/user_logout_web_page.cpp
  modules/users/web/web_nodes/user_logout_web_page.h
Owners: none

Docs for the new property.
  modules/users/doc_classes/UserLogoutWebPage.xml
Owners: none

Added icons for HTMLTemplate, HTMLTemplateData, and HTMLTemplateMultilang.
  modules/web/icons/icon_h_t_m_l_template.svg
  modules/web/icons/icon_h_t_m_l_template_data.svg
  modules/web/icons/icon_h_t_m_l_template_multilang.svg
Owners: none

Temporarily add note that PDFDocument currently can't load files directly inside a .pck.
  modules/pdf_generator/doc_classes/PDFDocument.xml
Owners: none

Make editor reimport files when tey are saved in the test editor module.
  editor_modules/text_editor/text_file_editor.cpp
Owners: none

Fix error when editing non-imported files in the TextFileEditor.
  editor_modules/text_editor/text_file_editor.cpp
Owners: none

Make all builtin print methods escape their own ouput in HTMLTemplateRenderer, and just print raw if they are the outer expression in a simple {{ }} block.
  modules/web/html/html_template_renderer.cpp
Owners: none

Tweak the html template renderer's syntax. Also fixed some issues with parsing.
  modules/web/html/html_template_renderer.cpp
  modules/web/html/html_template_renderer.h
Owners: none

Update HTMLTemplateRenderer's docs.
  modules/web/doc_classes/HTMLTemplateRenderer.xml
Owners: none

Small tweak to HTMLTemplateRenderer's docs.
  modules/web/doc_classes/HTMLTemplateRenderer.xml
Owners: none

Allow explicit type declaration of for's iterator variable in GDScript.
  modules/gdscript/gdscript_parser.cpp
Owners: @godotengine/gdscript

Elaborate on the pros and cons of PackedTypedArray in the docs. Also notes.
  doc/classes/PackedTypedArray.xml
Owners: @godotengine/documentation

Improved some of the error messages in HTMLTemplateRenderer.
  modules/web/html/html_template_renderer.cpp
Owners: none

Don't convert vformat builtin method arguments to string in HTMLTemplateRenderer.
  modules/web/html/html_template_renderer.cpp
Owners: none

Fix all q print variants in HTMLTemplateRenderer.
  modules/web/html/html_template_renderer.cpp
  modules/web/html/html_template_renderer.h
Owners: none

Fix indexing.
  modules/web/html/html_template_renderer.cpp
Owners: none

Improve error message.
  modules/web/html/html_template.cpp
Owners: none

Only allow setting the type in TypedArray and PackedTypedArray once.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
  doc/classes/PackedTypedArray.xml
  doc/classes/TypedArray.xml
Owners: @godotengine/core, @godotengine/documentation

Ref now also checks the types in TypedArray and PackedTypedArray.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core

Fix crash.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core

Accept .pignore files as an alternative to .gdignore. Also auto-create .pignore files instead of .gdignore.
  editor/editor_file_system.cpp
  editor/export_template_manager.cpp
  editor/find_in_files.cpp
Owners: none

Handle <, <=, >, >= for StringName as Variant op. This fixes StringNames as Dictionary literals (as well as probably other things).
  core/variant/variant_op.cpp
Owners: @godotengine/core

Initial setup for a ZipCompressor class.
  core/io/zip_compressor.cpp
  core/io/zip_compressor.h
  core/register_core_types.cpp
  doc/classes/ZipCompressor.xml
Owners: @godotengine/core, @godotengine/documentation

Initial unzip and zip api for ZipCompressor.
  core/io/zip_compressor.cpp
  core/io/zip_compressor.h
Owners: @godotengine/core

Implement zip api for ZipCompressor.
  core/io/zip_compressor.cpp
  core/io/zip_compressor.h
Owners: @godotengine/core

Remove unused variable.
  core/io/zip_compressor.cpp
Owners: @godotengine/core

Implement unzip api for ZipCompressor.
  core/io/zip_compressor.cpp
  core/io/zip_compressor.h
Owners: @godotengine/core

Bind all new methods in ZipCompressor.
  core/io/zip_compressor.cpp
  doc/classes/ZipCompressor.xml
Owners: @godotengine/core, @godotengine/documentation

Added a sent signal to WebServerRequest.
  modules/http_server_simple/http_server_simple.cpp
  modules/http_server_simple/http_server_simple.h
  modules/web/doc_classes/WebServerRequest.xml
  modules/web/http/web_server_request.cpp
  modules/web/http/web_server_request.h
Owners: none

Fix parsing TypedArray and PackedTypedArray.
  core/variant/variant_parser.cpp
Owners: @godotengine/core

Fix PackedTypedArray::set_object_class_name() check.
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Implemented in-editor property hint support for TypedArray and PackedTypedArray.
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
Owners: none

Added export type hint support for TypedArray and PackedTypedArray for PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Also allow strings as TypedArray and PackedTypedArray export type hints.
  modules/pscript/pscript_parser.cpp
Owners: none

Backport the previous changes to GDScript.
  modules/gdscript/gdscript_parser.cpp
Owners: @godotengine/gdscript

Allow the use of raw types as function parameters in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Make funcref work with StringNames in PScript.
  modules/pscript/pscript_functions.cpp
Owners: none
