Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Fix typo.
  modules/terraman/doc_classes/TerrainLibrary.xml
Owners: none

Fix virtual method bind return type in VoxelLibrary.
  modules/voxelman/library/voxel_library.cpp
Owners: none

Docs for VoxelLibrary.
  modules/voxelman/doc_classes/VoxelLibrary.xml
Owners: none

Docs for VoxelLibraryMerger.
  modules/voxelman/doc_classes/VoxelLibraryMerger.xml
Owners: none

Docs for VoxelLibraryMergerPCM.
  modules/voxelman/doc_classes/VoxelLibraryMergerPCM.xml
Owners: none

Docs for VoxelLibrarySimple.
  modules/voxelman/doc_classes/VoxelLibrarySimple.xml
Owners: none

Docs for VoxelLight.
  modules/voxelman/doc_classes/VoxelLight.xml
Owners: none

Docs for VoxelLightJob.
  modules/voxelman/doc_classes/VoxelLightJob.xml
Owners: none

Docs for VoxelLightNode.
  modules/voxelman/doc_classes/VoxelLightNode.xml
Owners: none

Docs for VoxelMaterialCache.
  modules/voxelman/doc_classes/VoxelMaterialCache.xml
Owners: none

Docs for VoxelMaterialCachePCM.
  modules/voxelman/doc_classes/VoxelMaterialCachePCM.xml
Owners: none

Docs for VoxelMesher.
  modules/voxelman/doc_classes/VoxelMesher.xml
Owners: none

Docs for VoxelMesherBlocky.
  modules/voxelman/doc_classes/VoxelMesherBlocky.xml
Owners: none

Docs for VoxelMesherCubic.
  modules/voxelman/doc_classes/VoxelMesherCubic.xml
Owners: none

Docs for VoxelMesherDefault.
  modules/voxelman/doc_classes/VoxelMesherDefault.xml
Owners: none

Added multi window support into the ling term plans.
  README.md
Owners: none

Let's make sure that the engine will get even less contributions than it already is getting.
  README.md
Owners: none

Updated zlib to 1.3.1.
  thirdparty/README.md
  thirdparty/zlib/deflate.c
  thirdparty/zlib/deflate.h
  thirdparty/zlib/gzguts.h
  thirdparty/zlib/gzlib.c
  thirdparty/zlib/inflate.c
  thirdparty/zlib/inftrees.c
  thirdparty/zlib/inftrees.h
  thirdparty/zlib/trees.c
  thirdparty/zlib/zconf.h
  thirdparty/zlib/zlib.h
  thirdparty/zlib/zutil.h
Owners: @godotengine/buildsystem

`FTI` - Change `SceneTree` global setting to static
  scene/2d/light_2d.cpp
  scene/2d/light_occluder_2d.cpp
  scene/main/canvas_item.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Owners: @godotengine/2d-nodes, @godotengine/core

Removed leftover unimplemented method from Node.
  scene/main/node.h
Owners: @godotengine/core

Revert "FTI - Reduce `VisualInstance` xform notifications"
  scene/3d/camera.cpp
  scene/3d/visual_instance.cpp
  scene/main/spatial.cpp
  scene/main/spatial.h
Owners: @godotengine/3d-nodes, @godotengine/core

FTI - Clear all when enabling / disabling `SceneTreeFTI`
  scene/main/scene_tree_fti.cpp
Owners: @godotengine/core

FTI - Add reset of setting `toplevel`
  scene/main/canvas_item.cpp
  scene/main/node.cpp
  scene/main/spatial.cpp
Owners: @godotengine/core

FTI - Fix `MultiMesh` stable behaviour
  servers/rendering/rasterizer.cpp
Owners: none

`LODManager` - Auto-deactivate when no LODs
  scene/3d/lod_manager.cpp
  scene/3d/lod_manager.h
Owners: @godotengine/3d-nodes

FTI - Add `multimesh_instances_reset_physics_interpolation()`
  doc/classes/MultiMesh.xml
  doc/classes/RenderingServer.xml
  scene/resources/mesh/multimesh.cpp
  scene/resources/mesh/multimesh.h
  servers/rendering/rasterizer.cpp
  servers/rendering/rasterizer.h
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Owners: @godotengine/documentation

Fix inability to assign script after clearing
  editor/editor_properties.cpp
Owners: none

Fix order of operations for macOS template check
  platform/osx/export/export.cpp
Owners: @godotengine/macos

Update required version numbers for Android
  .gitignore
  platform/android/export/export_plugin.cpp
  platform/android/java/app/assetPackInstallTime/build.gradle
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/app/settings.gradle
  platform/android/java/gradle/wrapper/gradle-wrapper.properties
  platform/android/java/settings.gradle
Owners: @godotengine/buildsystem, @godotengine/android

Update NDK and Maven config
  platform/android/SCsub
  platform/android/detect.py
  platform/android/export/export_plugin.cpp
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/app/settings.gradle
  platform/android/java/build.gradle
  platform/android/java/nativeSrcsConfigs/CMakeLists.txt
  platform/android/java/scripts/publish-module.gradle
  platform/android/java/scripts/publish-root.gradle
  platform/android/java/settings.gradle
Owners: @godotengine/android

Fix Line breaking may not work correctly when using color tags with specific font
  scene/gui/rich_text_label.cpp
Owners: @godotengine/gui-nodes

Fix `is_visible_in_tree` regression for out of tree
  scene/main/spatial.cpp
Owners: @godotengine/core

Add MOUSE_MODE_CONFINED_HIDDEN to MouseMode enum
  core/input/input.cpp
  core/input/input.h
  core/os/os.h
  doc/classes/Input.xml
  platform/javascript/os_javascript.cpp
  platform/osx/os_osx.mm
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
Owners: @godotengine/core, @godotengine/documentation, @godotengine/html5, @godotengine/macos, @godotengine/windows, @godotengine/linux-bsd

Backport nonexclusive fullscreen mode.
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/config/project_settings.cpp
  core/os/os.h
  doc/classes/OS.xml
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Owners: @godotengine/core, @godotengine/documentation, @godotengine/windows

Backported the new EDITOR_GET_CACHED macro from godot 3.x but modified, similarly to the EDITOR_CACHED macro.
  editor/animation_track_editor.cpp
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_properties_array_dict.cpp
  editor/editor_property_name_processor.cpp
  editor/editor_settings.cpp
  editor/editor_settings.h
  editor/editor_themes.cpp
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/collision_polygon_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/spatial_editor_plugin.cpp
  editor/property_editor.cpp
  editor/scene_tree_dock.cpp
  editor/script_editor_debugger.cpp
  editor_modules/editor_code_editor/editor_code_text_editor.cpp
  editor_modules/editor_code_editor/editor_script_text_editor.cpp
  main/main.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/tile_map/tile_set_editor_plugin.cpp
Owners: @godotengine/2d-editor, @godotengine/docks, @godotengine/debugger, @godotengine/core, @godotengine/gdscript

Added message for the error in _EDITOR_GET() if the setting doesn't exists.
  editor/editor_settings.cpp
Owners: none

Added the missing hover_pressed style box overrides for the editor.
  editor/editor_node.cpp
  editor/editor_themes.cpp
  modules/layered_tile_map/editor/layered_tile_set_atlas_source_editor.cpp
Owners: none

Revert "Update NDK and Maven config"
  platform/android/SCsub
  platform/android/detect.py
  platform/android/export/export_plugin.cpp
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/app/settings.gradle
  platform/android/java/build.gradle
  platform/android/java/nativeSrcsConfigs/CMakeLists.txt
  platform/android/java/scripts/publish-module.gradle
  platform/android/java/scripts/publish-root.gradle
  platform/android/java/settings.gradle
Owners: @godotengine/android

Revert "Update required version numbers for Android"
  .gitignore
  platform/android/export/export_plugin.cpp
  platform/android/java/app/assetPacks/installTime/build.gradle
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/app/settings.gradle
  platform/android/java/gradle/wrapper/gradle-wrapper.properties
  platform/android/java/settings.gradle
Owners: @godotengine/buildsystem, @godotengine/android

Updated android version numbers.
  platform/android/SCsub
  platform/android/detect.py
  platform/android/export/export_plugin.cpp
  platform/android/java/app/config.gradle
  platform/android/java/gradle/wrapper/gradle-wrapper.properties
  platform/android/java/nativeSrcsConfigs/CMakeLists.txt
Owners: @godotengine/android

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
