Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Fix some issues in the OSX camera feed.
  modules/camera_drivers/camera_macos.mm
Owners: none

Fix inconsistent overrides.
  modules/camera_drivers/camera_android.h
Owners: none

Override the proper method.
  modules/camera_drivers/camera_android.cpp
  modules/camera_drivers/camera_android.h
  modules/camera_drivers/camera_feed_linux.cpp
  modules/camera_drivers/camera_feed_linux.h
Owners: none

Add missing super dealloc.
  modules/camera_drivers/camera_macos.mm
Owners: none

Add missing ;.
  modules/camera_drivers/camera_macos.mm
Owners: none

Fix CameraAndroid trying to access the DisplayServer.
  modules/camera_drivers/camera_android.cpp
Owners: none

Simplify CameraFeedAndroid::get_app_orientation().
  modules/camera_drivers/camera_android.cpp
Owners: none

Rework CameraFeedAndroid::get_app_orientation().
  modules/camera_drivers/camera_android.cpp
Owners: none

Fix more issues in CameraFeedAndroid.
  modules/camera_drivers/camera_android.cpp
Owners: none

Update the sample module_config.py module list.
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

Update the http server module list workflow.
  .github/workflows/http_server_builds.yml
Owners: @godotengine/buildsystem

Update the http server's build container module list.
  misc/build_containers/engine_build_scripts/linux.sh
Owners: @godotengine/buildsystem

More fixes to CameraFeedAndroid.
  modules/camera_drivers/camera_android.cpp
  modules/camera_drivers/camera_android.h
Owners: none

More fixes to CameraFeedAndroid.
  modules/camera_drivers/camera_android.cpp
Owners: none

More fixes to CameraFeedAndroid.
  modules/camera_drivers/camera_android.cpp
Owners: none

More fixes to CameraFeedAndroid.
  modules/camera_drivers/camera_android.cpp
  modules/camera_drivers/camera_android.h
Owners: none

Allocate the proper camera server on startup.
  modules/camera_drivers/register_types.cpp
  modules/camera_server/camera_server.h
  modules/camera_server/register_types.cpp
Owners: none

Fix example CameraServer code.
  modules/camera_server/doc_classes/CameraServer.xml
Owners: none

Bind CameraFeed::get_texture().
  modules/camera_server/camera_feed.cpp
Owners: none

Rename CameraFeed::get_texture() to CameraFeed::get_texture_rid().
  modules/camera_server/camera_feed.cpp
  modules/camera_server/camera_feed.h
  modules/camera_server/camera_server.cpp
Owners: none

Added CameraFeed::get_image() helper method.
  modules/camera_server/camera_feed.cpp
  modules/camera_server/camera_feed.h
Owners: none

Don't error if texture RID is null.
  modules/camera_server/camera_feed.cpp
Owners: none

Add ugly temporary hack.
  modules/camera_server/camera_feed.cpp
  modules/camera_server/camera_feed.h
Owners: none

Notes.
  modules/camera_server/camera_feed.h
  modules/camera_server/camera_server.h
Owners: none

Respect the scene name casing setting in the script create dialog.
  editor/scene_tree_dock.cpp
Owners: @godotengine/docks

Call write_unlock instead of write_lock in RWResource::write_unlock().
  core/object/rw_resource.h
Owners: @godotengine/core

Remove extarnal feed from CameraFeed as it's not supported.
  modules/camera_server/camera_feed.cpp
  modules/camera_server/camera_feed.h
Owners: none

Only use Images in the CameraServer and feeds.Also cleanups.
  modules/camera_drivers/camera_feed_linux.cpp
  modules/camera_server/camera_feed.cpp
  modules/camera_server/camera_feed.h
  modules/camera_server/camera_server.cpp
  modules/camera_server/camera_server.h
Owners: none

Rework activation logic in CameraFeed, so calling activate_feed() and setting the active property both works.
  modules/camera_server/camera_feed.cpp
Owners: none

Remove comment.
  modules/camera_server/camera_feed.h
Owners: none

Remove comment.
  modules/camera_server/camera_server.h
Owners: none

Update changelog.
  CHANGELOG.md
Owners: none

Small tweak.
  CHANGELOG.md
Owners: none

Added more long term plans.
  README.md
Owners: none

More long term plans.
  README.md
Owners: none

An another long term plan.
  README.md
Owners: none

Use fedora 43 as a base for the build containers. Apparently 42's MingW has some issues.
  misc/build_containers/Dockerfile.base
Owners: @godotengine/buildsystem

Set version to stable.
  version.py
Owners: @godotengine/buildsystem

Don't exit on error in the strip all script.
  misc/scripts/strip_all.sh
Owners: @godotengine/buildsystem

Use verbose output, and explicitly strip all.
  misc/scripts/strip_all.sh
Owners: @godotengine/buildsystem

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
