Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Fix cast.
  core/os/safe_refcount.h
Owners: @godotengine/core

Fix the remaining casts in the windows SafePointer version.
  core/os/safe_refcount.h
Owners: @godotengine/core

Avoid warning.
  core/os/safe_refcount.h
Owners: @godotengine/core

Don't use non existing method.
  core/os/safe_refcount.h
Owners: @godotengine/core

Fix constructor.
  core/os/safe_refcount.h
Owners: @godotengine/core

Fix variable names.
  core/os/safe_refcount.cpp
Owners: @godotengine/core

Cast to volatile.
  core/os/safe_refcount.h
Owners: @godotengine/core

Note.
  core/os/safe_refcount.cpp
Owners: @godotengine/core

Mark MutexLock as NO_DISCARD to prevent misuse.
  core/os/mutex.h
Owners: @godotengine/core

Mark all MutexLocks as _NO_DISCARD_CLASS_.
  drivers/std_thread/mutex.h
  platform/android/platform_mutex.h
  platform/frt/platform_mutex.h
  platform/frt_sdl/platform_mutex.h
  platform/iphone/platform_mutex.h
  platform/javascript/platform_mutex.h
  platform/osx/platform_mutex.h
  platform/server/platform_mutex.h
  platform/windows/platform_mutex.h
  platform/x11/platform_mutex.h
  temp/mutex.h
Owners: @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/macos, @godotengine/windows, @godotengine/linux-bsd

GDScript: Fix missing function signature hint
  modules/gdscript/gdscript_editor.cpp
Owners: @godotengine/gdscript

Backport the previous fix to PScript.
  modules/pscript/pscript_editor.cpp
Owners: none

Fix if statements not setting line numbers properly in PScript.
  modules/pscript/pscript_compiler.cpp
Owners: none

SimpleWebServerRequest::get_file_key() now returns the file's input's name attribute as intended.
  modules/http_server_simple/simple_web_server_request.cpp
  modules/web/doc_classes/WebServerRequest.xml
Owners: none

Remove unnecessary duplicate logic.
  modules/http_server_simple/http_parser.cpp
Owners: none

Update Natvis for Variant:::OBJECT
  platform/windows/pandemonium.natvis
Owners: @godotengine/windows

Add the new variant types to the natvis file.
  platform/windows/pandemonium.natvis
Owners: @godotengine/windows

Update changelog.
  CHANGELOG.md
Owners: none

Tweaks to the readme.
  README.md
Owners: none

Set status to stable. Set docs branch.
  version.py
Owners: @godotengine/buildsystem

Set the website to the domain as it has proper https certificates.
  version.py
Owners: @godotengine/buildsystem

Rename docs variable to docs_branch in version.py and also added a docs_url variable.
  methods.py
  version.py
Owners: @godotengine/buildsystem

Update changelog.
  CHANGELOG.md
Owners: none

Fix warning when using lto.
  modules/gdscript/gdscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.cpp
Owners: @godotengine/gdscript

Bump version.
  CHANGELOG.md
  version.py
Owners: @godotengine/buildsystem

Rework the Multi window support long term plan in the readme as I finally found a way to do it that I like.
  README.md
Owners: none

Fix a default value of TerrainWorld::mesh_data_resource_add_material()'s bind.
  modules/terraman/world/terrain_world.cpp
Owners: none

Backport the previous fix to Voxelman.
  modules/voxelman/world/voxel_world.cpp
Owners: none

Set up libharu build.
  modules/pdf_generator/SCsub
Owners: @godotengine/buildsystem

Fix warning.
  modules/pdf_generator/libharu/src/hpdf_image.c
Owners: none

PDFDocument class initial setup.
  modules/pdf_generator/SCsub
  modules/pdf_generator/config.py
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: @godotengine/buildsystem

PDFPage class initial setup.
  modules/pdf_generator/SCsub
  modules/pdf_generator/config.py
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_page.cpp
  modules/pdf_generator/pdf_page.h
  modules/pdf_generator/register_types.cpp
Owners: @godotengine/buildsystem

PDFFont and PDFImage class initial setup.
  modules/pdf_generator/SCsub
  modules/pdf_generator/config.py
  modules/pdf_generator/pdf_font.cpp
  modules/pdf_generator/pdf_font.h
  modules/pdf_generator/pdf_image.cpp
  modules/pdf_generator/pdf_image.h
Owners: @godotengine/buildsystem

Define having libpng.
  modules/pdf_generator/SCsub
  modules/pdf_generator/libharu/include/hpdf_conf.h
Owners: @godotengine/buildsystem

Initial font and image loading.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Add binds to more of the font loading api.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Remove unneeded comment.
  modules/pdf_generator/pdf_page.h
Owners: none

Comments.
  modules/pdf_generator/pdf_font.h
  modules/pdf_generator/pdf_image.h
Owners: none

Bind set compression mode.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Bind some of the text rendering api so the test project setup can begin.
  modules/pdf_generator/pdf_page.cpp
  modules/pdf_generator/pdf_page.h
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
