Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Also strip the server and http server variants.
  misc/scripts/strip_all.sh
Owners: @godotengine/buildsystem

Also strip the arm variants.
  misc/scripts/strip_all.sh
Owners: @godotengine/buildsystem

Mark 4.9.0 in the changelog.
  CHANGELOG.md
Owners: none

Bump version.
  version.py
Owners: @godotengine/buildsystem

Initial TypedArray setup.
  core/variant/typed_array.cpp
  core/variant/typed_array.h
Owners: @godotengine/core

Some initial work on typed array. Saving this just in case, it will get reverted.
  core/variant/typed_array.cpp
  core/variant/typed_array.h
Owners: @godotengine/core

Revert "Some initial work on typed array. Saving this just in case, it will get reverted."
  core/variant/typed_array.cpp
  core/variant/typed_array.h
Owners: @godotengine/core

Note.
  core/variant/typed_array.cpp
Owners: @godotengine/core

Added back previous saved work as PackedTypedArray.
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
Owners: @godotengine/core

Note.
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Added typo to TypedArray.
  core/variant/typed_array.cpp
Owners: @godotengine/core

Added TypedArray and PackedTypedArray as new variant types.
  core/containers/packed_data_container.cpp
  core/global_constants.cpp
  core/io/marshalls.cpp
  core/io/resource_format_binary.cpp
  core/variant/method_ptrcall.h
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/type_info.h
  core/variant/typed_array.cpp
  core/variant/typed_array.h
  core/variant/variant.cpp
  core/variant/variant.h
  core/variant/variant_call.cpp
  core/variant/variant_op.cpp
  core/variant/variant_parser.cpp
  core/variant/variant_parser.h
  modules/network_synchronizer/scene_synchronizer_debugger.cpp
Owners: @godotengine/core

Fix typo.
  core/variant/variant_op.cpp
Owners: @godotengine/core

Re-extracted class docs.
  doc/classes/@GlobalScope.xml
  doc/classes/Array.xml
  doc/classes/BlobFocus.xml
  doc/classes/BlobShadow.xml
  doc/classes/EditorSettings.xml
  doc/classes/PackedTypedArray.xml
  doc/classes/PoolByteArray.xml
  doc/classes/PoolColorArray.xml
  doc/classes/PoolIntArray.xml
  doc/classes/PoolRealArray.xml
  doc/classes/PoolStringArray.xml
  doc/classes/PoolVector2Array.xml
  doc/classes/PoolVector2iArray.xml
  doc/classes/PoolVector3Array.xml
  doc/classes/PoolVector3iArray.xml
  doc/classes/PoolVector4Array.xml
  doc/classes/PoolVector4iArray.xml
  doc/classes/String.xml
  doc/classes/TypedArray.xml
  modules/camera_server/doc_classes/CameraFeed.xml
  modules/camera_server/doc_classes/CameraServer.xml
Owners: @godotengine/documentation

Mention in the docs that the new TypedArray and PackedTypedArray are not yet finished.
  doc/classes/PackedTypedArray.xml
  doc/classes/TypedArray.xml
Owners: @godotengine/documentation

Added very basic support for the new types to gdscript.
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_tokenizer.cpp
Owners: @godotengine/gdscript

Update TYpedArray stat in the readme.
  README.md
Owners: none

Small tweaks.
  README.md
Owners: none

Fix typo.
  core/variant/variant_parser.cpp
Owners: @godotengine/core

Tweak readme.
  README.md
Owners: none

Rework how VariantParser handles TypedArrays.
  core/variant/variant_parser.cpp
  core/variant/variant_parser.h
Owners: @godotengine/core

Added missing constructor for Rect2I.
  core/variant/variant_call.cpp
Owners: @godotengine/core

Bound 2 constuctors for Projection.
  core/variant/variant_call.cpp
Owners: @godotengine/core

Added set_type_from_name helper method to TypedArray and PackedTypedArray.
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/typed_array.cpp
  core/variant/typed_array.h
Owners: @godotengine/core

Bound a new constructor for TypedArray and PackedTypedArray.
  core/variant/variant_call.cpp
Owners: @godotengine/core

Added typed array support to _clear_internal_resource_paths.
  core/object/object.cpp
Owners: @godotengine/core

More notes for TypedArray.
  README.md
Owners: none

Rework how VariantParser handles TypedArrays again.
  core/variant/variant_parser.cpp
  core/variant/variant_parser.h
Owners: @godotengine/core

Init type in the new arrays.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core

Set up types in duplicate.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core

Set up editor properties for the new variant types.
  editor/editor_properties.cpp
  editor/editor_properties_array_dict.cpp
Owners: none

Allow nulls in can_take_variant.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core

Fix handling resource types in the editor properties for TypedArray and PackedTypedArray.
  editor/editor_properties_array_dict.cpp
Owners: none

FIx handling resources for TypedArrays in ResourceFormatText.
  core/variant/variant_parser.cpp
  scene/resources/resource_format_text.cpp
Owners: @godotengine/core

More fixes to EditorPropertyArray.
  editor/editor_properties_array_dict.cpp
Owners: none

Better stringify implementation for the new types.
  core/variant/variant.cpp
Owners: @godotengine/core

Removed the non-const operator[] from PackedTypedArray.
  core/io/resource_format_binary.cpp
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/variant_op.cpp
Owners: @godotengine/core

Tweaks to the new arrays.
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/typed_array.cpp
  core/variant/typed_array.h
  core/variant/variant_call.cpp
  core/variant/variant_parser.cpp
Owners: @godotengine/core

Removed the setter operator[] from TypedArray.
  core/io/resource_format_binary.cpp
  core/variant/typed_array.cpp
  core/variant/typed_array.h
  core/variant/variant_op.cpp
Owners: @godotengine/core

Now can_take_variant() in the new arrays can handle global script classes aswell.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core
