Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Use c style numeric limits.
  platform/osx/export/codesign.cpp
  platform/osx/export/lipo.cpp
  platform/osx/export/macho.cpp
  platform/osx/export/macho.h
  scene/resources/font/dynamic_font.h
Owners: @godotengine/macos

Use native rw lock apis directly.
  platform/android/platform_rw_lock.h
  platform/frt/platform_rw_lock.h
  platform/frt_sdl/platform_rw_lock.h
  platform/iphone/platform_rw_lock.h
  platform/javascript/platform_rw_lock.h
  platform/osx/platform_rw_lock.h
  platform/server/platform_rw_lock.h
  platform/windows/SCsub
  platform/windows/platform_rw_lock.cpp
  platform/windows/platform_rw_lock.h
  platform/x11/platform_rw_lock.h
Owners: @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/macos, @godotengine/windows, @godotengine/linux-bsd

Fix variable name.
  platform/windows/platform_rw_lock.cpp
Owners: @godotengine/windows

Cast before deletion.
  platform/windows/platform_mutex.cpp
Owners: @godotengine/windows

Use native semaphores.
  platform/android/platform_semaphore.h
  platform/frt/platform_semaphore.h
  platform/frt_sdl/platform_semaphore.h
  platform/iphone/platform_semaphore.h
  platform/iphone/platform_semaphore_emulated.h
  platform/javascript/platform_semaphore.h
  platform/osx/platform_semaphore.h
  platform/server/platform_semaphore.h
  platform/windows/SCsub
  platform/windows/platform_semaphore.cpp
  platform/windows/platform_semaphore.h
  platform/x11/platform_semaphore.h
Owners: @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/macos, @godotengine/windows, @godotengine/linux-bsd

Tweaks.
  platform/iphone/platform_semaphore_emulated.h
Owners: @godotengine/ios

Use dispatch_semaphore for osx.
  platform/osx/platform_semaphore.h
Owners: @godotengine/macos

Also use dispatch semaphore on ios.
  platform/iphone/platform_semaphore.h
Owners: @godotengine/ios

Reimplement atomics using old gcc builtins.
  core/containers/cowdata.h
  core/os/safe_refcount.cpp
  core/os/safe_refcount.h
  main/main.cpp
Owners: @godotengine/core

Now SpinLock uses SafeFlag.
  core/os/spin_lock.h
Owners: @godotengine/core

MSVC atomics initial setup.
  core/os/safe_refcount.cpp
  core/os/safe_refcount.h
Owners: @godotengine/core

Remove SafeNumeric<float>-s from AudioStreamPlayers.
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/audio_stream_player_2d.h
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
  scene/audio/audio_stream_player.cpp
  scene/audio/audio_stream_player.h
Owners: @godotengine/2d-nodes, @godotengine/3d-nodes, @godotengine/audio

No need for the float SafeNumeric template specialization now.
  core/os/safe_refcount.h
Owners: @godotengine/core

Atomics for MSVC.
  core/os/safe_refcount.cpp
  core/os/safe_refcount.h
Owners: @godotengine/core

Add missing ;.
  core/os/safe_refcount.h
Owners: @godotengine/core

Fix typo.
  core/os/safe_refcount.h
Owners: @godotengine/core

Fix unsafe mixing of bool and uints.
  core/os/safe_refcount.h
Owners: @godotengine/core

Fix method call parameters.
  core/os/safe_refcount.h
Owners: @godotengine/core

Add new method to dummy SafeFlag.
  core/os/safe_refcount.h
Owners: @godotengine/core

Hopefully fix method overload issues for MSVC.
  core/os/safe_refcount.cpp
  core/os/safe_refcount.h
Owners: @godotengine/core

Fix atomic method definitions for MSVC.
  core/os/safe_refcount.cpp
  core/os/safe_refcount.h
Owners: @godotengine/core

Call the intended method.
  core/os/safe_refcount.cpp
Owners: @godotengine/core

Add explicit PVOID casts.
  core/os/safe_refcount.cpp
Owners: @godotengine/core

Disable signed atomic method variants for MSVC.
  core/os/safe_refcount.cpp
  core/os/safe_refcount.h
Owners: @godotengine/core

Add explicit casts.
  core/os/safe_refcount.h
Owners: @godotengine/core

Re-enable signed atomic conversion methods.
  core/os/safe_refcount.cpp
  core/os/safe_refcount.h
Owners: @godotengine/core

Don't use IP::ResolverStatus as a SafeNumeric parameter.
  core/io/ip.cpp
Owners: @godotengine/core

Fix order of parameters.
  core/os/safe_refcount.cpp
Owners: @godotengine/core

Added a SafePointer type to SafeRefcount. Renamed the Windows template specialization to it.
  core/os/safe_refcount.h
Owners: @godotengine/core

Use InterlockedExchangeAdd everywhere instead of InterlockedAdd on Windows.
  core/os/safe_refcount.cpp
Owners: @godotengine/core

Added proper atomic loads and stores.
  core/os/safe_refcount.cpp
  core/os/safe_refcount.h
Owners: @godotengine/core

Fix compare exchange logic and also small tweaks.
  core/os/safe_refcount.h
Owners: @godotengine/core

Rework the gcc version of SafeFlag to use uint8_t.
  core/os/safe_refcount.h
Owners: @godotengine/core

Use set() in atomic variable constructors again.
  core/os/safe_refcount.h
Owners: @godotengine/core

Use getters instead of casting to volatile in Safe Refcount. Also initialize flag to 0 in SafeFlag.
  core/os/safe_refcount.h
Owners: @godotengine/core

Now ObjectRC and Object use SafePointers and SafeNumerics instead of std::atomic.
  core/object/object.cpp
  core/object/object.h
  core/object/object_rc.h
Owners: @godotengine/core

Now ThreadWorkPool uses SafeFlag and SafeNumeric instead of std::atomic.
  core/os/thread_work_pool.cpp
  core/os/thread_work_pool.h
Owners: @godotengine/core

Get rid of stl in SafeList. Note that SafeList is not used anywhere, so it might still have issues.
  core/containers/safe_list.h
Owners: @godotengine/core

Add missing & operator.
  core/os/safe_refcount.h
Owners: @godotengine/core

Fix constructor name.
  core/os/safe_refcount.h
Owners: @godotengine/core
