Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Make the expected tool settings shown by default in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Chunk remover tool initial setup in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Added a new helper method to TerrainWorld.
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Added liquid mode to the isolevel brush and paint brush tools in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
  modules/terraman/world/default/terrain_world_default.cpp
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Added the ability to erase using the paint brush in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Only show the surface selection when the paint brush is active in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Removed the add and remove single tools from TerrainWorldEditor as they are not very useful for a terrain engine.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Reordered the main tool buttons in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Add the paint brush tool settings buttons to the proper container in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Implemented the paint picker tool's ui in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Tewaks to the main tool labels in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Inlined set_pressed_no_signal call into BaseButton::set_pressed().
  scene/gui/base_button.cpp
Owners: @godotengine/gui-nodes

Implemented the paint picker tool in TerrainWorldEditor. Also improved the editor's Button signal setup.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Added NOTIFICATION_QUITTING to MainLoop.
  core/os/main_loop.cpp
  core/os/main_loop.h
  scene/main/scene_tree.cpp
Owners: @godotengine/core

Fix potential hang on exit due to deadlocks.
  modules/terraman/library/terrain_library_merger_pcm.cpp
  modules/terraman/library/terrain_library_merger_pcm.h
  modules/terraman/world/terrain_world.cpp
Owners: none

TerrainWorldEditor variable name tweaks.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Implemented the gui for the chunk spawn and chunk remove tools in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Clear the material cache data in TerrainChunk::_exit_tree().
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Added a new helper method to TerrainWorld.
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Call TerrainChunk's build() after it's added to a World manually.
  modules/terraman/world/terrain_world.cpp
Owners: none

Implemented the spawn chunks and remove chunks tool in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Fix typo.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Also expose the liquid data in TerrainChunkBlocky.
  modules/terraman/world/blocky/terrain_chunk_blocky.cpp
Owners: none

Add the new chunk to the generation queue instead of directly calling it's build method in TerrainWorld::chunk_add().
  modules/terraman/world/terrain_world.cpp
Owners: none

Fix isolevel paint and paint brush tools always allowing chunk creation.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Simplify chunks_set() in TerrainWorld.
  modules/terraman/world/terrain_world.cpp
Owners: none

Only generate chunks once.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
  modules/terraman/world/terrain_world.cpp
Owners: none

Now props and mesh data resources are saved with the TerrainChunks.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
  modules/terraman/world/terrain_world.cpp
Owners: none

Now TerrainLights are stored inside chunks (they are also automatically saved with them). Also changed TerrainLight's api to makes use of Vector3i.
  modules/props/prop_mesher.cpp
  modules/terraman/data/terrain_light.cpp
  modules/terraman/data/terrain_light.h
  modules/terraman/meshers/terrain_mesher.cpp
  modules/terraman/world/default/terrain_chunk_default.cpp
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Make sure the remaining chunks are notified of the changed world lights when adding / removing chunks.
  modules/terraman/world/terrain_world.cpp
Owners: none

Now TerrainChunks will remember whether they own a prop or not. Also added and bound missing methods to Chunk's prop api.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
Owners: none

Set prop ownership when adding them in TerrainWorld.
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Renamed the new original parameter in TerrainChunk and TerrainWorld's prop api from owner to original.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Store whether a mesh_data_resource in a TerrainChunk is original or not.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
  modules/terraman/world/terrain_world.cpp
Owners: none

Store ownership information in TerrainLights.
  modules/terraman/data/terrain_light.cpp
  modules/terraman/data/terrain_light.h
Owners: none

Set prop ownership to lights in TerrainWorld::prop_add().
  modules/terraman/world/terrain_world.cpp
Owners: none

Added to_dict() and from_dict() methods to TerrainLight/
  modules/terraman/data/terrain_light.cpp
  modules/terraman/data/terrain_light.h
Owners: none

Now TerrainLights inherit from Resource.
  modules/terraman/data/terrain_light.h
Owners: none

Added owned_lights property to TerrainChunk. Also changed the lights property it is now scripting only, it won't get saved.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
Owners: none

Added scene storage api to TerrainChunks.
  modules/props/doc_classes/PropInstance.xml
  modules/props/prop_instance.cpp
  modules/props/prop_instance.h
  modules/props/prop_instance_merger.h
  modules/props_2d/doc_classes/Prop2DInstance.xml
  modules/props_2d/prop_2d_instance.cpp
  modules/props_2d/prop_2d_instance.h
  modules/props_2d/prop_2d_instance_merger.h
  modules/terraman/world/jobs/terrain_prop_job.cpp
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
  modules/terraman_2d/world/terrain_2d_chunk.cpp
  modules/terraman_2d/world/terrain_2d_chunk.h
  modules/voxelman/world/jobs/voxel_prop_job.cpp
  modules/voxelman/world/voxel_chunk.cpp
  modules/voxelman/world/voxel_chunk.h
  modules/voxelman/world/voxel_world.cpp
  modules/voxelman/world/voxel_world.h
Owners: none
