Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Added force printing / logging option to OS. Made PLogger use this internally.
  core/io/logger.cpp
  core/io/logger.h
  core/log/logger.cpp
  core/os/os.cpp
  core/os/os.h
  core/string/print_string.cpp
  core/string/print_string.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  drivers/unix/syslog_logger.cpp
  drivers/unix/syslog_logger.h
  platform/android/os_android.cpp
  platform/osx/os_osx.mm
  platform/windows/windows_terminal_logger.cpp
  platform/windows/windows_terminal_logger.h
Owners: @godotengine/core, @godotengine/_platforms, @godotengine/android, @godotengine/macos, @godotengine/windows

Added a new important log level to PLogger.
  core/bind/logger_bind.cpp
  core/bind/logger_bind.h
  core/log/logger.cpp
  core/log/logger.h
  core/log/logger_backend.cpp
  core/log/logger_backend.h
Owners: @godotengine/core

Fix osx compile.
  platform/osx/os_osx.mm
Owners: @godotengine/macos

Added log_custom method to PLogger. It's a lot more customizable than the others by design. Also small cleanups.
  core/bind/logger_bind.cpp
  core/bind/logger_bind.h
  core/log/logger.cpp
  core/log/logger.h
  core/log/logger_backend.cpp
  core/log/logger_backend.h
Owners: @godotengine/core

Fix typo.
  core/log/logger.h
Owners: @godotengine/core

Added a method to get all users from the UserDB and UserManagers.
  modules/users/managers/user_manager.cpp
  modules/users/managers/user_manager.h
  modules/users/managers/user_manager_db.cpp
  modules/users/managers/user_manager_db.h
  modules/users/managers/user_manager_file.cpp
  modules/users/managers/user_manager_file.h
  modules/users/managers/user_manager_static.cpp
  modules/users/managers/user_manager_static.h
  modules/users/singleton/user_db.cpp
  modules/users/singleton/user_db.h
Owners: none

Added use_on_initial_import() virtual method to ResourceImporter.
  core/io/resource_importer.h
  editor/editor_file_system.cpp
  editor/import/editor_import_plugin.cpp
  editor/import/editor_import_plugin.h
Owners: @godotengine/core, @godotengine/import

Set use_on_initial_import() in ResourceImporterCSVTranslation to false.
  editor/import/resource_importer_csv_translation.h
Owners: @godotengine/import

Created a HTMLTemplateMultilang class. It can automatically select between multiple HTMLTemplates.
  modules/web/SCsub
  modules/web/html/html_template_multilang.cpp
  modules/web/html/html_template_multilang.h
  modules/web/register_types.cpp
Owners: @godotengine/buildsystem

Bind methods in HTMLTemplateMultilang.
  modules/web/html/html_template_multilang.cpp
Owners: none

Implement locale helper methods to WebServerRequest.
  modules/web/http/web_server_request.cpp
  modules/web/http/web_server_request.h
Owners: none

HTMLTemplateMultilang now also tries to use the locale helper method in WebServerRequest.
  modules/web/html/html_template_multilang.cpp
Owners: none

Added a new LocaleSetupWebServerMiddleware.
  modules/web/http/web_server_middleware.cpp
  modules/web/http/web_server_middleware.h
  modules/web/register_types.cpp
Owners: none

Added new classes to the web module's config.py.
  modules/web/config.py
Owners: @godotengine/buildsystem

Re-extracted class docs.
  doc/classes/Basis.xml
  doc/classes/EditorImportPlugin.xml
  doc/classes/LoggerBackend.xml
  doc/classes/PLogger.xml
  doc/classes/Spatial.xml
  doc/classes/Transform.xml
  doc/classes/Vector3.xml
  modules/users/doc_classes/UserDB.xml
  modules/users/doc_classes/UserManager.xml
  modules/web/doc_classes/HTMLTemplateMultilang.xml
  modules/web/doc_classes/LocaleSetupWebServerMiddleware.xml
  modules/web/doc_classes/WebServerRequest.xml
Owners: @godotengine/documentation

Added get_last_insert_rowid() method to PreparedStatement.
  modules/database/prepared_statement.cpp
  modules/database/prepared_statement.h
  modules/database/query_result.h
  modules/database_sqlite/sqlite3_prepared_statement.cpp
  modules/database_sqlite/sqlite3_prepared_statement.h
Owners: none

Added get_next_cell*() helper methods to QueryBuilder.
  modules/database/query_result.cpp
  modules/database/query_result.h
  modules/database_sqlite/sqlite3_query_result.cpp
Owners: none

Added get_stored_row_count() and get_cell_count() helper methods to QueryResult.
  modules/database/query_result.cpp
  modules/database/query_result.h
  modules/database_sqlite/sqlite3_query_result.cpp
  modules/database_sqlite/sqlite3_query_result.h
Owners: none

Now get_cell and is_cell_null in Sqlite3QueryResult will do a bounds check via error macros.
  modules/database_sqlite/sqlite3_query_result.cpp
Owners: none

Added next_column*() helper methods to PreparedStatement.
  modules/database/prepared_statement.cpp
  modules/database/prepared_statement.h
  modules/database_sqlite/sqlite3_prepared_statement.cpp
Owners: none

Don't cache emsdk
  .github/workflows/javascript_builds.yml
Owners: @godotengine/buildsystem

Document Timer autostart in tool scripts
  doc/classes/Timer.xml
Owners: @godotengine/documentation

Add `EditorPlugin::scene_saved` signal (3.x backport)
  doc/classes/EditorPlugin.xml
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_node.cpp
  editor/editor_plugin.cpp
  editor/editor_plugin.h
Owners: @godotengine/documentation

Improve cache handling
  SConstruct
  methods.py
Owners: @godotengine/buildsystem

Hide last DirectionalLight shadow split distance property when using PSSM 3 Splits
  scene/3d/light.cpp
Owners: @godotengine/3d-nodes

Ameliorate performance regression due to directional shadow `fade_start`
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/scene.glsl
Owners: @godotengine/rendering

Document radial_center_offset bounds
  doc/classes/TextureProgress.xml
Owners: @godotengine/documentation

Enable builds with miniupnpc API 18
  modules/upnp/upnp.cpp
Owners: @godotengine/network

embree: Fix invalid output operators raising errors with GCC 15
  editor_modules/raycast/embree/kernels/geometry/pointi.h
  editor_modules/raycast/embree/kernels/subdiv/bezier_curve.h
  thirdparty/embree/patches/embree-fix-output-operator.patch
Owners: @godotengine/buildsystem

mbedtls: Update to upstream version 2.28.9
  thirdparty/README.md
  thirdparty/mbedtls/include/mbedtls/config.h
  thirdparty/mbedtls/include/mbedtls/ecdh.h
  thirdparty/mbedtls/include/mbedtls/ecp.h
  thirdparty/mbedtls/include/mbedtls/version.h
  thirdparty/mbedtls/library/common.h
  thirdparty/mbedtls/library/entropy_poll.c
  thirdparty/mbedtls/library/oid.c
  thirdparty/mbedtls/library/ssl_msg.c
  thirdparty/mbedtls/library/ssl_tls.c
  thirdparty/mbedtls/library/x509_crt.c
  thirdparty/mbedtls/patches/windows-entropy-bcrypt.diff
Owners: @godotengine/buildsystem

Fix VS project generation with SCons 4.8.0+
  methods.py
Owners: @godotengine/buildsystem

Mark last backported commit.
  CHANGELOG.md
Owners: none

Hide the Bake text of the MergeGroupEditorPlugin's icon.
  editor/plugins/merge_group_editor_plugin.cpp
Owners: none

Use icons for the TerrainWorldEditor's buttons.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Fix property names.
  modules/terraman/world/terrain_world_editor.cpp
Owners: none

Fix variable names.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Fix compile.
  modules/terraman/world/terrain_world_editor.cpp
Owners: none

Moved the control buttons of the TerrainWorldEditor to the side panel.
  modules/terraman/world/terrain_world_editor.cpp
Owners: none

Tidy up the Isolevel clider of the TerrainWorldEditor.
  modules/terraman/world/terrain_world_editor.cpp
Owners: none

TerrainWorldEditor cleanups and some initial rework for it's new functionality.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none
