Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Don't use deprecated method.
  modules/terraman/world/default/terrain_chunk_default.cpp
Owners: none

Better mesher setup in TerrainWorldBlocky::_setup_chunk().
  modules/terraman/world/blocky/terrain_world_blocky.cpp
Owners: none

Fix BUILD_FLAG_CREATE_COLLIDER in terraman.
  modules/terraman/world/jobs/terrain_terrain_job.cpp
Owners: none

Also fix BUILD_FLAG_CREATE_COLLIDER in voxelman.
  modules/voxelman/world/jobs/voxel_terrain_job.cpp
Owners: none

Implement int post increment and pre increment support to PScript.
  core/core_string_names.cpp
  core/core_string_names.h
  core/variant/variant_op.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: @godotengine/core

Added log1p, log10, and log2 to PScript.
  modules/pscript/pscript_functions.cpp
  modules/pscript/pscript_functions.h
Owners: none

Re-extracted class docs.
  doc/classes/ProjectSettings.xml
  modules/pscript/doc_classes/@PScript.xml
Owners: @godotengine/documentation

Update links.
  modules/gdscript/doc_classes/@GDScript.xml
Owners: @godotengine/gdscript

Update PScript docs.
  modules/pscript/doc_classes/@PScript.xml
Owners: none

Update the dictionatry literal.
  modules/pscript/doc_classes/@PScript.xml
Owners: none

Fixing issues with for pt1.
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

Fix all remaining issues with for variable scopes.
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_parser.cpp
Owners: none

Added an editor text completion option for inserting the StringName and nodePath symbols in front of Strings when applicable.
  editor/editor_settings.cpp
  editor/editor_settings.h
  modules/pscript/pscript_editor.cpp
Owners: none

Fix inserting StringName and NodePath symbols in all cases I was able to find.
  modules/pscript/pscript_editor.cpp
Owners: none

Re-extracted class docs.
  modules/pscript/doc_classes/@PScript.xml
Owners: none

Docs for the new settings.
  doc/classes/EditorSettings.xml
Owners: @godotengine/documentation

Rework the ternary operator in PScript to be more c-like.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Fix error messages.
  modules/pscript/pscript_parser.cpp
Owners: none

Update comment to save potential pain in the future.
  modules/pscript/pscript_parser.cpp
Owners: none

Swap the comment delimiters around in PScriptLanguage::get_comment_delimiters() so the editor toggle comment shortcut uses //.
  modules/pscript/pscript_editor.cpp
Owners: none

Now TerrainWorlds will duplicate chunks if they are already part of an another world.
  modules/terraman/world/terrain_world.cpp
Owners: none

Backport the previous change to voxelman.
  modules/voxelman/world/voxel_world.cpp
Owners: none

Fix accessing engine singletons from PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Parse -> as dot in PScript.
  modules/pscript/pscript_tokenizer.cpp
Owners: none

Added a default language and default name casing dropdown to the create project dialog. If changed, they remember state.
  core/config/project_settings.cpp
  editor/editor_settings.cpp
  editor/project_manager.cpp
  editor/script_create_dialog.cpp
Owners: @godotengine/core

Tweak the renderer texts in the create project dialog.
  editor/project_manager.cpp
Owners: none

Rename SCENE_NAME_CASING_AUTO to SCENE_NAME_CASING_KEEP so it's name better matches what it does.
  core/config/project_settings.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_settings.cpp
  editor/project_manager.cpp
  editor/scene_tree_dock.cpp
Owners: @godotengine/core, @godotengine/docks

Update module list in module_config.py.
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

Make ; after enums optional in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Tokenize -> as forward arrow instead, and also handle it as indexing, to make potential error messages less confusing.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_tokenizer.cpp
Owners: none

Also search outer classes of their subclasses for types when declaring a variable in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Fix virtual method bind return types in WebPermission.
  modules/web/doc_classes/WebPermission.xml
  modules/web/http/web_permission.cpp
Owners: none

Rename some of the binary magic headers.
  core/config/project_settings.cpp
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/io/image_loader.cpp
  editor/import/resource_importer_image.cpp
  editor/import/resource_importer_layered_texture.cpp
  editor/import/resource_importer_texture.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.cpp
  scene/resources/texture.cpp
Owners: @godotengine/core, @godotengine/import, @godotengine/gdscript

Notes.
  README.md
Owners: none

Fix pagination links of PagedArticleWebPage.
  modules/web/nodes/paged_article/paged_article_web_page.cpp
Owners: none

Store global script class icon keys as Strings, instead of StringNames in the ProjectSettings.
  editor/editor_data.cpp
Owners: none

Fix global script class icon indexing during their loading.
  editor/editor_data.cpp
Owners: none

Fix switch statement falling into statements when not having a default case, and the given value did not match any cases in PScript.
  modules/pscript/pscript_compiler.cpp
Owners: none

Bind missing method in SkeletonEditor.
  modules/skeleton_3d/editor/skeleton_editor_plugin.cpp
Owners: none

Fix parsing expressions after switch statements in PScript. This also fixed switch statements inside switch statements.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none
