Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

License tweaks, also fixed project information in COPYRIGHT.txt.
  COPYRIGHT.txt
  LOGO_LICENSE.md
Owners: none

Updated the links in CONTRIBUTING.md, also small tweaks.
  CONTRIBUTING.md
Owners: none

Remove sys/ioctl.h for ps vita
  drivers/unix/net_socket_posix.cpp
Owners: @godotengine/_platforms

Update the readme.
  README.md
Owners: none

Fix link.
  README.md
Owners: none

Fix typo.
  COPYRIGHT.txt
Owners: none

Renamed looking_at to create_looking_at, and from_scale to create_from_scale in Basis.
  core/math/basis.cpp
  core/math/basis.h
  modules/gdnative/gdnative/basis.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdn/basis.h
Owners: @godotengine/core, @godotengine/gdnative

Undo unecessary breaking change to gdnative.
  modules/gdnative/gdnative/basis.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdn/basis.h
Owners: @godotengine/gdnative

Added non-static looking_at and from_scale helper methods to Basis.
  core/math/basis.cpp
  core/math/basis.h
Owners: @godotengine/core

Transform now uses Basis::create_looking_at.
  core/math/transform.cpp
Owners: @godotengine/core

Added set_look_at helper method to Basis.
  core/math/basis.cpp
  core/math/basis.h
Owners: @godotengine/core

Backported from godot4: Add the ability to look-at in model-space.
  core/math/basis.cpp
  core/math/basis.h
  core/math/transform.cpp
  core/math/transform.h
  core/variant/variant_call.cpp
  doc/classes/Basis.xml
  doc/classes/Spatial.xml
  doc/classes/Transform.xml
  doc/classes/Vector3.xml
  scene/main/spatial.cpp
  scene/main/spatial.h
Owners: @godotengine/core, @godotengine/documentation

Update gdnative api.
  modules/gdnative/gdnative/basis.cpp
  modules/gdnative/gdnative/transform.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdn/basis.h
  modules/gdnative/include/gdn/transform.h
Owners: @godotengine/gdnative

Backported from godot 4: Make SkeletonIk3D node usable
  modules/skeleton_3d/editor/skeleton_ik_editor_plugin.cpp
  modules/skeleton_3d/nodes/skeleton_ik.cpp
Owners: none

avoid scene\gui\text_edit.cpp:6054 - Index p_line = 29 is out of bounds (text.size() = 8).
  scene/gui/text_edit.cpp
Owners: @godotengine/gui-nodes

Update text_edit.cpp
  scene/gui/text_edit.cpp
Owners: @godotengine/gui-nodes

Improve error message when `OS.execute()` fails on Windows
  platform/windows/os_windows.cpp
Owners: @godotengine/windows

Fix physics platform behaviour regression
  scene/3d/physics_body.cpp
Owners: @godotengine/3d-nodes

Document that `Input.is_action` should not be used during input-handling
  doc/classes/Input.xml
Owners: @godotengine/documentation

Do not auto add default script and country codes to the locale.
  core/string/translation.cpp
  core/string/translation.h
Owners: @godotengine/core

Backport 65910 for Godot 3
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
Owners: @godotengine/gdscript

Cache results for `TranslationServer.compare_locales()`
  core/string/translation.cpp
  core/string/translation.h
Owners: @godotengine/core

Fix button click detection when `Tree` is rotated
  scene/gui/tree.cpp
Owners: @godotengine/gui-nodes

Fix Button not listing `hover_pressed` stylebox
  doc/classes/Button.xml
  scene/resources/default_theme/default_theme.cpp
Owners: @godotengine/documentation, @godotengine/gui-nodes

Fix random multithreaded crash that happens when setting the audio stream on a AudioStreamRandomPitch stream.
  servers/audio/audio_stream.cpp
Owners: @godotengine/audio

Fix `PopupMenu` margin and separation calculations
  scene/gui/popup_menu.cpp
Owners: @godotengine/gui-nodes

Fix error when non-ASCII characters in resource pack path
  core/io/file_access_zip.cpp
Owners: @godotengine/core

certs: Sync with Mozilla bundle as of Oct 19, 2024
  thirdparty/README.md
  thirdparty/certs/ca-certificates.crt
Owners: @godotengine/buildsystem

CI: Update Ubuntu runners to 24.04, but keep 22.04 for Linux builds
  .github/disabled_workflows/static_checks.yml
  .github/workflows/android_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/server_builds.yml
  core/io/http_client.cpp
  core/io/packet_peer_udp.cpp
  core/io/stream_peer.cpp
  doc/translations/extract.py
  editor/editor_builders.py
  editor/icons/editor_icons_builders.py
  editor_modules/denoise/resource_to_cpp.py
  gles_builders.py
  main/main_builders.py
  modules/gdnative/gdnative_builders.py
  modules/tile_map/tile_map.cpp
  platform/osx/platform_osx_builders.py
  platform/windows/platform_windows_builders.py
  platform/x11/platform_x11_builders.py
  scu_builders.py
Owners: @godotengine/buildsystem, @godotengine/core, @godotengine/documentation, @godotengine/usability, @godotengine/gdnative, @godotengine/macos, @godotengine/windows, @godotengine/linux-bsd

CI: Remove now unused sources.list file
  misc/ci/sources.list
Owners: @godotengine/buildsystem

Fix split_floats behavior when spaces are used as separators
  core/string/ustring.cpp
  main/tests/test_string.cpp.old
Owners: @godotengine/core, @godotengine/tests

Implement glow map effect
  doc/classes/Environment3D.xml
  doc/classes/RenderingServer.xml
  drivers/dummy/rasterizer_dummy.h
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/tonemap.glsl
  scene/resources/environment_3d.cpp
  scene/resources/environment_3d.h
  servers/rendering/rasterizer.h
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Owners: @godotengine/documentation, @godotengine/rendering

Mark last backported commit.
  CHANGELOG.md
Owners: none

Updated the other github actions.
  .github/workflows/android_editor_builds.yml
  .github/workflows/http_server_builds.yml
Owners: @godotengine/buildsystem

Fix windows compile.
  platform/windows/os_windows.cpp
Owners: @godotengine/windows

Better solution for the previous fix.
  core/string/ustring.cpp
  core/string/ustring.h
  platform/windows/os_windows.cpp
Owners: @godotengine/core, @godotengine/windows

Fix the fix.
  core/string/ustring.cpp
  core/string/ustring.h
Owners: @godotengine/core

Updated sqlite to version 3.47.0. Also added a VERSION.txt to it's folder.
  modules/database_sqlite/sqlite/VERSION.txt
  modules/database_sqlite/sqlite/shell.c
  modules/database_sqlite/sqlite/sqlite3.def
  modules/database_sqlite/sqlite/sqlite3.h
  modules/database_sqlite/sqlite/sqlite3ext.h
Owners: none

Added the previous commit as patch.
  modules/database_sqlite/sqlite/patch/0001-SQLITE_NO_FCHOWN.patch
Owners: none

Update vita_builds.yml
  .github/workflows/vita_builds.yml
Owners: @godotengine/buildsystem
