Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Tweaks and improvements to TerrainChunk's new scene api.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
Owners: none

Added the new scene_add() method to TerrainWorld. Also store scenes from props inside chunks.
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Small variable name tweak.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

More tweaks to TerrainChunk's new scene api.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
Owners: none

Fix compile on windows, osx, and javascript. (Hopefully.)
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_world.cpp
Owners: none

Fix windows build.
  modules/terraman/data/terrain_light.cpp
Owners: none

Update dir_access_unix.cpp
  drivers/unix/dir_access_unix.cpp
Owners: @godotengine/_platforms

Create switch_builds.yml
  .github/workflows/switch_builds.yml
Owners: @godotengine/buildsystem

Update switch_builds.yml
  .github/workflows/switch_builds.yml
Owners: @godotengine/buildsystem

Update switch_builds.yml
  .github/workflows/switch_builds.yml
Owners: @godotengine/buildsystem

Update switch_builds.yml
  .github/workflows/switch_builds.yml
Owners: @godotengine/buildsystem

Update switch_builds.yml
  .github/workflows/switch_builds.yml
Owners: @godotengine/buildsystem

Update switch_builds.yml
  .github/workflows/switch_builds.yml
Owners: @godotengine/buildsystem

Update switch_builds.yml
  .github/workflows/switch_builds.yml
Owners: @godotengine/buildsystem

update
  drivers/unix/net_socket_posix.cpp
Owners: @godotengine/_platforms

update
  drivers/gles2/rasterizer_storage_gles2.cpp
Owners: @godotengine/rendering

Update switch_builds.yml
  .github/workflows/switch_builds.yml
Owners: @godotengine/buildsystem

Update switch_builds.yml
  .github/workflows/switch_builds.yml
Owners: @godotengine/buildsystem

correct vita
  drivers/unix/dir_access_unix.cpp
Owners: @godotengine/_platforms

correct unexpected end-of-file found
  drivers/unix/dir_access_unix.cpp
Owners: @godotengine/_platforms

submodules: recursive to download the sub module
  .github/workflows/android_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/vita_builds.yml
  .github/workflows/windows_builds.yml
Owners: @godotengine/buildsystem

correct for VITA
  drivers/unix/dir_access_unix.cpp
Owners: @godotengine/_platforms

correct for both vita and horizon
  drivers/unix/dir_access_unix.cpp
Owners: @godotengine/_platforms

add missing endif
  drivers/unix/dir_access_unix.cpp
Owners: @godotengine/_platforms

Physics Interpolation - Auto-reset on `set_physics_interpolation_mode()`
  scene/2d/camera_2d.cpp
  scene/3d/camera.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
Owners: @godotengine/2d-nodes, @godotengine/3d-nodes, @godotengine/core

Physics Interpolation - fix client interpolation pump
  scene/main/scene_tree.cpp
Owners: @godotengine/core

Docs: BitMap: Added description for opaque_to_polygons method
  doc/classes/BitMap.xml
Owners: @godotengine/documentation

Prevent inlining error print functions.
  core/error/error_macros.h
  core/typedefs.h
Owners: @godotengine/core

Add GLOBAL_GET cached macros.
  core/config/project_settings.cpp
  core/config/project_settings.h
  core/error/error_macros.cpp
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shader_gles2.cpp
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/shader_compiler_gles3.cpp
  editor/import/resource_importer_texture.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/theme_editor_preview.cpp
  editor_modules/editor_code_editor/editor_script_text_editor.cpp
  main/main.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  platform/android/export/gradle_export_util.cpp
  scene/3d/mesh_instance.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/resources/material/spatial_material.cpp
  servers/audio/audio_stream.cpp
  servers/rendering/portals/portal_occlusion_culler.cpp
  servers/rendering_server.cpp
Owners: @godotengine/core, @godotengine/rendering, @godotengine/import, @godotengine/gdscript, @godotengine/android, @godotengine/3d-nodes, @godotengine/audio

Drop mouse focus and over when gui input is globally disabled
  doc/classes/ProjectSettings.xml
  editor/project_manager.cpp
  main/main.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
Owners: @godotengine/documentation, @godotengine/core

Make drop_mouse_on_gui_input_disabled GLOBAL_GET cached.
  scene/main/viewport.cpp
Owners: @godotengine/core

Simplified `ObjectDB::get_instance()` casting
  core/object/object.cpp
  core/object/object.h
Owners: @godotengine/core

Physics Interpolation - Move 3D FTI to `SceneTree`
  core/containers/local_vector.h
  doc/classes/RenderingServer.xml
  doc/classes/VehicleWheel.xml
  main/tests/test_expression.h
  modules/skeleton_3d/doc_classes/BoneAttachment.xml
  modules/skeleton_3d/nodes/bone_attachment.cpp
  modules/skeleton_3d/nodes/skeleton_ik.cpp
  scene/3d/camera.cpp
  scene/3d/camera.h
  scene/3d/vehicle_body.cpp
  scene/3d/visual_instance.cpp
  scene/3d/visual_instance.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/scene_tree_fti.cpp
  scene/main/scene_tree_fti.h
  scene/main/spatial.cpp
  scene/main/spatial.h
  servers/rendering/rasterizer.h
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_scene.cpp
  servers/rendering/rendering_server_scene.h
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Owners: @godotengine/core, @godotengine/documentation, @godotengine/tests, @godotengine/3d-nodes

Fix compile.
  scene/3d/camera.cpp
  scene/3d/visual_instance.cpp
  servers/rendering_server.cpp
Owners: @godotengine/3d-nodes

Backported move semantics from godot 3.x. with some changes.
  core/containers/cowdata.h
  core/containers/list.h
  core/containers/local_vector.h
  core/string/string_name.h
  core/typedefs.h
  core/variant/variant.h
Owners: @godotengine/core

Fix compile.
  scene/main/scene_tree_fti.h
Owners: @godotengine/core

Use HAS_TRIVIAL_DESTRUCTOR macro instead of std::is_trivially_destructible.
  core/config/project_settings.h
Owners: @godotengine/core

Reworked the new GLOBAL_GET_CACHED macro.
  core/config/project_settings.h
  core/error/error_macros.cpp
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles2/rasterizer_scene_gles2.cpp
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles2/shader_compiler_gles2.cpp
  drivers/gles2/shader_gles2.cpp
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  drivers/gles3/shader_compiler_gles3.cpp
  editor/import/resource_importer_texture.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/theme_editor_preview.cpp
  editor_modules/editor_code_editor/editor_script_text_editor.cpp
  main/main.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  platform/android/export/gradle_export_util.cpp
  scene/3d/mesh_instance.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/resources/material/spatial_material.cpp
  servers/audio/audio_stream.cpp
  servers/rendering/portals/portal_occlusion_culler.cpp
  servers/rendering_server.cpp
Owners: @godotengine/core, @godotengine/rendering, @godotengine/import, @godotengine/gdscript, @godotengine/android, @godotengine/3d-nodes, @godotengine/audio

Moved the static_assert in GLOBAL_CACHED to the top.
  core/config/project_settings.h
Owners: @godotengine/core

Mark last backported commit.
  CHANGELOG.md
Owners: none
