Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Docs for VoxelTerrainJob.
  modules/voxelman/doc_classes/VoxelTerrainJob.xml
Owners: none

Added liquid type and isolevel type info enums for VoxelWorld.
  modules/voxelman/world/default/voxel_world_default.cpp
  modules/voxelman/world/voxel_world.cpp
  modules/voxelman/world/voxel_world.h
Owners: none

Docs for VoxelWorld.
  modules/voxelman/doc_classes/VoxelWorld.xml
Owners: none

Docs for VoxelWorldArea.
  modules/voxelman/doc_classes/VoxelWorldArea.xml
Owners: none

Docs for VoxelWorldBlocky.
  modules/voxelman/doc_classes/VoxelWorldBlocky.xml
Owners: none

Fix typo.
  modules/terraman/doc_classes/TerrainWorldChunkDataManager.xml
Owners: none

Docs for VoxelWorldChunkDataManager.
  modules/voxelman/doc_classes/VoxelWorldChunkDataManager.xml
Owners: none

Docs for VoxelWorldChunkDataManagerStaticFolderResources.
  modules/voxelman/doc_classes/VoxelWorldChunkDataManagerStaticFolderResources.xml
Owners: none

Docs for VoxelWorldCubic.
  modules/voxelman/doc_classes/VoxelWorldCubic.xml
Owners: none

Docs for VoxelWorldMarchingCubes.
  modules/voxelman/doc_classes/VoxelWorldMarchingCubes.xml
Owners: none

Docs for VoxelWorldDefault.
  modules/voxelman/doc_classes/VoxelWorldDefault.xml
Owners: none

Backport 9e6a7208b8136601d833537577ad19d6c4064e7a to terraman.
  modules/terraman/world/terrain_world.cpp
Owners: none

Backport cf354576b264c6ff66827b4c140fe32131fb5de4 to terraman.
  modules/terraman/world/default/terrain_chunk_default.cpp
  modules/terraman/world/default/terrain_chunk_default.h
Owners: none

Backport 6a49e5b4fba61013901c61e82c5fee9f9570581d to terraman.
  modules/terraman/world/jobs/terrain_terrain_job.cpp
Owners: none

Backport 061b404a57c7b5379264e918d17ec4a5431db733 to terraman.
  modules/terraman/world/default/terrain_chunk_default.cpp
Owners: none

Backport 3635ba7b797d993e2943967e53f3f80cd7316fa2 to terraman.
  modules/terraman/world/default/terrain_chunk_default.cpp
Owners: none

Backport 7d1e77c294a1214a2cc5877d58ba082dfdd76d19 to terraman.
  modules/terraman/world/terrain_world.cpp
Owners: none

Backport 2f546a7f223318a03450f542f465492517fa5bca to terraman.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Backport 9d085efd0e2c7c669b43610815213c95838a8a01 to terraman.
  modules/terraman/world/terrain_world.cpp
Owners: none

Backport b842d85fe0ea65755ecee180d6e75862e784f991 to terraman.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Backport 7aa97baa53989136ba3a4f5b99b4826928796db6 to terraman.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Backport 70e41b08ddfd788f321aa4a6c1bdd14207aa9004 to terraman.
  modules/terraman/world/default/terrain_chunk_default.cpp
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_world.cpp
Owners: none

Backport 00cf2baac6d165048d06976a6299ab8b5a94003c to terraman.
  modules/terraman/world/default/terrain_chunk_default.cpp
Owners: none

Backport d1410b793213870ac4e772511c09b365e5781876 to terraman.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Backport 28b24b735c9a8c4f5b39563d3428b62c4fac0c36 to terraman.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Backport 5cce377c8efcbe5e0196f5f86d2a9ab8127f2cc8 to terraman.
  modules/terraman/world/terrain_world.cpp
Owners: none

Backport 9eda52763ca2d1b76f82a34ea9c3ad182fe24fb3 to terraman.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Backport e9b97b4560998e564ab78eac0d5c602cac7ef8ce to terraman.
  modules/terraman/world/terrain_chunk.cpp
Owners: none

Backport a42371cbc23ff9270fa7ab83fa5a41b6ef7f22b8 to terraman.
  modules/terraman/world/jobs/terrain_terrain_job.cpp
Owners: none

Re-extracted class docs.
  modules/terraman/doc_classes/TerrainChunkDefault.xml
Owners: none

Update chunk setup in VoxelWorldMarchingCubes.
  modules/voxelman/world/marching_cubes/voxel_world_marching_cubes.cpp
  modules/voxelman/world/marching_cubes/voxel_world_marching_cubes.h
Owners: none

Backport chunk_lod_first_falloff to voxelman.
  modules/voxelman/doc_classes/VoxelWorldDefault.xml
  modules/voxelman/world/default/voxel_world_default.cpp
  modules/voxelman/world/default/voxel_world_default.h
Owners: none

Remove the csript module. (it was disabled by default)
  modules/cscript/SCsub
  modules/cscript/config.py
  modules/cscript/cscript.cpp
  modules/cscript/cscript.h
  modules/cscript/cscript_compiler.cpp
  modules/cscript/cscript_compiler.h
  modules/cscript/cscript_editor.cpp
  modules/cscript/cscript_function.cpp
  modules/cscript/cscript_function.h
  modules/cscript/cscript_functions.cpp
  modules/cscript/cscript_functions.h
  modules/cscript/cscript_parser.cpp
  modules/cscript/cscript_parser.h
  modules/cscript/cscript_tokenizer.cpp
  modules/cscript/cscript_tokenizer.h
  modules/cscript/doc_classes/@CScript.xml
  modules/cscript/doc_classes/CScript.xml
  modules/cscript/editor/cscript_highlighter.cpp
  modules/cscript/editor/cscript_highlighter.h
  modules/cscript/icons/icon_c_script.svg
  modules/cscript/register_types.cpp
  modules/cscript/register_types.h
Owners: @godotengine/buildsystem

Added pdscript module. It's a copy of gdscript, and it's disabled by default for now.
  modules/pdscript/SCsub
  modules/pdscript/config.py
  modules/pdscript/doc_classes/@GDScript.xml
  modules/pdscript/doc_classes/GDScript.xml
  modules/pdscript/doc_classes/GDScriptFunctionState.xml
  modules/pdscript/editor/gdscript_highlighter.cpp
  modules/pdscript/editor/gdscript_highlighter.h
  modules/pdscript/gdscript.cpp
  modules/pdscript/gdscript.h
  modules/pdscript/gdscript_compiler.cpp
  modules/pdscript/gdscript_compiler.h
  modules/pdscript/gdscript_editor.cpp
  modules/pdscript/gdscript_function.cpp
  modules/pdscript/gdscript_function.h
  modules/pdscript/gdscript_functions.cpp
  modules/pdscript/gdscript_functions.h
  modules/pdscript/gdscript_parser.cpp
  modules/pdscript/gdscript_parser.h
  modules/pdscript/gdscript_tokenizer.cpp
  modules/pdscript/gdscript_tokenizer.h
  modules/pdscript/icons/icon_g_d_script.svg
  modules/pdscript/language_server/gdscript_extend_parser.cpp
  modules/pdscript/language_server/gdscript_extend_parser.h
  modules/pdscript/language_server/gdscript_language_protocol.cpp
  modules/pdscript/language_server/gdscript_language_protocol.h
  modules/pdscript/language_server/gdscript_language_server.cpp
  modules/pdscript/language_server/gdscript_language_server.h
  modules/pdscript/language_server/gdscript_text_document.cpp
  modules/pdscript/language_server/gdscript_text_document.h
  modules/pdscript/language_server/gdscript_workspace.cpp
  modules/pdscript/language_server/gdscript_workspace.h
  modules/pdscript/language_server/lsp.hpp
  modules/pdscript/register_types.cpp
  modules/pdscript/register_types.h
Owners: @godotengine/buildsystem

Rename all files.
  modules/pdscript/doc_classes/@PDScript.xml
  modules/pdscript/doc_classes/PDScript.xml
  modules/pdscript/doc_classes/PDScriptFunctionState.xml
  modules/pdscript/editor/pdscript_highlighter.cpp
  modules/pdscript/editor/pdscript_highlighter.h
  modules/pdscript/icons/icon_p_d_script.svg
  modules/pdscript/language_server/pdscript_extend_parser.cpp
  modules/pdscript/language_server/pdscript_extend_parser.h
  modules/pdscript/language_server/pdscript_language_protocol.cpp
  modules/pdscript/language_server/pdscript_language_protocol.h
  modules/pdscript/language_server/pdscript_language_server.cpp
  modules/pdscript/language_server/pdscript_language_server.h
  modules/pdscript/language_server/pdscript_text_document.cpp
  modules/pdscript/language_server/pdscript_text_document.h
  modules/pdscript/language_server/pdscript_workspace.cpp
  modules/pdscript/language_server/pdscript_workspace.h
  modules/pdscript/pdscript.cpp
  modules/pdscript/pdscript.h
  modules/pdscript/pdscript_compiler.cpp
  modules/pdscript/pdscript_compiler.h
  modules/pdscript/pdscript_editor.cpp
  modules/pdscript/pdscript_function.cpp
  modules/pdscript/pdscript_function.h
  modules/pdscript/pdscript_functions.cpp
  modules/pdscript/pdscript_functions.h
  modules/pdscript/pdscript_parser.cpp
  modules/pdscript/pdscript_parser.h
  modules/pdscript/pdscript_tokenizer.cpp
  modules/pdscript/pdscript_tokenizer.h
Owners: none

Rename the --lsp-port option to --gd-lsp-port. Also add pdscript variant.
  main/main.cpp
  modules/gdscript/SCsub
  modules/pdscript/SCsub
Owners: @godotengine/core, @godotengine/gdscript, @godotengine/buildsystem

Mass rename classes.
  modules/pdscript/SCsub
  modules/pdscript/config.py
  modules/pdscript/doc_classes/@PDScript.xml
  modules/pdscript/doc_classes/PDScript.xml
  modules/pdscript/doc_classes/PDScriptFunctionState.xml
  modules/pdscript/editor/pdscript_highlighter.cpp
  modules/pdscript/editor/pdscript_highlighter.h
  modules/pdscript/language_server/lsp.hpp
  modules/pdscript/language_server/pdscript_extend_parser.cpp
  modules/pdscript/language_server/pdscript_extend_parser.h
  modules/pdscript/language_server/pdscript_language_protocol.cpp
  modules/pdscript/language_server/pdscript_language_protocol.h
  modules/pdscript/language_server/pdscript_language_server.cpp
  modules/pdscript/language_server/pdscript_language_server.h
  modules/pdscript/language_server/pdscript_text_document.cpp
  modules/pdscript/language_server/pdscript_text_document.h
  modules/pdscript/language_server/pdscript_workspace.cpp
  modules/pdscript/language_server/pdscript_workspace.h
  modules/pdscript/pdscript.cpp
  modules/pdscript/pdscript.h
  modules/pdscript/pdscript_compiler.cpp
  modules/pdscript/pdscript_compiler.h
  modules/pdscript/pdscript_editor.cpp
  modules/pdscript/pdscript_function.cpp
  modules/pdscript/pdscript_function.h
  modules/pdscript/pdscript_functions.cpp
  modules/pdscript/pdscript_functions.h
  modules/pdscript/pdscript_parser.cpp
  modules/pdscript/pdscript_parser.h
  modules/pdscript/pdscript_tokenizer.cpp
  modules/pdscript/pdscript_tokenizer.h
  modules/pdscript/register_types.cpp
  modules/pdscript/register_types.h
Owners: @godotengine/buildsystem

Set the default gdscript lsp port to 6005, pdscript lsp port 6006, as remote debug uses 6007, and when tat fails it increments ports one by one.
  modules/gdscript/language_server/gdscript_language_server.cpp
  modules/pdscript/language_server/pdscript_language_server.cpp
Owners: @godotengine/gdscript

Rename register_lsp_types(); to register_gd_lsp_types();.
  modules/gdscript/language_server/gdscript_language_server.cpp
  modules/gdscript/language_server/gdscript_language_server.h
  modules/gdscript/register_types.cpp
Owners: @godotengine/gdscript

Fix pdscript build.
  modules/pdscript/editor/pdscript_highlighter.h
  modules/pdscript/language_server/pdscript_language_protocol.h
  modules/pdscript/language_server/pdscript_language_server.cpp
  modules/pdscript/language_server/pdscript_language_server.h
  modules/pdscript/language_server/pdscript_text_document.h
  modules/pdscript/language_server/pdscript_workspace.h
  modules/pdscript/pdscript.h
  modules/pdscript/pdscript_function.h
  modules/pdscript/register_types.cpp
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
