Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Rename debug macro.
  servers/rendering/rendering_server_blob_shadows.cpp
Owners: none

Mark last backported commit.
  CHANGELOG.md
Owners: none

Fix warning about BlobShadowSpatialGizmo not having a proper name.
  editor/spatial_editor_gizmos.cpp
  editor/spatial_editor_gizmos.h
Owners: none

Fix ios build.
  platform/iphone/app_delegate.mm
Owners: @godotengine/ios

Fix uninitialized variables in Light.
  scene/3d/light.cpp
Owners: @godotengine/3d-nodes

Revert parts of ca5062d3401dc639f156c1fe5ca7e25740bd0a32.
  scene/main/node.cpp
Owners: @godotengine/core

Implement code completion for gdscript enums.
  modules/gdscript/gdscript_editor.cpp
Owners: @godotengine/gdscript

Add proper flags when using external recast
  platform/server/detect.py
  platform/x11/detect.py
Owners: @godotengine/buildsystem, @godotengine/linux-bsd

Export: Modify Windows template without rcedit
  editor/editor_property_name_processor.cpp
  platform/windows/export/export.cpp
  platform/windows/export/template_modifier.cpp
  platform/windows/export/template_modifier.h
Owners: @godotengine/windows

Update copzright headers.
  platform/windows/export/template_modifier.cpp
  platform/windows/export/template_modifier.h
Owners: @godotengine/windows

Linux/TTS: Fix speechd deadlock
  platform/x11/tts_linux.cpp
  platform/x11/tts_linux.h
Owners: @godotengine/linux-bsd

Fix build.
  platform/windows/export/template_modifier.cpp
  platform/windows/export/template_modifier.h
Owners: @godotengine/windows

Disallow muting on Android
  servers/audio_server.cpp
Owners: @godotengine/audio

Rename constant.
  servers/audio_server.cpp
Owners: @godotengine/audio

Also disallow audio driver muting on emscripten.
  servers/audio_server.cpp
Owners: @godotengine/audio

Remove remaining (now unneeded) emscripten related ifndef-s from AusioServer.
  servers/audio_server.cpp
Owners: @godotengine/audio

Fix logic.
  servers/audio_server.cpp
Owners: @godotengine/audio

mbedTLS: Update to version 3.6.5
  thirdparty/README.md
  thirdparty/mbedtls/include/mbedtls/bignum.h
  thirdparty/mbedtls/include/mbedtls/build_info.h
  thirdparty/mbedtls/include/mbedtls/cipher.h
  thirdparty/mbedtls/include/mbedtls/mbedtls_config.h
  thirdparty/mbedtls/include/mbedtls/threading.h
  thirdparty/mbedtls/include/psa/crypto_extra.h
  thirdparty/mbedtls/library/bignum.c
  thirdparty/mbedtls/library/bignum_core.c
  thirdparty/mbedtls/library/bignum_core.h
  thirdparty/mbedtls/library/bignum_core_invasive.h
  thirdparty/mbedtls/library/bignum_internal.h
  thirdparty/mbedtls/library/cipher.c
  thirdparty/mbedtls/library/cipher_invasive.h
  thirdparty/mbedtls/library/dhm.c
  thirdparty/mbedtls/library/ecdsa.c
  thirdparty/mbedtls/library/ecp.c
  thirdparty/mbedtls/library/psa_crypto.c
  thirdparty/mbedtls/library/psa_crypto_cipher.c
  thirdparty/mbedtls/library/psa_crypto_core.h
  thirdparty/mbedtls/library/rsa.c
  thirdparty/mbedtls/library/rsa_alt_helpers.c
  thirdparty/mbedtls/library/rsa_alt_helpers.h
  thirdparty/mbedtls/library/ssl_msg.c
  thirdparty/mbedtls/library/ssl_tls.c
  thirdparty/mbedtls/library/ssl_tls12_client.c
  thirdparty/mbedtls/library/threading.c
  thirdparty/mbedtls/library/threading_internal.h
  thirdparty/mbedtls/patches/0001-msvc-2019-psa-redeclaration.patch
Owners: @godotengine/buildsystem

Mark last backported commit.
  CHANGELOG.md
Owners: none

Added missing conversions for can_convert.
  core/variant/variant.cpp
Owners: @godotengine/core

Handle StringNames in Expression's funcrefs.
  core/math/expression.cpp
Owners: @godotengine/core

Added more comments to the sample module_config.py.
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

Update module_install_folder to the new (better) value in the sample module_config.py.
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

Added rt shorthand for the project setups scripts for the repository_type command.
  misc/scripts_app/SConstruct
  misc/scripts_app/app/SConstruct
Owners: @godotengine/buildsystem

Define slim_args_editor in the sample module_config.py, and use that to fill slim_args instead of the other way around.
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

Improve wording.
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

Go back to the old default module_install_folder in the sample module_config.py, asit turns out custom_modules are not built by default. Also add more docs and tweaks.
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

`BlobShadows` - Fix `GLES3` shader builtin
  drivers/gles3/shader_compiler_gles3.cpp
Owners: @godotengine/rendering

Fix editor theme names.
  editor/editor_settings.cpp
Owners: none

Added back Godot 3 theme.
  editor/editor_settings.cpp
Owners: none

Godot -> Pandemonium.
  doc/classes/Variant.xml
Owners: @godotengine/documentation

Cleanups to create_editor_theme().
  editor/editor_themes.cpp
Owners: none

Update docs for Engine's get_author_info().
  doc/classes/Engine.xml
Owners: @godotengine/documentation

Rename GODOT_LICENSE_TEXT constant to PANDEMONIUM_LICENSE_TEXT.
  core/config/engine.cpp
  core/core_builders.py
  editor/editor_about.cpp
Owners: @godotengine/core

Fix the encoding of Engine::get_license_text().
  core/config/engine.cpp
Owners: @godotengine/core

Godot -> Pandemonium.
  doc/classes/Engine.xml
Owners: @godotengine/documentation

Added the CameraServer from godot 4 as a module.
  modules/camera_server/CameraFeed.xml
  modules/camera_server/CameraServer.xml
  modules/camera_server/SCsub
  modules/camera_server/camera_feed.cpp
  modules/camera_server/camera_feed.h
  modules/camera_server/camera_server.cpp
  modules/camera_server/camera_server.h
  modules/camera_server/config.py
  modules/camera_server/register_server_types.cpp
  modules/camera_server/register_server_types.h
Owners: @godotengine/buildsystem

Added the camera module from godot 4. I renamed it to camera_drivers.
  modules/camera_drivers/SCsub
  modules/camera_drivers/buffer_decoder.cpp
  modules/camera_drivers/buffer_decoder.h
  modules/camera_drivers/camera_android.cpp
  modules/camera_drivers/camera_android.h
  modules/camera_drivers/camera_feed_linux.cpp
  modules/camera_drivers/camera_feed_linux.h
  modules/camera_drivers/camera_linux.cpp
  modules/camera_drivers/camera_linux.h
  modules/camera_drivers/camera_macos.h
  modules/camera_drivers/camera_macos.mm
  modules/camera_drivers/camera_win.cpp
  modules/camera_drivers/camera_win.h
  modules/camera_drivers/config.py
  modules/camera_drivers/register_types.cpp
  modules/camera_drivers/register_types.h
Owners: @godotengine/buildsystem

Move camera_server's docs into a subfolder.
  modules/camera_server/doc_classes/CameraFeed.xml
  modules/camera_server/doc_classes/CameraServer.xml
Owners: none

Update to pandemonium's license.
  modules/camera_drivers/buffer_decoder.cpp
  modules/camera_drivers/buffer_decoder.h
  modules/camera_drivers/camera_android.cpp
  modules/camera_drivers/camera_android.h
  modules/camera_drivers/camera_feed_linux.cpp
  modules/camera_drivers/camera_feed_linux.h
  modules/camera_drivers/camera_linux.cpp
  modules/camera_drivers/camera_linux.h
  modules/camera_drivers/camera_macos.h
  modules/camera_drivers/camera_macos.mm
  modules/camera_drivers/camera_win.cpp
  modules/camera_drivers/camera_win.h
  modules/camera_drivers/register_types.cpp
  modules/camera_drivers/register_types.h
  modules/camera_server/camera_feed.cpp
  modules/camera_server/camera_feed.h
  modules/camera_server/camera_server.cpp
  modules/camera_server/camera_server.h
Owners: none
