Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Mark last backported commit.
  CHANGELOG.md
Owners: none

Notes.
  notes.md
Owners: none

Notes.
  notes.md
Owners: none

Initial 4.7.0 changelog.
  CHANGELOG.md
Owners: none

Set version to stable.
  version.py
Owners: @godotengine/buildsystem

Fix link.
  doc/classes/Sprite.xml
Owners: @godotengine/documentation

Cleaned up the changelog.
  CHANGELOG.md
Owners: none

ResourceImporterWAV: Detect if data chunk size is larger than the actual size
  editor/import/resource_importer_wav.cpp
Owners: @godotengine/import

Provide quick access to `Object` ancestry
  core/object/object.cpp
  core/object/object.h
  core/object/reference.cpp
  core/object/resource.cpp
  core/object/script_language.h
  core/variant/variant.cpp
  scene/2d/area_2d.cpp
  scene/2d/collision_object_2d.cpp
  scene/3d/collision_object.cpp
  scene/3d/mesh_instance.cpp
  scene/3d/physics_body.cpp
  scene/3d/visual_instance.cpp
  scene/main/canvas_item.cpp
  scene/main/control.cpp
  scene/main/node.cpp
  scene/main/node_2d.cpp
  scene/main/spatial.cpp
Owners: @godotengine/core, @godotengine/2d-nodes, @godotengine/3d-nodes

Remove `_is_vi_visible()`
  scene/3d/visual_instance.cpp
  scene/3d/visual_instance.h
  scene/main/scene_tree_fti.cpp
  scene/main/spatial.cpp
  scene/main/spatial.h
Owners: @godotengine/3d-nodes, @godotengine/core

Fix merge fail.
  scene/3d/visual_instance.cpp
Owners: @godotengine/3d-nodes

Mark the new backported commits.
  CHANGELOG.md
Owners: none

Fix android build.
  version.py
Owners: @godotengine/buildsystem

Fix the logic for the official build name flag in the build_all.sh script.
  misc/build_containers/build_all.sh
Owners: @godotengine/buildsystem

Also echo if official build flag is properly set.
  misc/build_containers/build_all.sh
Owners: @godotengine/buildsystem

Fix build containers.
  misc/build_containers/Dockerfile.android
  misc/build_containers/engine_build_scripts/ios.sh
  misc/build_containers/engine_build_scripts/osx.sh
Owners: @godotengine/buildsystem

Fix javacript build.
  platform/javascript/emscripten_helpers.py
Owners: @godotengine/html5

Add GDNative+Threads build.
  platform/javascript/SCsub
  platform/javascript/detect.py
  platform/javascript/emscripten_helpers.py
  platform/javascript/export/export.cpp
Owners: @godotengine/html5

Properly fix javascript compile using tools in the build containers.
  platform/javascript/SCsub
  platform/javascript/emscripten_helpers.py
Owners: @godotengine/html5

Fix typos in service-worker.js.
  misc/dist/html/service-worker.js
Owners: @godotengine/buildsystem

Update changelog.
  CHANGELOG.md
Owners: none

Added the new gdnative + threads builds to the make release script.
  misc/scripts/make_release.sh
Owners: @godotengine/buildsystem

Added gdnative + threads builds to the in-container build scripts.
  misc/build_containers/engine_build_scripts/javascript.sh
Owners: @godotengine/buildsystem

Remove unneeded file.
  platform/javascript/js/libs/library_godot_display.js
Owners: @godotengine/html5

Avoid spamming console with the web editor.
  platform/javascript/js/libs/library_pandemonium_input.js
Owners: @godotengine/html5

Don't put unnecessary files into the web editor zip.
  platform/javascript/emscripten_helpers.py
Owners: @godotengine/html5

Fix service worker name for PWAs.
  platform/javascript/emscripten_helpers.py
Owners: @godotengine/html5

Use a different name for the service worker.
  platform/javascript/emscripten_helpers.py
Owners: @godotengine/html5

Undo most service worker.js related changes.
  platform/javascript/SCsub
  platform/javascript/emscripten_helpers.py
Owners: @godotengine/html5

Revert to the previous emscripten version in the build container.
  misc/build_containers/Dockerfile.javascript
Owners: @godotengine/buildsystem

Fix the web editor hanging when switching to the editor. Likely fixes export templates too.
  servers/audio_server.cpp
Owners: @godotengine/audio

Don't build the javascript gdnative + threads editor via the build scripts.
  misc/build_containers/engine_build_scripts/javascript.sh
Owners: @godotengine/buildsystem

Add workaround for emscripten >= 3.1.47 LTO build
  platform/javascript/detect.py
Owners: @godotengine/html5

Rename `PKEY_Device_FriendlyName` to avoid duplicate symbols with newer MinGW SDKs.
  drivers/wasapi/audio_driver_wasapi.cpp
Owners: @godotengine/audio

Rename new key.
  drivers/wasapi/audio_driver_wasapi.cpp
Owners: @godotengine/audio

Update build_all script file list.
  misc/build_containers/build_all.sh
Owners: @godotengine/buildsystem

Comment out javascript threads + gdnative editor copy.
  misc/scripts/make_release.sh
Owners: @godotengine/buildsystem

Revert "Provide quick access to `Object` ancestry"
  core/object/object.cpp
  core/object/object.h
  core/object/reference.cpp
  core/object/resource.cpp
  core/object/script_language.h
  core/variant/variant.cpp
  scene/2d/area_2d.cpp
  scene/2d/collision_object_2d.cpp
  scene/3d/collision_object.cpp
  scene/3d/mesh_instance.cpp
  scene/3d/physics_body.cpp
  scene/3d/visual_instance.cpp
  scene/main/canvas_item.cpp
  scene/main/control.cpp
  scene/main/node.cpp
  scene/main/node_2d.cpp
  scene/main/spatial.cpp
Owners: @godotengine/core, @godotengine/2d-nodes, @godotengine/3d-nodes

Fix warning.
  servers/audio_server.cpp
Owners: @godotengine/audio

Updated changelog.
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
