Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Added PropDataESSEntityWorldSpawner3D class. Made PropDataESSEntityWorldSpawner3DArea and PropDataESSEntityWorldSpawner3DSingle inherit from it.
  modules/entity_spell_system/SCsub
  modules/entity_spell_system/config.py
  modules/entity_spell_system/doc_classes/PropDataESSEntityWorldSpawner3D.xml
  modules/entity_spell_system/doc_classes/PropDataESSEntityWorldSpawner3DArea.xml
  modules/entity_spell_system/doc_classes/PropDataESSEntityWorldSpawner3DSingle.xml
  modules/entity_spell_system/props/prop_data_ess_entity_world_spawner_3d.cpp
  modules/entity_spell_system/props/prop_data_ess_entity_world_spawner_3d.h
  modules/entity_spell_system/props/prop_data_ess_entity_world_spawner_3d_area.h
  modules/entity_spell_system/register_types.cpp
Owners: @godotengine/buildsystem

Don't destroy and re-generate meshes in TerrainChunk's _enter and _exit_tree, just hide / show them. This makes scene tab swithing with TerrainWorlds in the editor a lot simpler.
  modules/terraman/world/default/terrain_chunk_default.cpp
  modules/terraman/world/default/terrain_chunk_default.h
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_world.cpp
Owners: none

Removed unnecessary check.
  modules/terraman/world/terrain_world.cpp
Owners: none

TerrainChunkDefault lod change code cleanups and improvements. Also set scenario on entering and exiting the tree.
  modules/terraman/world/default/terrain_chunk_default.cpp
  modules/terraman/world/default/terrain_chunk_default.h
  modules/terraman/world/terrain_chunk.cpp
Owners: none

The "Access as Unique Name" tool option in SceneTreeDock now always have a separator.
  editor/scene_tree_dock.cpp
Owners: @godotengine/docks

Move EditorPropertyRevert to it's own file.
  editor/editor_folding.cpp
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_property_revert.cpp
  editor/editor_property_revert.h
Owners: none

Added a new Merge Back Local Changes too when right clicking instanced scenes in the editor.
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Owners: @godotengine/docks

Better implementation for the new "Merge Back Local Changes" tool.
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Owners: @godotengine/docks

New alternate version of the "Merge Back Local Changes" tool which keeps transforms intact.
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Owners: @godotengine/docks

Renamed the "Merge Back Local Changes" tool in the SceneTreeDock popup menu to "Merge Back Changes".
  editor/scene_tree_dock.cpp
Owners: @godotengine/docks

Fix calling the wrong method in UserManager.
  modules/users/managers/user_manager.cpp
Owners: none

Now get_all_as_vector() in UserManager is not virtual anymore. Also removed other implementations.
  modules/users/managers/user_manager.h
  modules/users/managers/user_manager_db.cpp
  modules/users/managers/user_manager_db.h
  modules/users/managers/user_manager_file.cpp
  modules/users/managers/user_manager_file.h
  modules/users/managers/user_manager_static.cpp
  modules/users/managers/user_manager_static.h
Owners: none

Improved UserManagerFile's internals.
  modules/users/managers/user_manager_file.cpp
  modules/users/managers/user_manager_file.h
Owners: none

Now UserManager::_create_user() has a User as a parameter.
  modules/users/managers/user_manager.cpp
  modules/users/managers/user_manager.h
  modules/users/managers/user_manager_db.cpp
  modules/users/managers/user_manager_db.h
  modules/users/managers/user_manager_file.cpp
  modules/users/managers/user_manager_file.h
  modules/users/managers/user_manager_static.cpp
  modules/users/managers/user_manager_static.h
Owners: none

Fix calling the new _create_user() method in UserManager.
  modules/users/managers/user_manager.cpp
Owners: none

Fix saving files in UserManagerFile.
  modules/users/managers/user_manager_file.cpp
Owners: none

Fix User::_from_dict() using wrong dictionary keys.
  modules/users/users/user.cpp
Owners: none

Disable internal process for UserManagerFile. It's not needed anymore.
  modules/users/managers/user_manager_file.cpp
Owners: none

Hode session_id and id in HTTPSession.
  modules/web/database/http_session_manager_db.cpp
  modules/web/http/http_session.h
  modules/web/http/http_session_manager.cpp
Owners: none

Added serialization helper methods to HTTPSession.
  modules/web/http/http_session.cpp
  modules/web/http/http_session.h
Owners: none

Added a new HTTPSessionManagerFile class.
  modules/web/SCsub
  modules/web/config.py
  modules/web/http/http_session_manager_file.cpp
  modules/web/http/http_session_manager_file.h
  modules/web/register_types.cpp
Owners: @godotengine/buildsystem

Re-extracted class docs.
  doc/classes/ThreadPool.xml
  modules/users/doc_classes/UserManager.xml
  modules/web/doc_classes/HTTPSession.xml
  modules/web/doc_classes/HTTPSessionManagerFile.xml
Owners: @godotengine/documentation

Automatically load sessions when HTTPSessionManagerFile enters tree.
  modules/web/http/http_session_manager_file.cpp
  modules/web/http/http_session_manager_file.h
Owners: none

Disabled integer division and unused signal warnings by default in gdscript.
  modules/gdscript/gdscript.cpp
Owners: @godotengine/gdscript

Guard against bad indexes in User::_from_dict().
  modules/users/users/user.cpp
Owners: none

Write and read lock modules in User::_to_dict() and User::_from_dict().
  modules/users/users/user.cpp
Owners: none

Use module names instead of indexes if they are available in User::_from_dict() and User::_to_dict().
  modules/users/users/user.cpp
Owners: none

Added some comments to User.
  modules/users/users/user.cpp
Owners: none

Added read_try_lock and write_try_lock to User and UserModule.
  modules/users/users/user.cpp
  modules/users/users/user.h
  modules/users/users/user_module.cpp
  modules/users/users/user_module.h
Owners: none

Re-extracted class docs.
  doc/classes/ProjectSettings.xml
  modules/users/doc_classes/User.xml
  modules/users/doc_classes/UserModule.xml
Owners: @godotengine/documentation

Improve comment.
  modules/users/users/user.cpp
Owners: none

Docs for the User class.
  modules/users/doc_classes/User.xml
Owners: none

Removed unused enum from User.
  modules/users/doc_classes/User.xml
  modules/users/users/user.cpp
  modules/users/users/user.h
Owners: none

Always just defer call to the active UserManager or error in UserDB.
  modules/users/singleton/user_db.cpp
  modules/users/singleton/user_db.h
Owners: none

Don't use the changed signal to get a User to save itself.
  modules/users/managers/user_manager_db.cpp
  modules/users/managers/user_manager_file.cpp
  modules/users/users/user.cpp
Owners: none

Docs for UserDB.
  modules/users/doc_classes/UserDB.xml
Owners: none

Now UserManagers have a register_as_global property. A manager will only try to set itself as the global manager if it's set to true (default).
  modules/users/managers/user_manager.cpp
  modules/users/managers/user_manager.h
  modules/users/singleton/user_db.cpp
  modules/users/singleton/user_db.h
Owners: none

Print an error if more than one UserManagers are trying to become the global instance.
  modules/users/singleton/user_db.cpp
Owners: none

Docs for UserManager.
  modules/users/doc_classes/UserManager.xml
Owners: none

Store the owner UserManager in User.
  modules/users/doc_classes/UserManager.xml
  modules/users/managers/user_manager.cpp
  modules/users/users/user.cpp
  modules/users/users/user.h
Owners: none
