Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Small tweak to the readme.
  README.md
Owners: none

Re-extracted class docs.
  doc/classes/PackedTypedArray.xml
Owners: @godotengine/documentation

Added 2 new helper methods to the new arrays.
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/typed_array.cpp
  core/variant/typed_array.h
  core/variant/variant_call.cpp
Owners: @godotengine/core

Fix typed array conversion in variant.
  core/variant/variant.cpp
Owners: @godotengine/core

Bind the new typed array methods in gdnative.
  modules/gdnative/gdnative/packed_typed_array.cpp
  modules/gdnative/gdnative/typed_array.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdn/packed_typed_array.h
  modules/gdnative/include/gdn/typed_array.h
Owners: @godotengine/gdnative

Work on typed array docs.
  doc/classes/PackedTypedArray.xml
  doc/classes/TypedArray.xml
Owners: @godotengine/documentation

Re-extracted class docs.
  doc/classes/PackedTypedArray.xml
  doc/classes/TypedArray.xml
Owners: @godotengine/documentation

Properly bind get and set for the new arrays.
  core/variant/variant_call.cpp
Owners: @godotengine/core

Doc description for the new array classes.
  doc/classes/PackedTypedArray.xml
  doc/classes/TypedArray.xml
Owners: @godotengine/documentation

Add some missing method docs for Array.
  doc/classes/Array.xml
Owners: @godotengine/documentation

Method docs for the new array types pt1.
  doc/classes/PackedTypedArray.xml
  doc/classes/TypedArray.xml
Owners: @godotengine/documentation

Fix PackedTypedArray getter setter bind.
  core/variant/variant_call.cpp
Owners: @godotengine/core

Re-extracted class docs.
  doc/classes/PackedTypedArray.xml
Owners: @godotengine/documentation

Method docs for the new array types pt2.
  doc/classes/PackedTypedArray.xml
  doc/classes/TypedArray.xml
Owners: @godotengine/documentation

Added icons for the new array types.
  editor/icons/icon_packed_typed_array.svg
  editor/icons/icon_typed_array.svg
Owners: @godotengine/usability

Tweak to the readme.
  README.md
Owners: none

Added low level c++ only getters to PackedTypedArray.
  README.md
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
Owners: @godotengine/core

Start IntType from the default in PackedTypedArray.
  core/variant/packed_typed_array.h
Owners: @godotengine/core

Use the IntType enum in PackedTypedArray's getters and setters.
  core/object/method_bind.h
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/variant_call.cpp
  modules/gdnative/gdnative/packed_typed_array.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdn/packed_typed_array.h
Owners: @godotengine/core, @godotengine/gdnative

Re-extracted class docs.
  doc/classes/PackedTypedArray.xml
Owners: @godotengine/documentation

Make physics interpolation compatible with separate-thread rendering
  main/main.cpp
  servers/rendering/rendering_server_raster.cpp
  servers/rendering/rendering_server_raster.h
  servers/rendering/rendering_server_wrap_mt.cpp
  servers/rendering/rendering_server_wrap_mt.h
  servers/rendering_server.h
Owners: @godotengine/core

Use approximate test when comparing properties, thoroughly
  core/variant/array.cpp
  core/variant/array.h
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant.cpp
  core/variant/variant.h
  scene/main/property_utils.cpp
Owners: @godotengine/core

Mark last backported commit.
  CHANGELOG.md
Owners: none

Add approximate deep equals support for TypedArray and PackedTypedArray.
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/typed_array.cpp
  core/variant/typed_array.h
  core/variant/variant.cpp
Owners: @godotengine/core

Added missing types to Variant::deep_equal().
  core/variant/variant.cpp
Owners: @godotengine/core

Remove duplicate label.
  core/variant/variant.cpp
Owners: @godotengine/core

Projection doesn't have is_equal_approx.
  core/variant/variant.cpp
Owners: @godotengine/core

Projection doesn't have is_equal_approx.
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Split deep_equal() into deep_equal() and deep_equal_approx().
  core/variant/array.cpp
  core/variant/array.h
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/typed_array.cpp
  core/variant/typed_array.h
  core/variant/variant.cpp
  core/variant/variant.h
  scene/main/property_utils.cpp
Owners: @godotengine/core

Add deep_equal_approx to gdscript.
  modules/gdscript/gdscript_functions.cpp
  modules/gdscript/gdscript_functions.h
Owners: @godotengine/gdscript

Doct for deep_equal_approx.
  modules/gdscript/doc_classes/@GDScript.xml
Owners: @godotengine/gdscript

Added deep_equal_approx to gdnative.
  modules/gdnative/gdnative/array.cpp
  modules/gdnative/gdnative/dictionary.cpp
  modules/gdnative/gdnative/packed_typed_array.cpp
  modules/gdnative/gdnative/typed_array.cpp
  modules/gdnative/gdnative/variant.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdn/array.h
  modules/gdnative/include/gdn/dictionary.h
  modules/gdnative/include/gdn/packed_typed_array.h
  modules/gdnative/include/gdn/typed_array.h
  modules/gdnative/include/gdn/variant.h
Owners: @godotengine/gdnative

Backport improved priority generation logic to Voxelman.
  modules/voxelman/world/voxel_world.cpp
  modules/voxelman/world/voxel_world.h
Owners: none

Backport 9cd4da72c833eeb8c18fe84ff35816a07af9b8e5 for Voxelman.
  modules/voxelman/world/voxel_world.cpp
  modules/voxelman/world/voxel_world.h
Owners: none

Codestyle.
  modules/voxelman/meshers/voxel_mesher.cpp
  modules/voxelman/world/jobs/voxel_light_job.cpp
Owners: none

Backport 4a2d4af6925ef1f55f85207ccae6a0afa6bb2e40 for voxelman.
  modules/voxelman/world/jobs/voxel_prop_job.cpp
Owners: none

Backport 6be11c2bffd734bf3025885389a0a1bbc11aa9b4 for voxelman.
  modules/voxelman/world/voxel_chunk.cpp
  modules/voxelman/world/voxel_chunk.h
Owners: none

Backport c13a4d08a5b2f7bd39c9694a18034488024cc3e6 for voxelman.
  modules/voxelman/world/voxel_world.cpp
  modules/voxelman/world/voxel_world.h
Owners: none

Backport e11e75e5ea75df330869d9a7264c2d71d643f548 for voxelman.
  modules/voxelman/library/voxel_library_merger_pcm.cpp
Owners: none

Backport 2688162cf9bf52e6654356e8368707c5c3c95bbb for voxelman.
  modules/voxelman/world/voxel_world.cpp
  modules/voxelman/world/voxel_world.h
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
