Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Docs for TerrainLightJob.
  modules/terraman/doc_classes/TerrainLightJob.xml
Owners: none

Docs for TerrainLightNode.
  modules/terraman/doc_classes/TerrainLightNode.xml
Owners: none

Docs for TerrainMaterialCache.
  modules/terraman/doc_classes/TerrainMaterialCache.xml
Owners: none

Docs for TerrainMaterialCachePCM.
  modules/terraman/doc_classes/TerrainMaterialCachePCM.xml
Owners: none

Docs for TerrainMesher.
  modules/terraman/doc_classes/TerrainMesher.xml
Owners: none

Docs for TerrainMesherBlocky.
  modules/terraman/doc_classes/TerrainMesherBlocky.xml
Owners: none

Docs for TerrainMesherDefault.
  modules/terraman/doc_classes/TerrainMesherDefault.xml
Owners: none

Docs for TerrainMesherJobStep.
  modules/terraman/doc_classes/TerrainMesherJobStep.xml
Owners: none

Docs for TerrainPropJob.
  modules/terraman/doc_classes/TerrainPropJob.xml
Owners: none

Docs for TerrainStructure.
  modules/terraman/doc_classes/TerrainStructure.xml
Owners: none

Deprecated voxel_name property in TerrainSurface. Added surface_name instead.
  modules/terraman/library/terrain_surface.cpp
Owners: none

Docs for TerrainSurface.
  modules/terraman/doc_classes/TerrainSurface.xml
Owners: none

Docs for TerrainSurfaceMerger.
  modules/terraman/doc_classes/TerrainSurfaceMerger.xml
Owners: none

Docs for TerrainSurfaceSimple.
  modules/terraman/doc_classes/TerrainSurfaceSimple.xml
Owners: none

Fix typo in TerrainPropJob and TerrainTerrainJob's method names.
  modules/terraman/world/blocky/terrain_world_blocky.cpp
  modules/terraman/world/default/terrain_world_default.cpp
  modules/terraman/world/jobs/terrain_prop_job.cpp
  modules/terraman/world/jobs/terrain_prop_job.h
  modules/terraman/world/jobs/terrain_terrain_job.cpp
  modules/terraman/world/jobs/terrain_terrain_job.h
Owners: none

Docs for TerrainTerrainJob.
  modules/terraman/doc_classes/TerrainTerrainJob.xml
Owners: none

Update TerrainPropJob docs.
  modules/terraman/doc_classes/TerrainPropJob.xml
Owners: none

Fix the same typo engine wide.
  doc/engine/terraman.md
  doc/engine/terraman_2d.md
  doc/engine/voxelman.md
  modules/props/doc_classes/PropInstancePropJob.xml
  modules/props/prop_instance_merger.cpp
  modules/props/prop_instance_prop_job.cpp
  modules/props/prop_instance_prop_job.h
  modules/voxelman/doc_classes/VoxelPropJob.xml
  modules/voxelman/doc_classes/VoxelTerrainJob.xml
  modules/voxelman/world/blocky/voxel_world_blocky.cpp
  modules/voxelman/world/cubic/voxel_world_cubic.cpp
  modules/voxelman/world/default/voxel_world_default.cpp
  modules/voxelman/world/jobs/voxel_prop_job.cpp
  modules/voxelman/world/jobs/voxel_prop_job.h
  modules/voxelman/world/jobs/voxel_terrain_job.cpp
  modules/voxelman/world/jobs/voxel_terrain_job.h
  modules/voxelman/world/marching_cubes/voxel_world_marching_cubes.cpp
Owners: @godotengine/documentation

Docs for BlockTerrainStructure.
  modules/terraman/doc_classes/BlockTerrainStructure.xml
Owners: none

Docs for BlockVoxelStructure.
  modules/voxelman/doc_classes/BlockVoxelStructure.xml
Owners: none

Docs for VoxelChunk.
  modules/voxelman/doc_classes/VoxelChunk.xml
Owners: none

Rename some files in the voxelman module.
  modules/voxelman/areas/voxel_world_area.cpp
  modules/voxelman/areas/voxel_world_area.h
  modules/voxelman/world/voxel_environment_data.cpp
  modules/voxelman/world/voxel_environment_data.h
Owners: none

Renamed EnvironmentData to VoxelEnvironmentData.
  modules/voxelman/SCsub
  modules/voxelman/config.py
  modules/voxelman/register_types.cpp
  modules/voxelman/world/voxel_environment_data.cpp
  modules/voxelman/world/voxel_environment_data.h
Owners: @godotengine/buildsystem

Renamed WorldArea to VoxelWorldArea.
  modules/voxelman/SCsub
  modules/voxelman/areas/voxel_world_area.cpp
  modules/voxelman/areas/voxel_world_area.h
  modules/voxelman/config.py
  modules/voxelman/register_types.cpp
  modules/voxelman/world/voxel_environment_data.cpp
  modules/voxelman/world/voxel_environment_data.h
Owners: @godotengine/buildsystem

Fix compile.
  modules/voxelman/areas/voxel_world_area.cpp
  modules/voxelman/world/voxel_world.cpp
  modules/voxelman/world/voxel_world.h
Owners: none

Re-extracted class docs.
  modules/terraman/doc_classes/TerrainSurface.xml
  modules/voxelman/doc_classes/VoxelEnvironmentData.xml
  modules/voxelman/doc_classes/VoxelWorld.xml
  modules/voxelman/doc_classes/VoxelWorldArea.xml
Owners: none

Fix typo in TerrainChunkDefault.
  modules/terraman/doc_classes/TerrainChunkDefault.xml
Owners: none

Fix typo in TerrainChunk's doc.
  modules/terraman/doc_classes/TerrainChunk.xml
Owners: none

Docs for MarchingCubesCellData.
  modules/voxelman/doc_classes/MarchingCubesCellData.xml
Owners: none

Add COPYRIGHT.txt for voxelman.
  modules/voxelman/COPYRIGHT.txt
  modules/voxelman/config.py
Owners: @godotengine/buildsystem

Docs for VoxelChunkBlocky.
  modules/voxelman/doc_classes/VoxelChunkBlocky.xml
Owners: none

Docs for VoxelChunkCubic.
  modules/voxelman/doc_classes/VoxelChunkCubic.xml
Owners: none

Docs for VoxelChunkMarchingCubes.
  modules/voxelman/doc_classes/VoxelChunkMarchingCubes.xml
Owners: none

Fix 2 typos in TerrainChunkDefault's doc.
  modules/terraman/doc_classes/TerrainChunkDefault.xml
Owners: none

Docs for VoxelChunkDefault.
  modules/voxelman/doc_classes/VoxelChunkDefault.xml
Owners: none

Docs for VoxelCubePoints.
  modules/voxelman/doc_classes/VoxelCubePoints.xml
Owners: none

Docs for VoxelEnvironmentData.
  modules/voxelman/doc_classes/VoxelEnvironmentData.xml
Owners: none

Docs for VoxelJob.
  modules/voxelman/doc_classes/VoxelJob.xml
Owners: none

Docs for VoxelLevelGenerator.
  modules/voxelman/doc_classes/VoxelLevelGenerator.xml
Owners: none

Docs for VoxelLevelGeneratorFlat.
  modules/voxelman/doc_classes/VoxelLevelGeneratorFlat.xml
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
