Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Fix unfinished methods in HTMLBuiler's binder class.
  modules/web/html/html_builder_bind.cpp
Owners: none

Fix double free on startup.
  modules/web/html/html_builder_bind.cpp
  modules/web/html/html_builder_bind.h
Owners: none

Handle proxy classes properly in arguments and return values in EidotrDocs.
  editor/doc/doc_data.cpp
Owners: none

Re-extracted class docs.
  modules/web/doc_classes/HTMLBuilder.xml
  modules/web/doc_classes/HTMLTag.xml
Owners: none

Don't mess with the base_url by adding a slash at the end if it's missing in HTMLPaginator.
  modules/web/html/paginator.cpp
Owners: none

Fix HTMLPaginator::start() and next() skipping the first page.
  modules/web/html/paginator.cpp
Owners: none

Docs for HTMLPaginator.
  modules/web/doc_classes/HTMLPaginator.xml
Owners: none

Docs for HTMLParserTag.
  modules/web/doc_classes/HTMLParserTag.xml
Owners: none

Fix typo.
  modules/web/doc_classes/HTMLParserTag.xml
Owners: none

Docs for HTMLParserAttribute.
  modules/web/doc_classes/HTMLParserAttribute.xml
Owners: none

Docs for HTMLTag.
  modules/web/doc_classes/HTMLTag.xml
Owners: none

Docs for HTMLTemplateMultilang.
  modules/web/doc_classes/HTMLTemplateMultilang.xml
Owners: none

Docs for HTTPServerEnums.
  modules/web/doc_classes/HTTPServerEnums.xml
Owners: none

Docs for HTTPSession.
  modules/web/doc_classes/HTTPSession.xml
Owners: none

Docs for the HTTPSessionManagers.
  modules/web/doc_classes/HTTPSessionManager.xml
  modules/web/doc_classes/HTTPSessionManagerDB.xml
  modules/web/doc_classes/HTTPSessionManagerFile.xml
Owners: none

Add missing doc entries for WebPermission.
  modules/web/doc_classes/WebPermission.xml
Owners: none

Docs for LocaleSetupWebServerMiddleware.
  modules/web/doc_classes/LocaleSetupWebServerMiddleware.xml
Owners: none

Document missing methods for WebServerRequest.
  modules/web/doc_classes/WebServerRequest.xml
Owners: none

Docs for WebServerCookie.
  modules/web/doc_classes/WebServerCookie.xml
Owners: none

Docs for PagedArticleWebPage.
  modules/web/doc_classes/PagedArticleWebPage.xml
Owners: none

Docs for WebServerRequestScriptable.
  modules/web/doc_classes/WebServerRequestScriptable.xml
Owners: none

Docs for SQLite3Database.
  modules/database_sqlite/doc_classes/SQLite3Database.xml
Owners: none

Docs for FastNoise.
  modules/fastnoise/doc_classes/FastNoise.xml
Owners: none

Docs for FastnoiseNoiseParams.
  modules/fastnoise/doc_classes/FastnoiseNoiseParams.xml
Owners: none

Docs for LZ4Compressor.
  modules/lz4/doc_classes/LZ4Compressor.xml
Owners: none

Re-extracted class docs.
  modules/fastnoise/doc_classes/FastnoiseNoiseParams.xml
  modules/web/doc_classes/WebServerCookie.xml
Owners: none

Backported parts of be6f971f4ff from godot 3.x.
  core/object/object.h
  modules/mbedtls/crypto_mbedtls.h
  modules/websocket/websocket_macros.h
  platform/osx/export/codesign.h
Owners: @godotengine/core, @godotengine/network, @godotengine/macos

Physics Interpolation - Fix `CPUParticles` to work with `SceneTreeFTI`
  scene/3d/cpu_particles.cpp
Owners: @godotengine/3d-nodes

Physics Interpolation - Reduce unnecessary `VisualServer` updates
  scene/3d/visual_instance.cpp
Owners: @godotengine/3d-nodes

Physics Interpolation - Add InterpolatedProperty
  core/error/error_macros.h
  core/interpolated_property.cpp
  core/interpolated_property.h
  scene/3d/camera.cpp
  scene/3d/camera.h
  scene/3d/visual_instance.cpp
  scene/3d/visual_instance.h
  scene/main/scene_tree_fti.cpp
  scene/main/scene_tree_fti.h
  scene/main/spatial.cpp
  scene/main/spatial.h
Owners: @godotengine/core, @godotengine/3d-nodes

Physics Interpolation - Fix non-interpolated resting xforms
  scene/main/scene_tree_fti.cpp
  scene/main/spatial.cpp
  scene/main/spatial.h
Owners: @godotengine/core

Physics Interpolation - Fix `disable_scale` bug in 3D
  scene/main/scene_tree_fti.cpp
Owners: @godotengine/core

FTI - Fix 3D auto-resets
  scene/3d/camera.cpp
  scene/3d/visual_instance.cpp
  scene/main/node.cpp
  scene/main/scene_tree_fti.cpp
  scene/main/scene_tree_fti.h
  scene/main/spatial.cpp
Owners: @godotengine/3d-nodes, @godotengine/core

Add an editor option to copy system info to clipboard
  editor/editor_node.cpp
  editor/editor_node.h
Owners: none

FTI - Add custom interpolation for wheels
  scene/3d/vehicle_body.cpp
  scene/3d/vehicle_body.h
Owners: @godotengine/3d-nodes

Use SpinLock in GLOBAL_CACHED.
  core/config/project_settings.h
Owners: @godotengine/core

FTI - Fix `SceneTreeFTI` behaviour on exit tree
  scene/main/scene_tree_fti.cpp
  scene/main/scene_tree_fti.h
Owners: @godotengine/core

Make selected tile in TileSet more visible through red outline
  modules/tile_map/tile_set_editor_plugin.cpp
Owners: none

Track external changes in the custom fonts set by BBCode / `push_font`.
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Owners: @godotengine/gui-nodes

Improve set_radial_initial_angle by removing loops
  doc/classes/TextureProgress.xml
  scene/gui/texture_progress.cpp
Owners: @godotengine/documentation, @godotengine/gui-nodes
