Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Also make funcref work with StringNames in GDScript.
  modules/gdscript/gdscript_functions.cpp
Owners: @godotengine/gdscript

Fix potential infinite loop in TypedArray::can_take_variant() and PackedTypedArray::can_take_variant().
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core

Implement a template-like syntax for TypedArray and PackedTypedArray variable declarations for PScript.
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_function.h
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
Owners: none

Revert "Allow the use of raw types as function parameters in PScript."
  modules/pscript/pscript_parser.cpp
Owners: none

Implement a template-like syntax for TypedArray and PackedTypedArray variable instancing for PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Add comment.
  modules/pscript/pscript_parser.cpp
Owners: none

Fix typo.
  modules/pscript/pscript_parser.h
Owners: none

Backport 5cdc1129ac to GDScript.
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Owners: @godotengine/gdscript

Backport c56448d141 to GDScript.
  modules/gdscript/gdscript_parser.cpp
Owners: @godotengine/gdscript

Also add comment.
  modules/gdscript/gdscript_parser.cpp
Owners: @godotengine/gdscript

Only add the :<int> postfix to ints in PScript's export hints in every case.
  modules/pscript/pscript_parser.cpp
Owners: none

Backport the previous change to GDScript.
  modules/gdscript/gdscript_parser.cpp
Owners: @godotengine/gdscript

Fix erroneous constructor in PackedTypedArray.
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/variant_call.cpp
Owners: @godotengine/core

Implement proper autoexport support for TypedArray and PackedTypedArray.
  modules/gdscript/gdscript_parser.cpp
  modules/pscript/pscript_parser.cpp
Owners: @godotengine/gdscript

Don't override int type when setting concrete type in PackedTypedArray.
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

`FTI` - Fix property release updates
  core/interpolated_property.h
  scene/3d/camera.cpp
Owners: @godotengine/core, @godotengine/3d-nodes

Mark last backported commit.
  CHANGELOG.md
Owners: none

Fix String's contains() having a default parameter in the binds.
  core/variant/variant_call.cpp
Owners: @godotengine/core

The cscript module no longer exists.
  misc/build_containers/engine_build_scripts/linux.sh
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

Fix crash when a texture is imported as lossy.
  editor/import/resource_importer_texture.cpp
  editor/import/resource_importer_texture.h
Owners: @godotengine/import

Update version string.
  modules/webp/thirdparty/README.md
Owners: @godotengine/import

Add missing file to SCSub.
  modules/webp/SCsub
Owners: @godotengine/import

Update header guards.
  modules/webp/image_loader_webp.cpp
  modules/webp/image_loader_webp.h
  modules/webp/register_types.cpp
  modules/webp/register_types.h
Owners: @godotengine/import

Update module registrtation method signature.
  modules/webp/register_types.cpp
  modules/webp/register_types.h
Owners: @godotengine/import

Set up copyright.txt for the webp module.
  modules/webp/COPYRIGHT.txt
  modules/webp/config.py
Owners: @godotengine/import

Update the sample module config file.
  misc/scripts_app/module_config.py
Owners: @godotengine/buildsystem

Disable type inference errors in release builds.
  modules/gdscript/gdscript_parser.cpp
Owners: @godotengine/gdscript

Make autocomplete for singletons more reliable in PScript.
  modules/pscript/pscript_editor.cpp
Owners: none

Backport the previous change to GDScript.
  modules/gdscript/gdscript_editor.cpp
Owners: @godotengine/gdscript

Backport [Linux] Fix separate debug symbols for arm from godot build containers.
  misc/build_containers/Dockerfile.linux
Owners: @godotengine/buildsystem

Rework the linux build container, now it needs the toolchains to be present instead of donwloading them.
  misc/build_containers/Dockerfile.linux
  misc/build_containers/build_containers.sh
  misc/build_containers/engine_build_scripts/linux.sh
Owners: @godotengine/buildsystem

Update changelog.
  CHANGELOG.md
Owners: none

Fix error when trying to index TypedArrays and PackedTypedArrays in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Backport the previous change to GDScript.
  modules/gdscript/gdscript_parser.cpp
Owners: @godotengine/gdscript

Update changelog.
  CHANGELOG.md
Owners: none

Set version to stable.
  version.py
Owners: @godotengine/buildsystem

Bump version.
  version.py
Owners: @godotengine/buildsystem

Fix default value of the additional_rotation property in SkeletonModification3DLookAt.
  modules/skeleton_3d/resources/skeleton_modification_3d_lookat.cpp
Owners: none

Fix global_pose_to_local_pose() and global_pose_to_local_pose() in Skeleton.
  modules/skeleton_3d/nodes/skeleton.cpp
Owners: none

Added get_bone_local_pose() helper method to Skeleton.
  modules/skeleton_3d/nodes/skeleton.cpp
  modules/skeleton_3d/nodes/skeleton.h
Owners: none
