Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Suppress error when device is invalidated after `IAudioClient::GetBufferSize`
  drivers/wasapi/audio_driver_wasapi.cpp
Owners: @godotengine/audio

Ping `master` cache after saving cache
  .github/actions/pandemonium-build/action.yml
  .github/actions/pandemonium-cache-restore/action.yml
  .github/actions/pandemonium-cache-save/action.yml
Owners: @godotengine/buildsystem

libpng: Update to 1.6.58
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/libpng/LICENSE
  thirdparty/libpng/arm/arm_init.c
  thirdparty/libpng/arm/filter_neon.S
  thirdparty/libpng/arm/filter_neon_intrinsics.c
  thirdparty/libpng/arm/palette_neon_intrinsics.c
  thirdparty/libpng/png.c
  thirdparty/libpng/png.h
  thirdparty/libpng/pngconf.h
  thirdparty/libpng/pngdebug.h
  thirdparty/libpng/pngerror.c
  thirdparty/libpng/pngget.c
  thirdparty/libpng/pnginfo.h
  thirdparty/libpng/pnglibconf.h
  thirdparty/libpng/pngmem.c
  thirdparty/libpng/pngpread.c
  thirdparty/libpng/pngpriv.h
  thirdparty/libpng/pngread.c
  thirdparty/libpng/pngrio.c
  thirdparty/libpng/pngrtran.c
  thirdparty/libpng/pngrutil.c
  thirdparty/libpng/pngset.c
  thirdparty/libpng/pngstruct.h
  thirdparty/libpng/pngtrans.c
  thirdparty/libpng/pngwio.c
  thirdparty/libpng/pngwrite.c
  thirdparty/libpng/pngwtran.c
  thirdparty/libpng/pngwutil.c
Owners: @godotengine/buildsystem

Fix x86_64 simulator build.
  platform/iphone/detect.py
Owners: @godotengine/ios

Remove Split todos.
  README.md
Owners: none

Added a todo for the next release.
  README.md
Owners: none

Restored yield to PScript.
  SConstruct
  modules/pscript/SCsub
  modules/pscript/doc_classes/PScriptFunctionState.xml
  modules/pscript/pscript.cpp
  modules/pscript/pscript.h
  modules/pscript/pscript_compiler.cpp
  modules/pscript/pscript_editor.cpp
  modules/pscript/pscript_function.cpp
  modules/pscript/pscript_function.h
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_parser.h
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
  modules/pscript/register_types.cpp
Owners: @godotengine/buildsystem

Allow StringNames as signal names in yield for PScript. Also use StringNames directly when setting up the signal connection.
  modules/pscript/pscript_function.cpp
  modules/pscript/pscript_parser.cpp
Owners: none

Honor the add_string_name_symbol setting for yield signal names in PScript's code editor.
  modules/pscript/pscript_editor.cpp
Owners: none

Small tweak.
  modules/pscript/pscript_parser.cpp
Owners: none

Allow StringNames as signal names in yield for GDscript aswell.
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_parser.cpp
Owners: @godotengine/gdscript

Update todos.
  README.md
Owners: none

Added md5 sum generation to the make release script.
  misc/scripts/make_release.sh
Owners: @godotengine/buildsystem

Remove todo.
  README.md
Owners: none

Added a missing constructor to gdnative's typed array header.
  modules/gdnative/gdnative/typed_array.cpp
  modules/gdnative/include/gdn/typed_array.h
Owners: @godotengine/gdnative

Fix the return value of GDNative's PackedTypedArray's set.
  modules/gdnative/gdnative/packed_typed_array.cpp
  modules/gdnative/include/gdn/packed_typed_array.h
Owners: @godotengine/gdnative

Rename the new constructor in GDNative's TypedArray api.
  modules/gdnative/gdnative/typed_array.cpp
  modules/gdnative/include/gdn/typed_array.h
Owners: @godotengine/gdnative

Added missing constructor for GDNative's PackedTypedArray.
  modules/gdnative/gdnative/packed_typed_array.cpp
  modules/gdnative/include/gdn/packed_typed_array.h
Owners: @godotengine/gdnative

Update gdnative api's json.
  modules/gdnative/gdnative_api.json
Owners: @godotengine/gdnative

Fix typo.
  modules/gdnative/gdnative/packed_typed_array.cpp
  modules/gdnative/include/gdn/packed_typed_array.h
Owners: @godotengine/gdnative

Update todos.
  README.md
Owners: none

Re-exctacted class docs.
  doc/classes/ProjectSettings.xml
  modules/database/doc_classes/PreparedStatement.xml
  modules/pscript/doc_classes/@PScript.xml
Owners: @godotengine/documentation

Fix docs for pscript's function_may_yield, and yield.
  doc/classes/ProjectSettings.xml
  modules/pscript/doc_classes/@PScript.xml
Owners: @godotengine/documentation

Codespell pt1.
  SCSCons/PathList.py
  SCSCons/Tool/MSCommon/vc.py
  SCSCons/Variables/EnumVariable.py
  SCSCons/compat/__init__.py
  platform/android/SCsub
  platform/android/java/lib/src/org/pandemoniumengine/pandemonium/input/PandemoniumInputHandler.java
  platform/android/platform_thread.cpp
  platform/frt/platform_thread.cpp
  platform/frt_sdl/platform_thread.cpp
  platform/iphone/platform_thread.cpp
  platform/javascript/js/libs/library_pandemonium_audio.js
  platform/javascript/js/libs/library_pandemonium_input.js
  platform/javascript/platform_thread.cpp
  platform/osx/platform_thread.cpp
  platform/server/export/export.cpp
  platform/server/platform_thread.cpp
  platform/windows/platform_semaphore.cpp
  platform/windows/platform_thread.cpp
  platform/windows/tts_windows.cpp
  platform/x11/platform_thread.cpp
  scene/2d/line_builder.cpp
  scene/2d/physics_body_2d.cpp
  scene/3d/merge_group.cpp
  scene/3d/physics_body.cpp
  scene/3d/vehicle_body.cpp
  scene/animation/tween.cpp
  scene/main/process_group.h
  scene/resources/mesh/polygon_path_finder.cpp
  scene/resources/navigation/navigation_mesh_source_geometry_data_3d.h
  scene/resources/navigation_2d/navigation_mesh_source_geometry_data_2d.h
  servers/audio/effects/audio_effect_record.cpp
  servers/physics/joints/pin_joint_sw.cpp
  servers/physics/shape_sw.cpp
  servers/physics/step_sw.cpp
  servers/physics_2d/broad_phase_2d_hash_grid.cpp
  servers/physics_2d/joints_2d_sw.cpp
  servers/physics_2d/step_2d_sw.cpp
  servers/rendering/rendering_server_canvas.cpp
Owners: @godotengine/buildsystem, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/macos, @godotengine/windows, @godotengine/linux-bsd, @godotengine/2d-nodes, @godotengine/3d-nodes, @godotengine/animation, @godotengine/core, @godotengine/audio, @godotengine/physics

Tweaks to the codespell script.
  misc/scripts/codespell.sh
Owners: @godotengine/buildsystem

More tweaks to the codespell script.
  misc/scripts/codespell.sh
Owners: @godotengine/buildsystem

More tweaks to the codespell script.
  misc/scripts/codespell.sh
Owners: @godotengine/buildsystem

Codespell pt4.
  CHANGELOG.md
  editor/script_editor_debugger.cpp
  modules/database/doc_classes/PreparedStatement.xml
  modules/entity_spell_system/doc_classes/ESS.xml
  modules/pdf_generator/doc_classes/PDFDocument.xml
  modules/pdf_generator/doc_classes/PDFFont.xml
  modules/pdf_generator/doc_classes/PDFPage.xml
  modules/users/doc_classes/User.xml
  modules/users/doc_classes/UserModule.xml
  modules/users/doc_classes/UserPasswordResetWebPage.xml
  modules/vertex_lights_2d/doc_classes/VertexLights2DServer.xml
  modules/vertex_lights_3d/doc_classes/VertexLights3DServer.xml
  modules/voxelman/doc_classes/VoxelWorld.xml
  modules/web/doc_classes/HTMLTemplate.xml
  modules/web/doc_classes/HTMLTemplateData.xml
  modules/web/doc_classes/PagedArticleWebPage.xml
Owners: @godotengine/debugger

Fix typo.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Tweak todos.
  README.md
Owners: none

Re-extracted class docs.
  modules/web/doc_classes/FormAlphaNumericFieldEntry.xml
Owners: none

Set version to stable.
  version.py
Owners: @godotengine/buildsystem

Update changelog.
  CHANGELOG.md
Owners: none

Fix typo.
  CHANGELOG.md
Owners: none

Bump version.
  version.py
Owners: @godotengine/buildsystem

Fix crash in ESS::load_all() if the resource couldn't be loaded.
  modules/entity_spell_system/singletons/ess.cpp
Owners: none

Remove 'Spaces used before tabs on a line' leftover error from PScript.
  modules/pscript/pscript_tokenizer.cpp
Owners: none

Allow method call chains to be broken up into multiple lines in PScript.
  modules/pscript/pscript_parser.cpp
Owners: none

Added nightly quick option to the build all script.
  misc/build_containers/build_all.sh
Owners: @godotengine/buildsystem

Use the server executable in the make_release script, so it works on machines without a display.
  misc/scripts/make_release.sh
Owners: @godotengine/buildsystem

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
