Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Now SubProcess::get_data() clears the pipe, and it also uses the pipe mutex.
  core/os/sub_process.cpp
  core/os/sub_process.h
Owners: @godotengine/core

Now SubProcess::start() clears the accumulated data.
  drivers/unix/sub_process_unix.cpp
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/_platforms, @godotengine/windows

Implement SubProcessUnix::send_signal().
  drivers/unix/sub_process_unix.cpp
Owners: @godotengine/_platforms

Signals doesn't seem to exist on windows, so just return ERR_UNAVAILABLE in SubProcessWindows::send_signal().
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

Cleanups and Tweaks to SubProcess's api.
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/sub_process.cpp
  core/os/sub_process.h
  drivers/unix/sub_process_unix.cpp
  platform/windows/sub_process_windows.cpp
  platform/windows/sub_process_windows.h
Owners: @godotengine/core, @godotengine/_platforms, @godotengine/windows

Fix typos.
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

Fix typos.
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

Implement sending data to a subprocess on unix.
  drivers/unix/sub_process_unix.cpp
Owners: @godotengine/_platforms

Notes.
  core/os/sub_process.h
Owners: @godotengine/core

Rework SubProcess's communication setup api.
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/sub_process.cpp
  core/os/sub_process.h
  drivers/unix/sub_process_unix.cpp
  drivers/unix/sub_process_unix.h
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/core, @godotengine/_platforms, @godotengine/windows

Pipes setup for SubProcessUnix.
  drivers/unix/sub_process_unix.cpp
  drivers/unix/sub_process_unix.h
Owners: @godotengine/_platforms

Fix bytes_in_buffer starting value in SubProcessWindows::poll().
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

Fix typo.
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

Fix more typos.
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

Fix one more.
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

SubProcessUnix initial pipes based reimplementation.
  drivers/unix/sub_process_unix.cpp
  drivers/unix/sub_process_unix.h
Owners: @godotengine/_platforms

Backport improvements to SubProcessWindows.
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

Fix typo.
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/sub_process.h
  drivers/unix/sub_process_unix.cpp
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/core, @godotengine/_platforms, @godotengine/windows

Add missing change.
  core/os/sub_process.cpp
Owners: @godotengine/core

Implemented SubProcessUnix::send_data().
  drivers/unix/sub_process_unix.cpp
  drivers/unix/sub_process_unix.h
Owners: @godotengine/_platforms

Call stop() on error in SubProcessUnix::send_data() for convenience. Also comment.
  drivers/unix/sub_process_unix.cpp
Owners: @godotengine/_platforms

Backport improvements to SubProcessWindows::send_data().
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

Detect if the process is not running in SubProcessUnix::poll() for convenience.
  drivers/unix/sub_process_unix.cpp
Owners: @godotengine/_platforms

Re-extracted class docs.
  doc/classes/SubProcess.xml
Owners: @godotengine/documentation

Remove comment.
  core/os/sub_process.h
Owners: @godotengine/core

Update SubProcess' docs.
  doc/classes/SubProcess.xml
Owners: @godotengine/documentation

Renamed SubProcess:send_data() to write_to_stdin() to match the getters.
  core/bind/core_bind.cpp
  core/bind/core_bind.h
  core/os/sub_process.h
  doc/classes/SubProcess.xml
  drivers/unix/sub_process_unix.cpp
  drivers/unix/sub_process_unix.h
  platform/windows/sub_process_windows.cpp
  platform/windows/sub_process_windows.h
Owners: @godotengine/core, @godotengine/documentation, @godotengine/_platforms, @godotengine/windows

Separated pipe mutex in SubProcess. Now all 3 channels (stdout, stderr, stdin) have one.
  core/os/sub_process.cpp
  core/os/sub_process.h
  doc/classes/SubProcess.xml
  drivers/unix/sub_process_unix.cpp
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/core, @godotengine/documentation, @godotengine/_platforms, @godotengine/windows

Add SubProcess demo project link to the docs.
  doc/classes/SubProcess.xml
Owners: @godotengine/documentation

Fix crash in CameraFeed's constructor if the CameraServer is null.
  modules/camera_server/camera_feed.cpp
Owners: none

Fix issues in SubProcessUnix::poll() and SubProcessWindows::poll().
  drivers/unix/sub_process_unix.cpp
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/_platforms, @godotengine/windows

Fix typo.
  modules/camera_server/camera_feed.cpp
Owners: none

Revert previous fix, the issue was caused by bad cache.
  modules/camera_server/camera_feed.cpp
Owners: none

Check if the process is still running before checking if the call is blocking in SubProcessUnix::poll().
  drivers/unix/sub_process_unix.cpp
Owners: @godotengine/_platforms

Added is_process_running() check in SubProcessWindows::poll() if polling from an another thread while blocking.
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

Resize the correct buffer.
  drivers/unix/sub_process_unix.cpp
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/_platforms, @godotengine/windows

Fix blocking logic SubProcessUnix and SubProcessWindows start().
  drivers/unix/sub_process_unix.cpp
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/_platforms, @godotengine/windows

Move non-blocking is_process_running() check in SubProcessUnix and SubProcessWindows poll().
  drivers/unix/sub_process_unix.cpp
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/_platforms, @godotengine/windows

Shring back the buffer if the read didn't succeed in SubProcessWindows::start().
  platform/windows/sub_process_windows.cpp
Owners: @godotengine/windows

ALso shring the buffer if an error happens while blocking in SubProcessUnix::start().
  drivers/unix/sub_process_unix.cpp
Owners: @godotengine/_platforms
