Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Backported 'Fix get_bone_pose_global_no_override()' from godot 4.
  modules/skeleton_3d/nodes/skeleton.cpp
Owners: none

Fix SkeletonModification3DCCDIK.
  modules/skeleton_3d/resources/skeleton_modification_3d_ccdik.cpp
Owners: none

Added more helper methods to Skeleton.
  modules/skeleton_3d/nodes/skeleton.cpp
  modules/skeleton_3d/nodes/skeleton.h
Owners: none

Fix potential bug in Skeleton::local_pose_to_global_pose().
  modules/skeleton_3d/nodes/skeleton.cpp
Owners: none

Fix logic in SkeletonModification3DLookAt.
  modules/skeleton_3d/resources/skeleton_modification_3d_lookat.cpp
Owners: none

Remove superflous space in SkeletonModification3DLookAt's lock_rotation_plane's enum binder values.
  modules/skeleton_3d/resources/skeleton_modification_3d_lookat.cpp
Owners: none

Now SkeletonModification3DLookAt::get_lock_rotation_to_plane() returns the proper variable.
  modules/skeleton_3d/resources/skeleton_modification_3d_lookat.cpp
Owners: none

Don't use variable directly in Skeleton::local_pose_to_global_pose_no_override() as it might need to be updated.
  modules/skeleton_3d/nodes/skeleton.cpp
Owners: none

Actually fix SkeletonModification3DLookAt. Also small improvements.
  modules/skeleton_3d/resources/skeleton_modification_3d_lookat.cpp
Owners: none

Fix typo.
  modules/skeleton_3d/resources/skeleton_modification_3d_lookat.cpp
Owners: none

Unset override in a better way.
  modules/skeleton_3d/resources/skeleton_modification_3d_lookat.cpp
Owners: none

Fix some of the helper methods in Skeleton.
  modules/skeleton_3d/nodes/skeleton.cpp
Owners: none

Fix SkeletonModification3DFABRIK.
  modules/skeleton_3d/resources/skeleton_modification_3d_fabrik.cpp
Owners: none

Fix SkeletonModification3DJiggle.
  modules/skeleton_3d/resources/skeleton_modification_3d_jiggle.cpp
Owners: none

Work on SkeletonModification3DTwoBoneIK.
  modules/skeleton_3d/resources/skeleton_modification_3d_twoboneik.cpp
Owners: none

Fix SkeletonModification3DTwoBoneIK except when a pole node is not provided.
  core/math/basis.cpp
  core/math/basis.h
  modules/skeleton_3d/resources/skeleton_modification_3d_twoboneik.cpp
Owners: @godotengine/core

Bind more methods in Skeleton.
  modules/skeleton_3d/nodes/skeleton.cpp
Owners: none

Now Skeleton::get_bone_global_pose_no_override() uses the final transform of the parent bone chain.
  modules/skeleton_3d/nodes/skeleton.cpp
Owners: none

Disable windows x86 builds for now as the github windows runner seems to be broken.
  .github/disabled_workflows/windows_x86_builds.yml
Owners: @godotengine/buildsystem

Make the GridMap's editor much more usable.
  modules/gridmap/grid_map_editor_plugin.cpp
Owners: @godotengine/3d-nodes

Tweak the Gridmap Editor's menu buttons.
  modules/gridmap/grid_map_editor_plugin.cpp
Owners: @godotengine/3d-nodes

Preserve the output from the gradle build command
  editor/editor_node.cpp
  editor/editor_node.h
  platform/android/export/export_plugin.cpp
Owners: @godotengine/android

Fix `safe_unproject_position()`
  scene/3d/camera.cpp
Owners: @godotengine/3d-nodes

Backport some of the fixes from https://github.com/godotengine/godot/commit/13d050475599bad648678c2371d7258dbf6ff372 .
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
Owners: @godotengine/audio

Fix all img->get_data().read() style calls.
  drivers/gles2/rasterizer_storage_gles2.cpp
  drivers/gles3/rasterizer_storage_gles3.cpp
  editor_modules/cvtt/image_compress_cvtt.cpp
  editor_modules/etc/image_compress_etc.cpp
  editor_modules/raycast/lightmap_raycaster.cpp
  modules/pvr/image_compress_pvrtc.cpp
  modules/squish/image_compress_squish.cpp
  platform/frt_sdl/frt_godot3.cc
  platform/javascript/os_javascript.cpp
  platform/windows/os_windows.cpp
  platform/x11/os_x11.cpp
  scene/3d/voxel_light_baker.cpp
  scene/resources/bit_map.cpp
Owners: @godotengine/rendering, @godotengine/import, @godotengine/html5, @godotengine/windows, @godotengine/linux-bsd, @godotengine/3d-nodes

Add a build system long term goal. Unfortunately.
  README.md
Owners: none

Formatting.
  README.md
Owners: none

Add more options.
  README.md
Owners: none

Fix warning found by ci.
  modules/pdf_generator/libharu/src/hpdf_pdfa.c
Owners: none

Use the default version define instead.
  modules/pdf_generator/libharu/src/hpdf_pdfa.c
Owners: none

Revert the previous 2 changes instead.
  modules/pdf_generator/libharu/src/hpdf_pdfa.c
Owners: none

Re-apply the first fix for the error found by ci.
  modules/pdf_generator/libharu/src/hpdf_pdfa.c
Owners: none

Add local ci and nightlies as a long term plan.
  README.md
Owners: none

Website git long ther plan.
  README.md
Owners: none

Small todos section.
  README.md
Owners: none

Added plans for the PasswordReset Node.
  README.md
Owners: none

Added 2FA plan section, and the likely solution for it.
  README.md
Owners: none

WebUserAdmin editor long term plan.
  README.md
Owners: none

Added a long term plan for the User class.
  README.md
Owners: none

Added an example code to UserLoginWebPage's docs that show how to set up the user session on login success.
  modules/users/doc_classes/UserLoginWebPage.xml
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
