Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Added get_filesystem_abspath_for() helper method to FileAccess.
  core/os/file_access.cpp
  core/os/file_access.h
Owners: @godotengine/core

Simplify get_filesystem_abspath_for() helper method in DirAccess.
  core/os/dir_access.cpp
  core/os/dir_access.h
Owners: @godotengine/core

Bind get_filesystem_abspath_for() to File, also don't require a directory to be opened for the Directory's version.
  core/bind/core_bind.cpp
  core/bind/core_bind.h
Owners: @godotengine/core

Bind text width helper method for PDFPage.
  modules/pdf_generator/pdf_page.cpp
  modules/pdf_generator/pdf_page.h
Owners: none

Fix path transformation in PDFDocument. Also fix font loading.
  modules/pdf_generator/pdf_document.cpp
Owners: none

Added draw_image() method to PDFPage.
  modules/pdf_generator/pdf_page.cpp
  modules/pdf_generator/pdf_page.h
Owners: none

Added get_width() and get_height() methods to PDFImage.
  modules/pdf_generator/pdf_image.cpp
  modules/pdf_generator/pdf_image.h
Owners: none

Add hpdf_config.h header.
  modules/pdf_generator/libharu/include/hpdf_conf.h
  modules/pdf_generator/libharu/include/hpdf_config.h
Owners: none

Improved PDFDocument::get_contents() logic.
  modules/pdf_generator/pdf_document.cpp
Owners: none

Use HPDF_ReadFromStream instead of HPDF_GetContents in PDFDocument::get_contents().
  modules/pdf_generator/pdf_document.cpp
Owners: none

Added missing apis from hpdf.h as comments and also tweaks.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_page.h
Owners: none

Added page layout property for PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Rework document helper codestyle in PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Make function name style consistent in PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Bind page mode for PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Added PDFDocument::page_add_label() helper method.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Added viewer_preference property to PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Added more helper classes to the pdf generator module.
  modules/pdf_generator/SCsub
  modules/pdf_generator/config.py
  modules/pdf_generator/pdf_3d_measure.cpp
  modules/pdf_generator/pdf_3d_measure.h
  modules/pdf_generator/pdf_annotation.cpp
  modules/pdf_generator/pdf_annotation.h
  modules/pdf_generator/pdf_destination.cpp
  modules/pdf_generator/pdf_destination.h
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_embedded_file.cpp
  modules/pdf_generator/pdf_embedded_file.h
  modules/pdf_generator/pdf_ex_data.cpp
  modules/pdf_generator/pdf_ex_data.h
  modules/pdf_generator/pdf_ext_g_state.cpp
  modules/pdf_generator/pdf_ext_g_state.h
  modules/pdf_generator/pdf_outline.cpp
  modules/pdf_generator/pdf_outline.h
  modules/pdf_generator/pdf_shading.cpp
  modules/pdf_generator/pdf_shading.h
  modules/pdf_generator/pdf_x_object.cpp
  modules/pdf_generator/pdf_x_object.h
Owners: @godotengine/buildsystem

Move comments around.
  modules/pdf_generator/pdf_3d_measure.h
  modules/pdf_generator/pdf_annotation.h
  modules/pdf_generator/pdf_destination.h
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_embedded_file.h
  modules/pdf_generator/pdf_ex_data.h
  modules/pdf_generator/pdf_ext_g_state.h
  modules/pdf_generator/pdf_outline.h
  modules/pdf_generator/pdf_page.h
  modules/pdf_generator/pdf_shading.h
Owners: none

Move comments.
  modules/pdf_generator/pdf_document.h
Owners: none

Added PDFEncoder class.
  modules/pdf_generator/SCsub
  modules/pdf_generator/config.py
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_encoder.cpp
  modules/pdf_generator/pdf_encoder.h
Owners: @godotengine/buildsystem

Implement encoding specific methods to PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_encoder.cpp
  modules/pdf_generator/pdf_encoder.h
Owners: none

Add avaliable encodings to PDFEncoder.
  modules/pdf_generator/pdf_encoder.cpp
  modules/pdf_generator/pdf_encoder.h
Owners: none

Added PDFDocument::outline_create() method.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_outline.cpp
  modules/pdf_generator/pdf_outline.h
Owners: none

Implement the rest of the image loading methods in PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Remove now unneeded comment.
  modules/pdf_generator/pdf_document.h
Owners: none

Added open_action_set() hepler method to PDFDocument.
  modules/pdf_generator/pdf_destination.cpp
  modules/pdf_generator/pdf_destination.h
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Add XObject methods to PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_x_object.cpp
  modules/pdf_generator/pdf_x_object.h
Owners: none

Added PDFDict class.
  modules/pdf_generator/SCsub
  modules/pdf_generator/config.py
  modules/pdf_generator/pdf_dict.cpp
  modules/pdf_generator/pdf_dict.h
Owners: @godotengine/buildsystem

Added PDFDate class.
  modules/pdf_generator/SCsub
  modules/pdf_generator/config.py
  modules/pdf_generator/pdf_date.cpp
  modules/pdf_generator/pdf_date.h
Owners: @godotengine/buildsystem

Implement info dictionary methods to PDFDocument.
  modules/pdf_generator/pdf_date.cpp
  modules/pdf_generator/pdf_date.h
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Implement pdf a conformance methods in PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Implement encryption methods in PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
Owners: none

Implement file embedding api in PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_embedded_file.cpp
  modules/pdf_generator/pdf_embedded_file.h
Owners: none

Make PDFDocument's api consistently return nulls.
  modules/pdf_generator/pdf_document.cpp
Owners: none

Implement the extended graphic state api for PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_ext_g_state.cpp
  modules/pdf_generator/pdf_ext_g_state.h
Owners: none

Implement the shading api for PDFDocument.
  modules/pdf_generator/pdf_document.cpp
  modules/pdf_generator/pdf_document.h
  modules/pdf_generator/pdf_shading.cpp
  modules/pdf_generator/pdf_shading.h
Owners: none

Fix variable type.
  modules/pdf_generator/pdf_document.cpp
Owners: none

Move methods in file.
  modules/pdf_generator/pdf_document.cpp
Owners: none

Implement boundary_set() helper method to PDFPage.
  modules/pdf_generator/pdf_page.cpp
  modules/pdf_generator/pdf_page.h
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
