Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

Small tweak.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Revert changes to Range::set_value #65101
  scene/gui/range.cpp
Owners: @godotengine/gui-nodes

Mark last backported commit.
  CHANGELOG.md
Owners: none

Small tweaks and reorganization in TerrainWorldEditor.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Gui and callback setup for the isolevel brush in TerrainWorldEditor.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Added the option to select the channel in TerrainWorldEditor's Isolevel Brush.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Initial input handling refactor for TerrainWorldEditor.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Removed set_voxel_with_tool from TerrainWorld.
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Include cleanups.
  modules/terraman/world/terrain_world_editor.cpp
Owners: none

Added a button for setting the allow chunk creation option for the isolevel brush in TerrainWorldEditor.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Added a strength slider for the isolevel brush in TerrainWorldEditor.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Added new helper methods to TerrainWorld.
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Implemented the isolevel brush in TerrainWorldEditor.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Implemented the paint brush mode in TerrainWorldEditor.
  modules/terraman/world/terrain_world_editor.cpp
  modules/terraman/world/terrain_world_editor.h
Owners: none

Moved the TerrainWorldEditor to a new folder. Also make sure it's only compiled in tools builds.
  modules/terraman/SCsub
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
  modules/terraman/register_types.cpp
Owners: @godotengine/buildsystem

Initial gizmo setup for Terraman.
  modules/terraman/SCsub
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
  modules/terraman/editor/terraman_gizmo.cpp
  modules/terraman/editor/terraman_gizmo.h
  modules/terraman/editor/terraman_gizmo_plugin.cpp
  modules/terraman/editor/terraman_gizmo_plugin.h
Owners: @godotengine/buildsystem

Renamed the new gizmo.
  modules/terraman/SCsub
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
  modules/terraman/editor/terrain_world_gizmo.cpp
  modules/terraman/editor/terrain_world_gizmo.h
  modules/terraman/editor/terrain_world_gizmo_plugin.cpp
  modules/terraman/editor/terrain_world_gizmo_plugin.h
Owners: @godotengine/buildsystem

Implemented the TerrainWorldGizmo.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
  modules/terraman/editor/terrain_world_gizmo.cpp
  modules/terraman/editor/terrain_world_gizmo.h
  modules/terraman/editor/terrain_world_gizmo_plugin.cpp
  modules/terraman/editor/terrain_world_gizmo_plugin.h
Owners: none

Optimized UndoRedo usage in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Udpate the gizmo size properly in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Fix crash on shutdown.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Codestyle fix.
  modules/terraman/meshers/terrain_mesher.cpp
Owners: none

Codestyle fix.
  modules/terraman/world/jobs/terrain_light_job.cpp
Owners: none

Clear meshes as needed in TerrainPropJob.
  modules/terraman/world/jobs/terrain_prop_job.cpp
Owners: none

Clear meshes as needed in TerrainTerrainJob.
  modules/terraman/world/jobs/terrain_terrain_job.cpp
Owners: none

Implemented an immediate build mode for TerrainChunk.
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
Owners: none

Use the new immediate build mode in TerrainWorld's set_voxel_at_world_data_position().
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Optimized editing in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Unlock the mutex after the rects are refreshed in the material cache in TerrainLibraryMergerPCM.
  modules/terraman/library/terrain_library_merger_pcm.cpp
Owners: none

Implemented chunk material invalidation support for TerrainLibraryMergerPCM.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/library/terrain_library_merger_pcm.cpp
  modules/terraman/world/jobs/terrain_prop_job.cpp
  modules/terraman/world/jobs/terrain_terrain_job.cpp
  modules/terraman/world/terrain_chunk.cpp
  modules/terraman/world/terrain_chunk.h
  modules/terraman/world/terrain_world.cpp
  modules/terraman/world/terrain_world.h
Owners: none

Reset the mesher's lod index in _reset() in TerrainTerrainJob. This fixes subsequent mesh generations.
  modules/terraman/world/jobs/terrain_terrain_job.cpp
Owners: none

Handle a missing case when setting voxels in TerrainWorld.
  modules/terraman/world/terrain_world.cpp
Owners: none

Allow 0 as the isolevel brush strength and smoothness in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Fix isolevel brush smoothness calculation in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Start at max isolevel brush smoothness in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Invert the logic of the isolevel brush smoothness calculation so it works as expected.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Disable allow chunk creation for the paint brush and isolevel brush tools by default in TerrainWorldEditor. A new chunk spawner tool will be added instead soon.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Renamed the add and remove tools to add single and remove single voxel in TerrainWorldEditor. Also improved their gui a bit.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

Reorganized the tools in TerrainWorldEditor. Also made the Isolevel Brush the default.
  modules/terraman/editor/terrain_world_editor.cpp
Owners: none

Spawn brush initial setup in TerrainWorldEditor.
  modules/terraman/editor/terrain_world_editor.cpp
  modules/terraman/editor/terrain_world_editor.h
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
