Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem

Allow const and const reference parameters, variables, and const methods similar to how they are often used on the engine side.
  modules/pscript/pscript_parser.cpp
Owners: none

Don't allow const reference as a variable, it's unecessary.
  modules/pscript/pscript_parser.cpp
Owners: none

Implement Ref<> for PScript. It's just syntactic sugar.
  modules/pscript/pscript_parser.cpp
  modules/pscript/pscript_tokenizer.cpp
  modules/pscript/pscript_tokenizer.h
Owners: none

Add Ref to the identifier and reserved keywords list.
  modules/pscript/pscript.cpp
  modules/pscript/pscript_editor.cpp
Owners: none

Fix _create_item_instance virtual method bind's return value in ItemTemplate.
  modules/entity_spell_system/data/items/item_template.cpp
Owners: none

Add default _create_item_instance method in ItemTemplate to spare the has_method check.
  modules/entity_spell_system/data/items/item_template.cpp
  modules/entity_spell_system/data/items/item_template.h
Owners: none

More potential long term plans.
  README.md
Owners: none

Fix build when GDScript and / or PScript is disabled.
  main/main.cpp
Owners: @godotengine/core

Fix lua style dictionaries in GDScript.
  modules/gdscript/gdscript_parser.cpp
Owners: @godotengine/gdscript

Set the clang format standard back to c++03.
  .clang-format
Owners: @godotengine/buildsystem

Fix standalone expression warnings with pre and post increment and decrement.
  modules/pscript/pscript_parser.cpp
Owners: none

Fix multi threaded rendering.
  servers/rendering/rendering_server_wrap_mt.cpp
  servers/rendering/rendering_server_wrap_mt.h
Owners: none

Set the clang format standard to c++11 instead.
  .clang-format
Owners: @godotengine/buildsystem

Tweaks to the c++03 long term plan.
  README.md
Owners: none

Collect old threading primitive implementations to a temp folder.
  temp/mutex.cpp
  temp/mutex.h
  temp/mutex_posix.cpp
  temp/mutex_posix.h
  temp/mutex_windows.cpp
  temp/mutex_windows.h
  temp/rw_lock.cpp
  temp/rw_lock.h
  temp/rw_lock_posix.cpp
  temp/rw_lock_posix.h
  temp/rw_lock_windows.cpp
  temp/rw_lock_windows.h
  temp/safe_refcount.cpp
  temp/safe_refcount.h
  temp/semaphore.cpp
  temp/semaphore.h
  temp/semaphore_iphone.cpp
  temp/semaphore_iphone.h
  temp/semaphore_osx.cpp
  temp/semaphore_osx.h
  temp/semaphore_posix.cpp
  temp/semaphore_posix.h
  temp/semaphore_windows.cpp
  temp/semaphore_windows.h
  temp/thread.cpp
  temp/thread.h
  temp/thread_jandroid.cpp
  temp/thread_jandroid.h
  temp/thread_posix.cpp
  temp/thread_posix.h
  temp/thread_uwp.cpp
  temp/thread_uwp.h
  temp/thread_windows.cpp
  temp/thread_windows.h
Owners: none

Copy the current thread implementations under drivers.
  drivers/std_thread/mutex.cpp
  drivers/std_thread/mutex.h
  drivers/std_thread/rw_lock.h
  drivers/std_thread/safe_refcount.cpp
  drivers/std_thread/safe_refcount.h
  drivers/std_thread/semaphore.h
  drivers/std_thread/spin_lock.h
  drivers/std_thread/thread.cpp
  drivers/std_thread/thread.h
Owners: none

Now the X11 platform uses pthreads directly.
  core/os/thread.cpp
  core/os/thread.h
  drivers/unix/thread_posix.cpp
  main/main.cpp
  platform/x11/SCsub
  platform/x11/platform_config.h
  platform/x11/platform_thread.cpp
  platform/x11/platform_thread.h
Owners: @godotengine/core, @godotengine/_platforms, @godotengine/linux-bsd

Also set pthread priority.
  platform/x11/platform_thread.cpp
Owners: @godotengine/linux-bsd

Added the pthread implementation as platform thread overrides to all flatforms that can use it unmodified.
  platform/frt/SCsub
  platform/frt/platform_config.h
  platform/frt/platform_thread.cpp
  platform/frt/platform_thread.h
  platform/frt_sdl/SCsub
  platform/frt_sdl/platform_config.h
  platform/frt_sdl/platform_thread.cpp
  platform/frt_sdl/platform_thread.h
  platform/iphone/SCsub
  platform/iphone/platform_config.h
  platform/iphone/platform_thread.cpp
  platform/iphone/platform_thread.h
  platform/osx/SCsub
  platform/osx/platform_config.h
  platform/osx/platform_thread.cpp
  platform/osx/platform_thread.h
  platform/server/SCsub
  platform/server/platform_config.h
  platform/server/platform_thread.cpp
  platform/server/platform_thread.h
Owners: @godotengine/buildsystem, @godotengine/ios, @godotengine/macos

Override thread implementation for android aswell.
  platform/android/SCsub
  platform/android/platform_config.h
  platform/android/platform_thread.cpp
  platform/android/platform_thread.h
  platform/android/thread_jandroid.cpp
Owners: @godotengine/android

Setup native threads for windows aswell.
  platform/windows/SCsub
  platform/windows/platform_config.h
  platform/windows/platform_thread.cpp
  platform/windows/platform_thread.h
Owners: @godotengine/windows

Note.
  README.md
Owners: none

Fix missing return value.
  platform/android/platform_thread.cpp
Owners: @godotengine/android

pthread_setschedprio doesn't exists on osx.
  platform/osx/platform_thread.cpp
Owners: @godotengine/macos

Fix Windows thread's global static callback method trying to access Thread's private members.
  platform/windows/platform_thread.cpp
  platform/windows/platform_thread.h
Owners: @godotengine/windows

Fix trying to return undeclared identifier.
  platform/windows/platform_thread.cpp
Owners: @godotengine/windows

iOS doesn't have pthread_setschedprio either.
  platform/iphone/platform_thread.cpp
Owners: @godotengine/ios

Disable temporarily the pthread_setschedparam calls.
  platform/iphone/platform_thread.cpp
  platform/osx/platform_thread.cpp
Owners: @godotengine/ios, @godotengine/macos

Init _main_thread_id to 0 everywhere.
  platform/android/platform_thread.cpp
  platform/frt/platform_thread.cpp
  platform/frt_sdl/platform_thread.cpp
  platform/iphone/platform_thread.cpp
  platform/osx/platform_thread.cpp
  platform/server/platform_thread.cpp
  platform/x11/platform_thread.cpp
Owners: @godotengine/android, @godotengine/ios, @godotengine/macos, @godotengine/linux-bsd

Add platform thread override to the javascript platform aswell.
  platform/javascript/SCsub
  platform/javascript/platform_config.h
  platform/javascript/platform_thread.cpp
  platform/javascript/platform_thread.h
Owners: @godotengine/html5

Make the default thread implementation in core the dummy one.
  core/os/thread.cpp
  core/os/thread.h
Owners: @godotengine/core

Move thread_posix.h and cpp.
  drivers/std_thread/thread_posix.cpp
  drivers/std_thread/thread_posix.h
  drivers/unix/os_unix.cpp
Owners: @godotengine/_platforms

Now platform_threads.h are used whwnewer NO_THREADS is defined. Removed PLATFORM_THREAD_OVERRIDE.
  core/os/thread.h
  drivers/std_thread/thread.cpp
  drivers/std_thread/thread.h
  drivers/std_thread/thread_posix.cpp
  platform/android/platform_config.h
  platform/android/thread_jandroid.cpp
  platform/frt/platform_config.h
  platform/frt_sdl/platform_config.h
  platform/iphone/platform_config.h
  platform/javascript/platform_config.h
  platform/osx/platform_config.h
  platform/server/platform_config.h
  platform/windows/platform_config.h
  platform/x11/platform_config.h
Owners: @godotengine/core, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/macos, @godotengine/windows, @godotengine/linux-bsd

Use native mutex apis directly.
  core/os/mutex.h
  platform/android/platform_mutex.h
  platform/frt/platform_mutex.h
  platform/frt_sdl/platform_mutex.h
  platform/iphone/platform_mutex.h
  platform/javascript/platform_mutex.h
  platform/osx/platform_mutex.h
  platform/server/platform_mutex.h
  platform/windows/SCsub
  platform/windows/platform_mutex.cpp
  platform/windows/platform_mutex.h
  platform/x11/platform_mutex.h
Owners: @godotengine/core, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/macos, @godotengine/windows, @godotengine/linux-bsd

Fix typo.
  platform/windows/platform_mutex.cpp
Owners: @godotengine/windows

Fix missing memnew declaration.
  platform/windows/platform_mutex.cpp
Owners: @godotengine/windows

Move includes in mutex.h.
  core/os/mutex.h
Owners: @godotengine/core

Cast before deleting for good measure.
  platform/windows/platform_mutex.cpp
Owners: @godotengine/windows

Remove unnecessary always inlines.
  platform/windows/platform_mutex.h
Owners: @godotengine/windows

Add missing include.
  modules/camera_drivers/camera_feed_linux.cpp
Owners: none
