Repository Relintai/pandemonium_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/debugger, @godotengine/usability, @godotengine/2d-editor, @godotengine/script-editor, @godotengine/shaders, @godotengine/docks, @godotengine/tests, @godotengine/gdnative, @godotengine/gdscript, @godotengine/mono, @godotengine/visualscript, @godotengine/gui-nodes, @godotengine/xr, @godotengine/physics, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/html5, @godotengine/linux-bsd, @godotengine/macos, @godotengine/uwp, @godotengine/2d-nodes, @godotengine/animation

fix TypedArray::duplicate().
  core/variant/typed_array.cpp
Owners: @godotengine/core

Added more validation and helper methods to the new arrays.
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/typed_array.cpp
  core/variant/typed_array.h
Owners: @godotengine/core

Cache whether a class is a global script in the new arrays.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core

Fix warn logic.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core

Make some methods const in the new arrays.
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/typed_array.cpp
  core/variant/typed_array.h
Owners: @godotengine/core

Update binds for the new arrays.
  core/variant/variant_call.cpp
Owners: @godotengine/core

Re-extracted class docs.
  doc/classes/PackedTypedArray.xml
  doc/classes/Projection.xml
  doc/classes/Rect2i.xml
  doc/classes/TypedArray.xml
Owners: @godotengine/documentation

Remove not yet finished text from the docs of the new arrays. They are still WIP, but now should be usable.
  doc/classes/PackedTypedArray.xml
  doc/classes/TypedArray.xml
Owners: @godotengine/documentation

Tweak readme.
  README.md
Owners: none

Initial gdnative bindings for typed arrays.
  modules/gdnative/gdnative/packed_typed_array.cpp
  modules/gdnative/gdnative/typed_array.cpp
  modules/gdnative/include/gdn/packed_typed_array.h
  modules/gdnative/include/gdn/typed_array.h
Owners: @godotengine/gdnative

Updated the gdnative helper scripts.
  modules/gdnative/scripts/api_json_helper.ipynb
  modules/gdnative/scripts/core_binding_gen_helper_util.ipynb
Owners: @godotengine/gdnative

Update the gdnative api for the new array types.
  modules/gdnative/gdnative/packed_typed_array.cpp
  modules/gdnative/gdnative/typed_array.cpp
  modules/gdnative/include/gdn/packed_typed_array.h
  modules/gdnative/include/gdn/typed_array.h
Owners: @godotengine/gdnative

Update gdnative's variant.
  modules/gdnative/gdnative/variant.cpp
  modules/gdnative/include/gdn/variant.h
Owners: @godotengine/gdnative

Update gdnative_api.json.
  modules/gdnative/gdnative_api.json
Owners: @godotengine/gdnative

Reformat gdnative_api.json.
  modules/gdnative/gdnative_api.json
Owners: @godotengine/gdnative

Tweak readme.
  README.md
Owners: none

Fix typo.
  core/variant/packed_typed_array.cpp
  core/variant/typed_array.cpp
Owners: @godotengine/core

Fix warning.
  modules/gdnative/gdnative/packed_typed_array.cpp
  modules/gdnative/gdnative/typed_array.cpp
Owners: @godotengine/gdnative

Fix copying type in a TypedArray constructor.
  core/variant/typed_array.cpp
Owners: @godotengine/core

Check type too in TypedArray::deep_equal().
  core/variant/typed_array.cpp
Owners: @godotengine/core

PackedTypedArray internal rework pt1.
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
  core/variant/variant_call.cpp
Owners: @godotengine/core

Use VEctor of Variants in PackedTypedArray when dealing with PoolVectors.
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

PackedTypedArray internal rework pt2.
  core/variant/packed_typed_array.cpp
  core/variant/packed_typed_array.h
Owners: @godotengine/core

Bind the new methods in PackedTypedArra.
  core/variant/variant_call.cpp
Owners: @godotengine/core

Added the new methods to the gdnative api.
  modules/gdnative/gdnative/packed_typed_array.cpp
  modules/gdnative/gdnative_api.json
  modules/gdnative/include/gdn/packed_typed_array.h
Owners: @godotengine/gdnative

Remove unneeded variables.
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Fix crash.
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Reimplement PackedTypedArray::sort().
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Reimplement PackedTypedArray::sort_custom().
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Reimplement PackedTypedArray::shuffle().
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Reimplement PackedTypedArray::bsearch().
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Reimplement PackedTypedArray::bsearch_custom().
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Add missing checks to PackedTypedArray::bsearch().
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Reimplement PackedTypedArray::pop_back() and PackedTypedArray::pop_front().
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Reimplement PackedTypedArray::pop_at().
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Reimplement PackedTypedArray::append_array().
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Undef all macros at the end of the file in packed_typed_array.cpp.
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Reimplement PackedTypedArray::recursive_hash().
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Also include internals in PackedTypedArray's recursive hash, and check for null.
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

Remove now unneeded member from PackedTypedArray.
  core/variant/packed_typed_array.cpp
Owners: @godotengine/core

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/input*.*                      @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/dummy/                     @godotengine/rendering
/drivers/gl_context/                @godotengine/rendering
/drivers/gles2/                     @godotengine/rendering
/drivers/gles3/                     @godotengine/rendering
/drivers/gles_common/               @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/plugins/*2d_*.*             @godotengine/2d-editor
/editor/plugins/script_*.*          @godotengine/script-editor
/editor/plugins/*shader*.*          @godotengine/shaders
/editor/code_editor.*               @godotengine/script-editor
/editor/*dock*.*                    @godotengine/docks

# Main

/main/                              @godotengine/core
/main/tests/                        @godotengine/tests

# Misc

/misc/                              @godotengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/stb_vorbis/                @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio
/modules/webm/                      @godotengine/audio

## Import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etc/                       @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/pvr/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/denoise/                   @godotengine/rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_cpu/           @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdnative/                  @godotengine/gdnative
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/mono
/modules/visual_script/             @godotengine/visualscript

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/gdnative/text/             @godotengine/gui-nodes
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/gdnative/arvr/             @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/bullet/                    @godotengine/physics
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/opensimplex/               @godotengine/3d-nodes
/modules/recast/                    @godotengine/navigation
/modules/regex/                     @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/iphone/                   @godotengine/ios
/platform/javascript/               @godotengine/html5
/platform/x11/                      @godotengine/linux-bsd
/platform/osx/                      @godotengine/macos
/platform/uwp/                      @godotengine/uwp
/platform/windows/                  @godotengine/windows

# Scene

/scene/2d/                          @godotengine/2d-nodes
/scene/3d/                          @godotengine/3d-nodes
/scene/animation/                   @godotengine/animation
/scene/audio/                       @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/main/                        @godotengine/core
/scene/resources/default_theme/     @godotengine/gui-nodes
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/visual_shader*.*   @godotengine/shaders

# Servers

/servers/arvr*                      @godotengine/xr
/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/physics*                   @godotengine/physics
/servers/visual*                    @godotengine/rendering

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
